23178_Gong - Create Calls.json
{"flow":[{"id":41,"mapper":{"limit":"1","query":"SELECT\n    FIELDS(ALL)\nFROM\n    Account\nWHERE\n    Name = 'GitLab'","searchType":"soql","disableLimit":false,"disableOffset":false},"module":"salesforce:listRecordsInAnObject","version":3,"metadata":{"expect":[{"name":"searchType","type":"select","label":"Search By","required":true,"validate":{"enum":["simple","soql"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"query","type":"text","label":"SOQL Query","required":true},{"name":"disableLimit","type":"boolean","label":"Disable Limit on Query","required":true},{"name":"disableOffset","type":"boolean","label":"Disable Offset on Query","required":true}],"restore":{"expect":{"searchType":{"label":"Using SOQL (Salesforce Object Query Language)"},"disableLimit":{"mode":"chose"},"disableOffset":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"salesforce"},"label":"GTM-SE-Demo (celonis--makedev.sandbox.my.salesforce.com - Make gtm-se-demo)"}}},"designer":{"x":0,"y":150,"name":"Get GitLab Account"},"parameters":[{"name":"__IMTCONN__","type":"account:salesforce,salesforce2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":11059}},{"id":46,"mapper":{"limit":"10","query":"SELECT FIELDS(ALL)\nFROM AccountTeamMember\nWHERE AccountId = '{{41.Id}}' \n    AND TeamMemberRole IN ('Integromat Owner', 'Integromat Solution Engineer')","searchType":"soql","disableLimit":false,"disableOffset":false},"module":"salesforce:listRecordsInAnObject","version":3,"metadata":{"expect":[{"name":"searchType","type":"select","label":"Search By","required":true,"validate":{"enum":["simple","soql"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"query","type":"text","label":"SOQL Query","required":true},{"name":"disableLimit","type":"boolean","label":"Disable Limit on Query","required":true},{"name":"disableOffset","type":"boolean","label":"Disable Offset on Query","required":true}],"restore":{"expect":{"searchType":{"label":"Using SOQL (Salesforce Object Query Language)"},"disableLimit":{"mode":"chose"},"disableOffset":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"salesforce"},"label":"GTM-SE-Demo (celonis--makedev.sandbox.my.salesforce.com - Make gtm-se-demo)"}}},"designer":{"x":300,"y":150,"name":"Get Team Members"},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"Id","type":"text","label":"Account Team Member ID"},{"name":"AccountId","type":"text","label":"Account ID"},{"name":"UserId","type":"text","label":"User ID"},{"name":"TeamMemberRole","type":"text","label":"Team Role"},{"name":"PhotoUrl","type":"url","label":"Url for thumbnail sized photo"},{"name":"Title","type":"text","label":"Title"},{"name":"AccountAccessLevel","type":"text","label":"Account Access"},{"name":"OpportunityAccessLevel","type":"text","label":"Opportunity Access"},{"name":"CaseAccessLevel","type":"text","label":"Case Access"},{"name":"ContactAccessLevel","type":"text","label":"Contact Access"},{"name":"CurrencyIsoCode","type":"text","label":"Currency ISO Code"},{"name":"CreatedDate","type":"date","label":"Created Date"},{"name":"CreatedById","type":"text","label":"Created By ID"},{"name":"LastModifiedDate","type":"date","label":"Last Modified Date"},{"name":"LastModifiedById","type":"text","label":"Last Modified By ID"},{"name":"SystemModstamp","type":"date","label":"System Modstamp"},{"name":"IsDeleted","type":"boolean","label":"Deleted"}],"parameters":[{"name":"__IMTCONN__","type":"account:salesforce,salesforce2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":11059}},{"id":48,"flags":{"groupBy":"{{46.AccountId}}"},"mapper":{"Id":"{{46.Id}}","UserId":"{{46.UserId}}","TeamMemberRole":"{{46.TeamMemberRole}}"},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"Get GitLab Account - Search Records (SOQL) [41]"},"target":{"label":"Custom"}}},"advanced":true,"designer":{"x":600,"y":150}},"parameters":{"feeder":41}},{"id":39,"mapper":{"url":"/v2/users","method":"GET","headers":[{"key":"Content-Type","value":"application/json"}]},"module":"gong:MakeAPICall","version":1,"metadata":{"expect":[{"name":"url","type":"text","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["GET","POST","PUT","PATCH","DELETE"]}},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"body","type":"any","label":"Body"}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"gong"},"label":"GTM VE Gong connection (942982434555972255)"}}},"designer":{"x":900,"y":150,"name":"Get User Details"},"parameters":[{"name":"__IMTCONN__","type":"account:gong","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":10920}},{"id":53,"mapper":{"array":"{{39.body.users}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":1200,"y":150}},"parameters":{}},{"id":58,"filter":{"name":"Nick","conditions":[[{"a":"{{53.lastName}}","b":"Boltz","o":"text:equal"}]]},"mapper":{"gongUser":[{"name":"{{53.firstName}} {{53.lastName}}","userId":"{{53.id}}","emailAddress":"{{53.emailAddress}}"}]},"module":"json:AggregateToJSON","version":1,"metadata":{"expect":[{"name":"gongUser","spec":{"name":"value","spec":[{"name":"emailAddress","type":"text","label":null},{"name":"userId","type":"text","label":null},{"name":"name","type":"text","label":null}],"type":"collection"},"type":"array","label":null}],"restore":{"extra":{"feeder":{"label":"Iterator [53]"}},"expect":{"gongUser":{"mode":"chose","items":[null]}},"parameters":{"type":{"label":"gongUser"},"space":{"label":"Empty"}}},"designer":{"x":1500,"y":150},"parameters":[{"name":"type","type":"udt","label":"Data structure","required":true},{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"type":2641,"space":"","feeder":53}},{"id":60,"mapper":{"json":"{{58.json}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":1800,"y":150},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":42,"mapper":{"limit":"10","query":"SELECT\n    FIELDS(ALL)\nFROM\n    CONTACT\nWHERE\n    ACCOUNTID = '{{48.`__IMTKEY__`}}'","searchType":"soql","disableLimit":false,"disableOffset":false},"module":"salesforce:listRecordsInAnObject","version":3,"metadata":{"expect":[{"name":"searchType","type":"select","label":"Search By","required":true,"validate":{"enum":["simple","soql"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"query","type":"text","label":"SOQL Query","required":true},{"name":"disableLimit","type":"boolean","label":"Disable Limit on Query","required":true},{"name":"disableOffset","type":"boolean","label":"Disable Offset on Query","required":true}],"restore":{"expect":{"searchType":{"label":"Using SOQL (Salesforce Object Query Language)"},"disableLimit":{"mode":"chose"},"disableOffset":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"salesforce"},"label":"GTM-SE-Demo (celonis--makedev.sandbox.my.salesforce.com - Make gtm-se-demo)"}}},"designer":{"x":2100,"y":150,"name":"Get GitLab Contacts"},"parameters":[{"name":"__IMTCONN__","type":"account:salesforce,salesforce2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":11059}},{"id":64,"mapper":{"Name":"{{42.Name}}","Email":"{{42.Email}}"},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"Get GitLab Contacts - Search Records (SOQL) [42]"},"target":{"label":"Custom"}}},"designer":{"x":2400,"y":150}},"parameters":{"feeder":42}},{"id":66,"mapper":{"array":"{{64.array}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":2700,"y":150}},"parameters":{}},{"id":67,"mapper":{"gongUser":[{"name":"{{66.Name}}","userId":"","emailAddress":"{{66.Email}}"}]},"module":"json:AggregateToJSON","version":1,"metadata":{"expect":[{"name":"gongUser","spec":{"name":"value","spec":[{"name":"emailAddress","type":"text","label":null},{"name":"userId","type":"text","label":null},{"name":"name","type":"text","label":null}],"type":"collection"},"type":"array","label":null}],"restore":{"extra":{"feeder":{"label":"Iterator [66]"}},"expect":{"gongUser":{"mode":"chose","items":[null]}},"parameters":{"type":{"label":"gongUser"},"space":{"label":"Empty"}}},"designer":{"x":3000,"y":150},"parameters":[{"name":"type","type":"udt","label":"Data structure","required":true},{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"type":2641,"space":"","feeder":66}},{"id":68,"mapper":{"json":"{{67.json}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":3300,"y":150},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":70,"mapper":{"array":"{{68.gongUser}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":3600,"y":150}},"parameters":{}},{"id":71,"mapper":{"name":"{{70.name}}","emailAddress":"{{70.emailAddress}}"},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"JSON - Parse JSON [68]"},"target":{"label":"Custom"}}},"designer":{"x":3900,"y":150}},"parameters":{"feeder":68}},{"id":59,"mapper":{"name":"usersArray","scope":"roundtrip","value":"{{merge(71.array; 60.gongUser)}}"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"designer":{"x":4200,"y":150},"interface":[{"name":"usersArray","type":"any","label":"usersArray"}]},"parameters":{}},{"id":40,"mapper":{"url":"/v2/workspaces","method":"GET","headers":[{"key":"Content-Type","value":"application/json"}]},"module":"gong:MakeAPICall","version":1,"metadata":{"expect":[{"name":"url","type":"text","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["GET","POST","PUT","PATCH","DELETE"]}},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"body","type":"any","label":"Body"}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"gong"},"label":"GTM VE Gong connection (942982434555972255)"}}},"designer":{"x":4500,"y":150,"name":"Get Workspace ID"},"parameters":[{"name":"__IMTCONN__","type":"account:gong","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":10920}},{"id":44,"mapper":{"limit":"10","orderBy":"startTime","timeMax":"11/30/2025 9:41 AM","timeMin":"11/01/2025 9:41 AM","calendar":"gtm-se-demo@make.com","eventTypes":["default","fromGmail"],"singleEvents":true},"module":"google-calendar:searchEvents","version":5,"metadata":{"expect":[{"name":"calendar","type":"select","label":"Calendar ID","required":true},{"name":"timeMin","time":true,"type":"date","label":"Start Date"},{"name":"timeMax","time":true,"type":"date","label":"End Date"},{"name":"updatedMin","time":true,"type":"date","label":"Updated from"},{"name":"singleEvents","type":"boolean","label":"Single Events","required":true},{"name":"q","type":"text","label":"Query"},{"name":"eventTypes","type":"select","label":"Event Types","multiple":true,"validate":{"enum":["default","fromGmail","focusTime","outOfOffice","workingLocation"]}},{"name":"orderBy","type":"select","label":"Order By","validate":{"enum":["startTime","updated"]}},{"name":"limit","type":"uinteger","label":"Limit"}],"restore":{"expect":{"orderBy":{"mode":"chose","label":"Start Time (ascending)"},"calendar":{"mode":"chose","label":"gtm-se-demo@make.com (Primary Calendar)"},"eventTypes":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"gtm-se-demo (gtm-se-demo@make.com)"}}},"designer":{"x":4800,"y":150},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":673}},{"id":72,"filter":{"name":"only valid meetings","conditions":[[{"a":"{{44.summary}}","b":"Missing","o":"text:notcontain"}]]},"mapper":{"title":"{{44.summary}}","parties":"{{59.usersArray}}","purpose":"{{substring(44.description; 0; 254)}}","duration":"{{round((44.end - 44.start) / 60000)}}","direction":"Conference","actualStart":"{{44.start}}","primaryUser":"5696811018771656508","scheduledEnd":"{{44.end}}","clientUniqueId":"{{44.id}}","scheduledStart":"{{44.start}}","downloadMediaUrl":"https://storage.googleapis.com/make-ve-external/{{replace(replace(44.summary; space + \"|\" + space; \"_\"); space; \"_\")}}.mp4"},"module":"json:CreateJSON","version":1,"metadata":{"expect":[{"name":"clientUniqueId","type":"text","label":"Client unique ID"},{"name":"title","type":"text","label":"Title"},{"name":"purpose","type":"text","label":"Purpose"},{"name":"scheduledStart","type":"text","label":"Scheduled start"},{"name":"scheduledEnd","type":"text","label":"Scheduled end"},{"name":"actualStart","type":"text","label":"Actual start"},{"name":"duration","type":"number","label":"Duration"},{"name":"parties","spec":{"name":"value","spec":[{"name":"emailAddress","type":"text","label":null},{"name":"name","type":"text","label":null},{"name":"userId","type":"text","label":null}],"type":"collection"},"type":"array","label":"Parties"},{"name":"direction","type":"text","label":"Direction"},{"name":"primaryUser","type":"text","label":"Primary user"},{"name":"downloadMediaUrl","type":"text","label":null}],"restore":{"expect":{"parties":{"mode":"edit"}},"parameters":{"type":{"label":"GongCall"},"space":{"label":"Empty"}}},"designer":{"x":5100,"y":150},"parameters":[{"name":"type","type":"udt","label":"Data structure","required":true},{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"type":2640,"space":""}},{"id":82,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":38,"mapper":{"url":"/v2/calls","body":"{{72.json}}","method":"POST","headers":[{"key":"Content-Type","value":"application/json"}]},"module":"gong:MakeAPICall","version":1,"metadata":{"expect":[{"name":"url","type":"text","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["GET","POST","PUT","PATCH","DELETE"]}},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"body","type":"any","label":"Body"}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"gong"},"label":"GTM VE Gong connection (942982434555972255)"}}},"designer":{"x":5700,"y":0,"name":"Create New Call"},"parameters":[{"name":"__IMTCONN__","type":"account:gong","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":10920}}],"disabled":true},{"flow":[{"id":90,"mapper":{"limit":"10","query":"select FIELDS(ALL)\nfrom OPPORTUNITY","searchType":"soql","disableLimit":false,"disableOffset":false},"module":"salesforce:listRecordsInAnObject","version":3,"metadata":{"expect":[{"name":"searchType","type":"select","label":"Search By","required":true,"validate":{"enum":["simple","soql"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"query","type":"text","label":"SOQL Query","required":true},{"name":"disableLimit","type":"boolean","label":"Disable Limit on Query","required":true},{"name":"disableOffset","type":"boolean","label":"Disable Offset on Query","required":true}],"restore":{"expect":{"searchType":{"label":"Using SOQL (Salesforce Object Query Language)"},"disableLimit":{"mode":"chose"},"disableOffset":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"salesforce"},"label":"GTM-SE-Demo (celonis--makedev.sandbox.my.salesforce.com - Make gtm-se-demo)"}}},"designer":{"x":5700,"y":300},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"Id","type":"text","label":"Opportunity ID"},{"name":"IsDeleted","type":"boolean","label":"Deleted"},{"name":"AccountId","type":"text","label":"Account ID"},{"name":"RecordTypeId","type":"text","label":"Record Type ID"},{"name":"Name","type":"text","label":"Name"},{"name":"Description","type":"text","label":"Description"},{"name":"StageName","type":"text","label":"Stage"},{"name":"Amount","type":"number","label":"Amount"},{"name":"Probability","type":"number","label":"Probability (%)"},{"name":"ExpectedRevenue","type":"number","label":"Expected Amount"},{"name":"CloseDate","type":"date","label":"Close Date"},{"name":"Type","type":"text","label":"Opportunity Type"},{"name":"NextStep","type":"text","label":"Next Step"},{"name":"LeadSource","type":"text","label":"Lead Source"},{"name":"IsClosed","type":"boolean","label":"Closed"},{"name":"IsWon","type":"boolean","label":"Won"},{"name":"ForecastCategory","type":"text","label":"Forecast Category"},{"name":"ForecastCategoryName","type":"text","label":"Forecast Category"},{"name":"CurrencyIsoCode","type":"text","label":"Opportunity Currency"},{"name":"CampaignId","type":"text","label":"Campaign ID"},{"name":"HasOpportunityLineItem","type":"boolean","label":"Has Line Item"},{"name":"IsSplit","type":"boolean","label":"Is Split"},{"name":"OwnerId","type":"text","label":"Owner ID"},{"name":"CreatedDate","type":"date","label":"Created Date"},{"name":"CreatedById","type":"text","label":"Created By ID"},{"name":"LastModifiedDate","type":"date","label":"Last Modified Date"},{"name":"LastModifiedById","type":"text","label":"Last Modified By ID"},{"name":"SystemModstamp","type":"date","label":"System Modstamp"},{"name":"LastActivityDate","type":"date","label":"Last Activity"},{"name":"PushCount","type":"number","label":"Push Count"},{"name":"LastStageChangeDate","type":"date","label":"Last Stage Change Date"},{"name":"FiscalQuarter","type":"number","label":"Fiscal Quarter"},{"name":"FiscalYear","type":"number","label":"Fiscal Year"},{"name":"Fiscal","type":"text","label":"Fiscal Period"},{"name":"ContactId","type":"text","label":"Contact ID"},{"name":"LastViewedDate","type":"date","label":"Last Viewed Date"},{"name":"LastReferencedDate","type":"date","label":"Last Referenced Date"},{"name":"HasOpenActivity","type":"boolean","label":"Has Open Activity"},{"name":"HasOverdueTask","type":"boolean","label":"Has Overdue Task"},{"name":"LastAmountChangedHistoryId","type":"text","label":"Opportunity History ID"},{"name":"LastCloseDateChangedHistoryId","type":"text","label":"Opportunity History ID"},{"name":"AcceptedProposalsSoftwareServices__c","type":"number","label":"Accepted Proposals (Software/Services)"},{"name":"PartnerManager__c","type":"text","label":"Partner Manager"},{"name":"PartnerInfluenced__c","type":"boolean","label":"Partner Influenced old"},{"name":"PipedrivePipeline__c","type":"text","label":"Pipedrive Pipeline"},{"name":"LostReason__c","type":"text","label":"Lost Reason"},{"name":"Co_delivery_Services_Partner__c","type":"text","label":"Co-delivery Services Partner"},{"name":"ProcessOfInterest__c","type":"text","label":"Process Of Interest_old"},{"name":"TotalPOV__c","type":"number","label":"Total POV"},{"name":"TotalServices__c","type":"number","label":"Total Services"},{"name":"TotalSoftware__c","type":"number","label":"Total Software"},{"name":"NumberofSaaSproducts__c","type":"number","label":"Number of SaaS products"},{"name":"NumberOfOnPremiseProducts__c","type":"number","label":"Number of OnPremise products"},{"name":"PD_ID__c","type":"text","label":"PD ID"},{"name":"BDR__c","type":"text","label":"BDR"},{"name":"NumberofProducts__c","type":"number","label":"Number of Products"},{"name":"DeliveringPartner__c","type":"text","label":"Primary Partner"},{"name":"Qualificationquestions__c","type":"text","label":"Qualification questions Lead"},{"name":"ShareDeliveringOpportunity__c","type":"text","label":"Share Delivering Opportunity"},{"name":"imt_make_dispute_form__c","type":"text","label":"Make Dispute Form"},{"name":"ShareResellingOpportunity__c","type":"text","label":"Share Reselling Opportunity"},{"name":"BDRInfluenced__c","type":"boolean","label":"BDR Influenced"},{"name":"imt_1st_Use_Case_Activation_Confirmed__c","type":"date","label":"1st Use Case Activation Confirmed"},{"name":"Solution_In_Text__c","type":"text","label":"Solution In Text"},{"name":"US_ID__c","type":"text","label":"US ID"},{"name":"TSPC__CPDealCount__c","type":"number","label":"CP: ClosePlan Count"},{"name":"Follow_up_Opportunity__c","type":"text","label":"Follow up Opportunity"},{"name":"Celonis_Forecast_category__c","type":"text","label":"Celonis Forecast category"},{"name":"MEDDICC_Metrics__c","type":"text","label":"KPIs (with targets and current status)"},{"name":"MEDDIC_Economic_Buyer__c","type":"text","label":"Economic Buyer"},{"name":"MEDDIC_Decision_Criteria__c","type":"text","label":"Elaborate on Decision Criteria"},{"name":"MEDDIC_Decision_Process__c","type":"text","label":"Elaborate on Decision Process"},{"name":"MEDDIC_Identified_Pain__c","type":"text","label":"Business Pain Identified (if not, why?)"},{"name":"MEDDIC_Champion__c","type":"text","label":"Champion"},{"name":"RSI_Venture_Manager__c","type":"text","label":"RSI Venture Manager"},{"name":"CVM_Involved__c","type":"boolean","label":"CVM Involved"},{"name":"PM_Ranking__c","type":"number","label":"PM Ranking"},{"name":"Partner_referral_fee_until__c","type":"date","label":"Partner referral fee until"},{"name":"Price_indication__c","type":"text","label":"Price indication"},{"name":"OppSharingHelper__c","type":"boolean","label":"OppSharingHelper"},{"name":"Software_Opportunity__c","type":"text","label":"Software Opportunity"},{"name":"Deal_Briefing__c","type":"url","label":"Deal Briefing"},{"name":"Number_of_BVAs__c","type":"text","label":"Number of CVAs"},{"name":"SourcedbyUser__c","type":"boolean","label":"$SourcedbyUser"},{"name":"imt_Churn_Approval_Forced__c","type":"boolean","label":"Make Churn Approval Forced"},{"name":"Opportunity_Link__c","type":"text","label":"Opportunity Link"},{"name":"TPM_ID_Closed__c","type":"text","label":"TPM ID @Closed"},{"name":"Other_System__c","type":"text","label":"Other System"},{"name":"Safe_Harbor_Type__c","type":"text","label":"Safe Harbor Type"},{"name":"imt_Online_ARR_for_ACV__c","type":"number","label":"Online ARR for ACV (USD)"},{"name":"Implementation_Partner__c","type":"text","label":"Implementation Partner"},{"name":"BPM_Amount__c","type":"number","label":"Process Management Amount"},{"name":"Exec_Sponsorship_Program__c","type":"boolean","label":"Exec Sponsorship Program (opp)"},{"name":"Sales_Excellence_Level_Timestamp__c","type":"text","label":"Sales Excellence Level Timestamp"},{"name":"Implementation_Opportunity__c","type":"text","label":"Implementation Opportunity"},{"name":"imt_Commission_Payout_Process_Triggered__c","type":"boolean","label":"Make Commission Payout Process Triggered"},{"name":"OpportunityID__c","type":"text","label":"OpportunityID"},{"name":"PrimaryPresalesShareId__c","type":"text","label":"PrimaryPresalesShareId"},{"name":"SecondaryPresalesShareId__c","type":"text","label":"SecondaryPresalesShareId"},{"name":"NumberOfServicesProducts__c","type":"number","label":"Number Of Services Products"},{"name":"NumberofTrainingProducts__c","type":"number","label":"Number of Training Products"},{"name":"Request_Quote__c","type":"text","label":"Request Quote"},{"name":"FinOps_Influenced__c","type":"text","label":"FinOps Influenced"},{"name":"Opportunity_Owner_Sales_Region__c","type":"text","label":"Opportunity Owner Sales Region"},{"name":"imt_ICP_Category__c","type":"text","label":"Enterprise Plan Fit"},{"name":"imt_Customer_Apps__c","type":"text","label":"Customer Apps"},{"name":"imt_Follow_up_Call__c","type":"text","label":"Follow-up Call"},{"name":"imt_Non_Make_Customer_Apps__c","type":"text","label":"Non Make Customer Apps"},{"name":"imt_Customer_Apps_Form__c","type":"text","label":"Customer Tech Stack Form"},{"name":"Total_implementation_effort_scoped_Days__c","type":"number","label":"Total implementation effort scoped -Days"},{"name":"Exclude_from_Automation__c","type":"boolean","label":"Exclude from Automation"},{"name":"imt_Is_Opp_After_Renewal_Date__c","type":"boolean","label":"Is Opp After Renewal Date"},{"name":"RfX_Count__c","type":"number","label":"RfX Count"},{"name":"Software_ACV__c","type":"number","label":"Software ACV"},{"name":"Validated_by_Renewals_Management__c","type":"boolean","label":"Validated by Renewals Management"},{"name":"SAO_Date__c","type":"date","label":"SAO Date"},{"name":"gaconnector_City__c","type":"text","label":"City"},{"name":"gaconnector_Country__c","type":"text","label":"Country gaconnector"},{"name":"gaconnector_First_Click_Campaign__c","type":"text","label":"First Click Campaign"},{"name":"gaconnector_First_Click_Channel__c","type":"text","label":"First Click Channel"},{"name":"gaconnector_First_Click_Content__c","type":"text","label":"First Click Content"},{"name":"gaconnector_First_Click_Landing_Page__c","type":"text","label":"First Click Landing Page"},{"name":"gaconnector_First_Click_Medium__c","type":"text","label":"First Click Medium"},{"name":"gaconnector_First_Click_Referrer__c","type":"text","label":"First Click Referrer"},{"name":"gaconnector_First_Click_Source__c","type":"text","label":"First Click Source"},{"name":"gaconnector_First_Click_Term__c","type":"text","label":"First Click Term"},{"name":"gaconnector_Google_Analytics_Client_ID__c","type":"text","label":"Google Analytics Client ID"},{"name":"gaconnector_Google_Analytics_Link__c","type":"text","label":"Google Analytics Link"},{"name":"gaconnector_IP_Address__c","type":"text","label":"IP Address"},{"name":"gaconnector_Last_Click_Campaign__c","type":"text","label":"Last Click Campaign"},{"name":"gaconnector_Last_Click_Channel__c","type":"text","label":"Last Click Channel"},{"name":"gaconnector_Last_Click_Content__c","type":"text","label":"Last Click Content"},{"name":"gaconnector_Last_Click_Landing_Page__c","type":"text","label":"Last Click Landing Page"},{"name":"gaconnector_Last_Click_Medium__c","type":"text","label":"Last Click Medium"},{"name":"gaconnector_Last_Click_Referrer__c","type":"text","label":"Last Click Referrer"},{"name":"gaconnector_Last_Click_Source__c","type":"text","label":"Last Click Source"},{"name":"gaconnector_Last_Click_Term__c","type":"text","label":"Last Click Term"},{"name":"gaconnector_Latitude_from_IP__c","type":"text","label":"Latitude"},{"name":"gaconnector_Location_approx__c","type":"text","label":"Location (approx.)"},{"name":"gaconnector_Longitude__c","type":"text","label":"Longitude"},{"name":"gaconnector_Number_of_Website_Visits__c","type":"text","label":"Number of Website Visits"},{"name":"gaconnector_Pages_visited__c","type":"text","label":"Pages visited"},{"name":"gaconnector_Time_Spent_on_Website__c","type":"number","label":"Time Spent on Website"},{"name":"gaconnector_Time_Spent_on_Website_formul__c","type":"text","label":"Time Spent on Website"},{"name":"gaconnector_Time_Zone__c","type":"text","label":"Time Zone"},{"name":"Deal_Desk_Manager__c","type":"text","label":"Deal Desk Manager"},{"name":"Department__c","type":"text","label":"Department"},{"name":"Engagement_Type__c","type":"text","label":"Engagement Type"},{"name":"FlagBDRBatch__c","type":"boolean","label":"FlagBDRBatch"},{"name":"ECUSTOMS__RPS_RiskCountry_Status__c","type":"text","label":"Account Risk Country Status"},{"name":"ECUSTOMS__RPS_Status__c","type":"text","label":"Account RPS Status"},{"name":"CCO_Value__c","type":"number","label":"Global Amount"},{"name":"zqu__CurrentGenerators__c","type":"text","label":"Current Generator(s)"},{"name":"zqu__DeliveryInstallationStatus__c","type":"text","label":"Delivery/Installation Status"},{"name":"zqu__MainCompetitors__c","type":"text","label":"Main Competitor(s)"},{"name":"zqu__OrderNumber__c","type":"text","label":"Order Number"},{"name":"zqu__TrackingNumber__c","type":"text","label":"Tracking Number"},{"name":"Description_Partner_Influenced_Support__c","type":"text","label":"TCM Notes"},{"name":"E2__c","type":"text","label":"EB has confirmed the Blueprint"},{"name":"Opportunity_ID_Unique__c","type":"text","label":"Opportunity ID Unique"},{"name":"Renewal_Type__c","type":"text","label":"Renewal Type"},{"name":"Opportunity_Owner_Sales_Team__c","type":"text","label":"Opportunity Owner Sales Team"},{"name":"imt_First_Opportunity_Source__c","type":"text","label":"First Opportunity Source"},{"name":"imt_Influencing_Opportunity_Sources__c","type":"text","label":"Influencing Opportunity Sources"},{"name":"Sales_Region_Closed_Won__c","type":"text","label":"Sales Region @Closed"},{"name":"Renewal_Date__c","type":"date","label":"Renewal Date"},{"name":"RenewalAmountConvertedUSD__c","type":"number","label":"RenewalAmountConvertedUSD"},{"name":"Updates_Count__c","type":"number","label":"Updates Count"},{"name":"Date_of_Handover_Workshop__c","type":"date","label":"Date of Handover Workshop"},{"name":"Handover_to_Delivery_completed__c","type":"boolean","label":"Closed Deal Checklist Completed"},{"name":"Valid_for_handover_to_delivery__c","type":"text","label":"Valid for handover to delivery"},{"name":"Technology_Partner__c","type":"text","label":"Technology Partner"},{"name":"imt_Sub_Type__c","type":"text","label":"Sub-Type"},{"name":"imt_Challenges__c","type":"text","label":"Challenges"},{"name":"imt_Notes__c","type":"text","label":"Sales Risks/Gaps"},{"name":"E3__c","type":"text","label":"EB accepts close plan & success criteria"},{"name":"Strategic_Alliance_Manager__c","type":"text","label":"Regional Partner Leader"},{"name":"MEDDIC_Competition_new__c","type":"text","label":"Competition"},{"name":"Competition_specified__c","type":"text","label":"Competitor Specified"},{"name":"Rejection_Reason__c","type":"text","label":"Rejection Reason"},{"name":"imt_Small_Company_Size_Justification__c","type":"text","label":"Small Company Size Justification"},{"name":"Partner_Driven__c","type":"text","label":"Partner Driven"},{"name":"Executive_Alignment__c","type":"boolean","label":"Executive Alignment"},{"name":"MEDDPICC_Help__c","type":"text","label":"MEDDPICC Help"},{"name":"imt_Make_Sales_Region__c","type":"text","label":"Make Sales Region"},{"name":"Negotiation__c","type":"boolean","label":"Negotiation"},{"name":"Opportunity_sent_to_AE__c","type":"boolean","label":"Opportunity sent to AE"},{"name":"Pain_Confirmed__c","type":"boolean","label":"Pain Confirmed"},{"name":"Pain_Discovery__c","type":"boolean","label":"Pain Discovery"},{"name":"Customer_Type__c","type":"text","label":"Customer Type"},{"name":"Proof__c","type":"boolean","label":"Proof"},{"name":"Proof_conducted__c","type":"text","label":"Proof conducted"},{"name":"Technology_Partner_Manager__c","type":"text","label":"Technology Partner Manager"},{"name":"SalesLoft1__Most_Recent_Cadence_Name__c","type":"text","label":"Most Recent Cadence - Cadence Name"},{"name":"SalesLoft1__Most_Recent_Last_Completed_Step__c","type":"number","label":"Most Recent Cadence - Last Step Number"},{"name":"SalesLoft1__Primary_Contact__c","type":"text","label":"SalesLoft Primary Contact"},{"name":"Technology_Partner_Manager_Notes__c","type":"text","label":"Technology Partner Manager Notes"},{"name":"Influencing_Partner_Contact__c","type":"text","label":"Primary Partner Contact"},{"name":"Opportunity_Source__c","type":"text","label":"Opportunity Source"},{"name":"Partner_Influenced_ACV__c","type":"number","label":"Partner Influenced ACV old"},{"name":"imt_Is_Auto_Renewal_performed__c","type":"boolean","label":"Is Auto-Renewal performed"},{"name":"Created_by_BDR__c","type":"number","label":"Created by BDR"},{"name":"E4__c","type":"text","label":"Celonis Leadership met with Customer"},{"name":"Trigger__c","type":"boolean","label":"Trigger Update Opportunity Manager Email"},{"name":"Process_Of_Interest__c","type":"text","label":"Process Of Interest"},{"name":"E6__c","type":"text","label":"Compelling event created with EB & Champ"},{"name":"N11__c","type":"text","label":"Implementation Strat Set & SOW presented"},{"name":"N3__c","type":"text","label":"Celonis confirmed as vendor of choice"},{"name":"N4__c","type":"text","label":"Pricing Agreement Validated"},{"name":"N6__c","type":"text","label":"MSA and Legal terms are aligned"},{"name":"P1__c","type":"text","label":"We want to do business w/ this account"},{"name":"SAL_Date__c","type":"date","label":"SAL Date"},{"name":"Total_Contract_Value_TCV__c","type":"number","label":"Total Contract Value (TCV)"},{"name":"imt_Opportunity_Source__c","type":"text","label":"[OLD] Make Opportunity Source"},{"name":"Initial_Contact_Role__c","type":"text","label":"Initial Contact - Role"},{"name":"Initial_Contact__c","type":"text","label":"Initial Contact"},{"name":"Has_Z_Quote__c","type":"number","label":"# of Quotes"},{"name":"BDR_split__c","type":"text","label":"BDR split"},{"name":"Opportunity_Count__c","type":"number","label":"Opportunity Count"},{"name":"Churn_Reason_Helptext__c","type":"text","label":"Churn Reason Helptext"},{"name":"Implementation_Party_Reason__c","type":"text","label":"Implementation Party Reason"},{"name":"CHs__c","type":"number","label":"Champion Score"},{"name":"COs__c","type":"number","label":"Competition Score"},{"name":"DCs__c","type":"number","label":"Decision Criteria Score"},{"name":"DPs__c","type":"number","label":"Decision Process Score"},{"name":"imt_Active_Automation_Project_Exist__c","type":"text","label":"Active Automation Project Exists?"},{"name":"imt_Customer_Automation_Project_Note__c","type":"text","label":"Customer's Automation Project Note"},{"name":"imt_Estimated_Production_Timeline__c","type":"date","label":"Estimated Production Timeline"},{"name":"EAS__c","type":"number","label":"Executive Alignment Score"},{"name":"EBs__c","type":"number","label":"Economic Buyer Score"},{"name":"IPs__c","type":"number","label":"Identified Pain Score"},{"name":"Ms__c","type":"number","label":"Metrics Score"},{"name":"imt_Evaluation_Stakeholders_Confirmed__c","type":"text","label":"Evaluation Stakeholders Confirmed"},{"name":"imt_Implementation_Complexity__c","type":"text","label":"Implementation Complexity"},{"name":"imt_Is_Legal_Compliance_Security_OK__c","type":"text","label":"Is Legal & Compliance & Security OK?"},{"name":"imt_Key_Onboarding_Info__c","type":"text","label":"Key Onboarding Info"},{"name":"imt_Next_Step_Last_Update__c","type":"date","label":"Next-Step Last Update"},{"name":"imt_Automation_Success_Criteria_for_DM__c","type":"text","label":"Automation Success Criteria for DM"},{"name":"imt_C_Level_Sponsor__c","type":"text","label":"Decision Maker"},{"name":"imt_DM_Meeting_Notes__c","type":"text","label":"DM Meeting Notes"},{"name":"imt_DM_Meeting_Scheduled_Date__c","type":"date","label":"DM Meeting Scheduled Date"},{"name":"imt_Estimated_Budget__c","type":"number","label":"Estimated Budget"},{"name":"NS__c","type":"number","label":"Negotiation Score"},{"name":"Opportunity_Completion__c","type":"number","label":"Opportunity Completion Score"},{"name":"imt_Is_DM_Meeting_Delivered__c","type":"text","label":"Is DM Meeting Delivered?"},{"name":"imt_Is_Authority_Confirmed__c","type":"text","label":"Is Authority Confirmed?"},{"name":"Make_Bypass_VR_Backend__c","type":"boolean","label":"Make Bypass VR Backend"},{"name":"imt_Create_Opp_From_Account_Message__c","type":"text","label":"-"},{"name":"PC5__c","type":"boolean","label":"IT requirements are clear"},{"name":"Product_Feedback_Business_Domain__c","type":"text","label":"Product Feedback Business Domain"},{"name":"PCS__c","type":"number","label":"Pain Confirmed Score"},{"name":"PD2__c","type":"boolean","label":"Educated audience& built strong interest"},{"name":"PD8__c","type":"boolean","label":"Identified the internal influencers"},{"name":"PDS__c","type":"number","label":"Pain Discovery Score"},{"name":"PR4__c","type":"boolean","label":"EB confirmed all business requirements"},{"name":"PRS__c","type":"number","label":"Proof Score"},{"name":"PS__c","type":"number","label":"Profile Score"},{"name":"Stage_Completion_Score__c","type":"number","label":"Stage Completion Score"},{"name":"Approved_Pre_Sales_Requests__c","type":"number","label":"Approved Pre-Sales Requests"},{"name":"PreSales_Details_Count__c","type":"number","label":"PreSales Details Count"},{"name":"IBC_Conversion__c","type":"boolean","label":"IBC Conversion"},{"name":"has_Approved_Z_Quote__c","type":"number","label":"# of Approved Quotes"},{"name":"PAs__c","type":"number","label":"Partner Score"},{"name":"Go_to_Market__c","type":"text","label":"Go-to-Market"},{"name":"PreSales_Stage_Opp__c","type":"number","label":"PreSales Stage"},{"name":"Start_On_Site_Phase_new__c","type":"date","label":"Start On-Site Phase"},{"name":"Final_Presentation_new__c","type":"date","label":"Final Presentation"},{"name":"Manager_Forecast_Category__c","type":"text","label":"Manager Forecast Category"},{"name":"Contract_Notes__c","type":"text","label":"Contract Notes (if not, why?)"},{"name":"Previous_Stage_s_Score__c","type":"number","label":"Previous Stage(s) Score"},{"name":"New_Logo_Upsell__c","type":"text","label":"New Logo / Upsell"},{"name":"Opportunity_Mature_Date__c","type":"date","label":"Opportunity Mature Date"},{"name":"P2__c","type":"text","label":"We can impact prospect's business"},{"name":"Country__c","type":"text","label":"Country"},{"name":"Next_Step__c","type":"text","label":"NEXT STEP"},{"name":"P3__c","type":"text","label":"Engaged w/ people who understand process"},{"name":"Validated__c","type":"number","label":"Validated"},{"name":"LID__DeliveryInstallationStatus__c","type":"text","label":"Delivery/Installation Status"},{"name":"LID__MainCompetitors__c","type":"text","label":"Main Competitor(s)"},{"name":"LID__My_DateTime__c","type":"date","label":"My DateTime"},{"name":"LID__My_Geolocation__Latitude__s","type":"number","label":"My Geolocation (Latitude)"},{"name":"LID__My_Geolocation__Longitude__s","type":"number","label":"My Geolocation (Longitude)"},{"name":"LID__My_Geolocation__c","type":"number","label":"My Geolocation"},{"name":"LID__OrderNumber__c","type":"text","label":"Order Number"},{"name":"LID__TrackingNumber__c","type":"text","label":"Tracking Number"},{"name":"TSPC__CPStageAP_Enabled__c","type":"boolean","label":"CP: Stage Progression"},{"name":"TSPC__CPStageAP_EventBehavior__c","type":"text","label":"CP: Stage Progression Behavior"},{"name":"TSPC__CP_TemplateName__c","type":"text","label":"CP: Template Name"},{"name":"BDR_Manager__c","type":"text","label":"BDR Manager"},{"name":"P4__c","type":"text","label":"We’ve generated interest"},{"name":"P5__c","type":"text","label":"Customer scheduled Initial Discovery"},{"name":"Close_Day__c","type":"number","label":"Close Day"},{"name":"Close_Month_Year__c","type":"text","label":"Close Month Year"},{"name":"Close_Month__c","type":"text","label":"Close Month"},{"name":"CurrentMonth__c","type":"boolean","label":"$CurrentMonth"},{"name":"CurrentYear__c","type":"boolean","label":"$CurrentYear"},{"name":"Close_Fiscal_Quarter__c","type":"text","label":"Close Fiscal Quarter"},{"name":"SVP_Forecast_Judgement__c","type":"text","label":"SVP Forecast Judgement"},{"name":"AmountConvertedUSD__c","type":"number","label":"AmountConvertedUSD"},{"name":"Test_Record__c","type":"boolean","label":"Test Record"},{"name":"Primary_Partner_Role__c","type":"text","label":"Primary Partner Role"},{"name":"Secondary_Partner_Role__c","type":"text","label":"Secondary Partner Involvement"},{"name":"Secondary_Partner__c","type":"text","label":"Secondary Partner"},{"name":"Source_Systems__c","type":"text","label":"Source Systems"},{"name":"Use_Case__c","type":"text","label":"Use Case"},{"name":"ChurnConvertedUSD__c","type":"number","label":"Churn Amount USD"},{"name":"BDR_Cosource__c","type":"text","label":"BDR Co-source"},{"name":"Channel__c","type":"text","label":"Channel"},{"name":"MKT_Cosource__c","type":"text","label":"MKT Co-source"},{"name":"Partner_Cosource__c","type":"text","label":"Partner Co-source"},{"name":"Renewal_Amount__c","type":"number","label":"Renewal Amount"},{"name":"Churn_Reason__c","type":"text","label":"Primary Churn Reason"},{"name":"Churn_Reason_Description__c","type":"text","label":"Churn Reason Description"},{"name":"Renewal_Solution_Plan__c","type":"text","label":"Renewal Solution Plan"},{"name":"Winback_Status__c","type":"text","label":"Winback Status"},{"name":"Primary_Competitor__c","type":"text","label":"Primary Competitor"},{"name":"Renewal_Term__c","type":"number","label":"Renewal Term"},{"name":"Churn_Risk__c","type":"text","label":"Churn Risk"},{"name":"Partner_Implementation__c","type":"text","label":"Implementation Party"},{"name":"Opportunity_Owner_Role__c","type":"text","label":"Opportunity Owner Role"},{"name":"Renewal_Amount_Adjusted__c","type":"boolean","label":"Renewal Amount Adjusted"},{"name":"Contractual_Renewal_Date__c","type":"date","label":"Contractual Renewal Date"},{"name":"Latest_Cancellation_Date__c","type":"date","label":"Latest Cancellation Date"},{"name":"P6__c","type":"text","label":"Educational demo conducted"},{"name":"Product_Type__c","type":"text","label":"Product Type"},{"name":"PC11__c","type":"text","label":"Solution BluePrint Completed"},{"name":"BDRUser__c","type":"boolean","label":"$BDRUser"},{"name":"BDR_Team__c","type":"text","label":"BDR Team"},{"name":"Sourced_by__c","type":"text","label":"Sourced By"},{"name":"Has_Use_Cases__c","type":"number","label":"# of Processes"},{"name":"Opportunity_Owner_Sub_Region__c","type":"text","label":"Opportunity Owner Sub Region"},{"name":"AE_ID_Closed_Won__c","type":"text","label":"AE ID @Closed"},{"name":"AE_Sales_Team_Closed_Won__c","type":"text","label":"AE Sales Team @Closed"},{"name":"Deal_Desk_Manager_ID_Closed_Won__c","type":"text","label":"Deal Desk Manager ID @Closed"},{"name":"Owner_L2_Manager__c","type":"text","label":"Owner L2 Manager"},{"name":"ClosedAmountConvertedUSD__c","type":"number","label":"ClosedAmountConvertedUSD"},{"name":"PipeAmountConvertedUSD__c","type":"number","label":"PipeAmountConvertedUSD"},{"name":"CommitAmountConvertedUSD__c","type":"number","label":"CommitAmountConvertedUSD"},{"name":"Split_Opportunity__c","type":"text","label":"Split Opportunity"},{"name":"Duration_Days_Week__c","type":"text","label":"Duration, Days/Week"},{"name":"Expected_Start_Date__c","type":"date","label":"Expected Start Date"},{"name":"Relevant_Details__c","type":"text","label":"Relevant Details"},{"name":"Secondary_Churn_Reason__c","type":"text","label":"Secondary Churn Reason"},{"name":"SUBS_SH_DaysToClose__c","type":"number","label":"Days to Closure"},{"name":"BPO_Manager_Closed__c","type":"text","label":"BPO Manager @Closed"},{"name":"DCM_Closed__c","type":"text","label":"DCM @Closed"},{"name":"PMUser__c","type":"boolean","label":"$PMUser"},{"name":"ECUSTOMS__RPS_Date__c","type":"date","label":"Account RPS Date"},{"name":"Maintenance__c","type":"boolean","label":"Maintenance"},{"name":"number_of_Completed_Close_Plan_Tasks__c","type":"number","label":"# of Completed Close Plan Tasks"},{"name":"number_of_close_plan_tasks__c","type":"number","label":"# of Close Plan Tasks"},{"name":"contact_required__c","type":"number","label":"contact_required"},{"name":"Close_Plan_Completion_Progress__c","type":"number","label":"Close Plan Completion Progress"},{"name":"Account_Territory__c","type":"text","label":"Account Sales Territory"},{"name":"Carve_out_Service_Opportunity_3__c","type":"text","label":"Embedded Service Opportunity 3"},{"name":"Initiative__c","type":"text","label":"Initiative"},{"name":"SAMUser__c","type":"boolean","label":"$SAMUser"},{"name":"Scheduling_DemoDesk_Meeting__c","type":"text","label":"Scheduling DemoDesk Meeting"},{"name":"Valid_Referral_Fee__c","type":"boolean","label":"Valid Referral Fee"},{"name":"Partner_Influenced_ACV_Converted_USD__c","type":"number","label":"Partner Influenced ACV Converted USD"},{"name":"Partner_Sourced__c","type":"text","label":"Partner Sourced"},{"name":"ACV_Comp__c","type":"number","label":"ACV Comp_tbd"},{"name":"Weighted_Pipeline__c","type":"number","label":"Weighted Pipeline"},{"name":"Close_FIscal_Year__c","type":"number","label":"Close FIscal Year"},{"name":"Big_Bet__c","type":"boolean","label":"Big Bet"},{"name":"Best_Case_Amount__c","type":"number","label":"Best Case Amount"},{"name":"Account_Industry__c","type":"text","label":"Account Industry"},{"name":"Sales_Programs__c","type":"text","label":"Sales Programs & Promotions"},{"name":"Territory_Channel_Manager__c","type":"text","label":"Territory Channel Manager"},{"name":"FY23_Hold_Opportunity__c","type":"boolean","label":"New Fiscal Hold Opportunity"},{"name":"MagentrixOne__PartnerAccount_mgtrx__c","type":"text","label":"Partner Account"},{"name":"CVG_Point_of_View__c","type":"text","label":"CVG Point of View"},{"name":"Conversion_from_C4C__c","type":"text","label":"Conversion from C4C"},{"name":"UVB__c","type":"boolean","label":"UVB"},{"name":"BestCaseAmountConvertedUSD__c","type":"number","label":"BestCaseAmountConvertedUSD"},{"name":"Cloud_Partner__c","type":"text","label":"Cloud Partner"},{"name":"Cloud_Partner_Manager__c","type":"text","label":"Cloud Partner Manager"},{"name":"PC13__c","type":"text","label":"Mutual Close Plan Aligned with Champion"},{"name":"CVG_Account_Territory__c","type":"text","label":"CVG Opportunity Territory"},{"name":"Pipeline_Age__c","type":"number","label":"Pipeline Age"},{"name":"Special_Program__c","type":"text","label":"Special Program"},{"name":"Opportunity_Owner_District__c","type":"text","label":"Opportunity Owner District"},{"name":"Services_Forecast_Category__c","type":"text","label":"Services Forecast Category"},{"name":"Deal_Registration_Number__c","type":"text","label":"Deal Registration Number"},{"name":"Price_Increase_after_Initial_Term__c","type":"text","label":"Price Increase after Initial Term"},{"name":"Price_Increase_in__c","type":"number","label":"Price Increase in %"},{"name":"ffps_cext__Create_Project__c","type":"boolean","label":"Create Project"},{"name":"Change_Order_Opportunity__c","type":"boolean","label":"Change Order Opportunity"},{"name":"F_F_Campaign__c","type":"text","label":"F&F Campaign Use Case"},{"name":"Deal_Sponsor_s__c","type":"text","label":"Deal Sponsor(s)"},{"name":"imt_Key_Stakeholder_s__c","type":"text","label":"Authority"},{"name":"imt_Pre_Sales_Next_Steps__c","type":"text","label":"VE Next Steps"},{"name":"PD13__c","type":"text","label":"Discovery Workshop has been scheduled"},{"name":"PD1__c","type":"text","label":"The Business Pain has been identified"},{"name":"PD6__c","type":"text","label":"Mutual NDA in place"},{"name":"PD7__c","type":"text","label":"Champion EB&Executive Sponsor Identified"},{"name":"PD9__c","type":"text","label":"Proof with success criteria positioned"},{"name":"PR2__c","type":"text","label":"EB confirms alignment on Demand Plan"},{"name":"PR3__c","type":"text","label":"Proof executed and completed"},{"name":"Public_Sector_Distributor__c","type":"text","label":"Public Sector Distributor"},{"name":"Celonis_Business_Unit__c","type":"text","label":"Celonis Business Unit"},{"name":"databooklabs__Last_Sync__c","type":"date","label":"Last Sync (Databook)"},{"name":"Reignition_Campaign__c","type":"boolean","label":"Reignition Campaign"},{"name":"Executive_Alignment_Date__c","type":"date","label":"Executive Alignment Date"},{"name":"LastModifiedDate_Yesterday__c","type":"boolean","label":"LastModifiedDate = Yesterday"},{"name":"Related_Project__c","type":"text","label":"Related Project"},{"name":"Roll_Up_Carving_Account__c","type":"text","label":"Roll Up Carving Account"},{"name":"Sustainability__c","type":"boolean","label":"Sustainability"},{"name":"Connected_Solution__c","type":"boolean","label":"Connected Solution"},{"name":"ffps_cext__Create_RR__c","type":"boolean","label":"Create RR"},{"name":"Primary_Partner_Segment__c","type":"text","label":"Primary Partner Segment"},{"name":"Date_of_EBC__c","type":"text","label":"Date of Executive Briefing Center"},{"name":"Executive_Briefing_Center__c","type":"boolean","label":"Executive Briefing Center"},{"name":"Date_of_last_Exec_Meeting__c","type":"date","label":"Date of last Exec Meeting"},{"name":"Exec_Meeting_has_taken_place__c","type":"boolean","label":"Exec Meeting has taken place"},{"name":"Credits_utilized__c","type":"number","label":"Credits utilized"},{"name":"End_Date__c","type":"date","label":"End Date"},{"name":"Operation__c","type":"text","label":"Operation"},{"name":"Other_Unknown_Reason__c","type":"text","label":"Other Unknown Reason"},{"name":"Reason_for_Unknown_End_Customer__c","type":"text","label":"Reason for Unknown End-Customer"},{"name":"Process_Master__c","type":"text","label":"Process Master"},{"name":"GPM_ID_Closed__c","type":"text","label":"GPL ID @Closed"},{"name":"Global_Partner_Manager__c","type":"text","label":"Global Partner Leader"},{"name":"Team_provisioned__c","type":"boolean","label":"Team provisioned"},{"name":"Team_provisioned_date__c","type":"date","label":"Team provisioned date"},{"name":"imt_Make_LifeCycle__c","type":"text","label":"Make Organization"},{"name":"Hub_Requestor_Email__c","type":"email","label":"Hub Requestor Email"},{"name":"Process_Mining_Type__c","type":"text","label":"Process Mining Type"},{"name":"imt_Churn_Request_Details__c","type":"text","label":"Make Churn Request Details"},{"name":"imt_Trigger_Flow_with_Action__c","type":"text","label":"Trigger Flow with Action"},{"name":"Legacy_C4C_PartnerModel__c","type":"text","label":"Legacy C4C + Partner Model"},{"name":"imt_Commission_Payout_To_Initiate__c","type":"boolean","label":"Make Commission Payout To Initiate"},{"name":"imt_Make_Excluded_From_Commission_Payout__c","type":"boolean","label":"Is Excluded From Make Commission Payout"},{"name":"imt_Total_Referral_Fee_Amount_On_Oppy__c","type":"number","label":"Make Total Referral Fee Amount On Oppy"},{"name":"Upside_Opportunity__c","type":"boolean","label":"Upside Opportunity"},{"name":"PR5__c","type":"text","label":"IT Supportive and INFOSEC completed"},{"name":"PR6__c","type":"text","label":"Confirm if Legal engagement is required"},{"name":"Decision_Criteria_Process_identified__c","type":"text","label":"Decision Criteria & Process identified"},{"name":"E9__c","type":"text","label":"[EMEA] Sign Proof Order Form"},{"name":"N13__c","type":"text","label":"The decision maker is fully supportive"},{"name":"PC15__c","type":"text","label":"Confirmed access to budget"},{"name":"PR10__c","type":"text","label":"Business Case / Proof customer sign-off"},{"name":"We_know_the_KPIs__c","type":"text","label":"We know the KPIs"},{"name":"External_Advisor_new__c","type":"text","label":"External Advisor"},{"name":"TPMUser__c","type":"boolean","label":"$TPMUser"},{"name":"Handover_to_Delivery_Required__c","type":"boolean","label":"Closed Deal Checklist Required"},{"name":"BDR_Split_Defined__c","type":"text","label":"BDR Split Defined"},{"name":"EMVP_Required__c","type":"boolean","label":"EMVP Required"},{"name":"Close_Quarter_Year__c","type":"text","label":"Close Quarter Year"},{"name":"Main_Deployment_Option__c","type":"text","label":"Main Deployment Option"},{"name":"Secondary_Deployment_Option__c","type":"text","label":"Secondary Deployment Option"},{"name":"Lenses_Competition__c","type":"text","label":"Lenses Competition"},{"name":"Lenses_Pricing_Plan__c","type":"text","label":"Lenses Pricing Plan"},{"name":"Budget_for_Lenses__c","type":"text","label":"Budget for Lenses"},{"name":"Timeline__c","type":"text","label":"Timeline"},{"name":"Kafka_Experience__c","type":"text","label":"Kafka Experience"},{"name":"Kafka_Use_Case__c","type":"text","label":"Kafka Use Case"},{"name":"Number_of_Kafka_Engineers__c","type":"number","label":"Number of Kafka Engineers"},{"name":"Number_of_Decision_Makers__c","type":"number","label":"Number of Decision Makers"},{"name":"Need_for_Lenses__c","type":"text","label":"Need for Lenses"},{"name":"Authority__c","type":"text","label":"Authority"},{"name":"Competitor_Tracking__c","type":"text","label":"Competitor Tracking"},{"name":"Added_to_10M_challenge__c","type":"date","label":"Added to 10M challenge"},{"name":"Other_specified__c","type":"text","label":"Other specified"},{"name":"Process_more_than_X_in_the_last_12_mos__c","type":"text","label":"Process more than X in the last 12 mos?"},{"name":"Process_responsible_for__c","type":"text","label":"Process responsible for"},{"name":"Total_x_more_than_y_in_last_12_mos__c","type":"text","label":"Total x more than y in last 12 mos?"},{"name":"RecordTypeName__c","type":"text","label":"RecordTypeName"},{"name":"GCLID__c","type":"text","label":"GCLID"},{"name":"AE_Split__c","type":"boolean","label":"AE Split"},{"name":"imt_Lead_Source_Type__c","type":"text","label":"Lead Source Type"},{"name":"Notes__c","type":"text","label":"Notes"},{"name":"Amount_Last_Modified_Date__c","type":"date","label":"Amount Last Modified Date"},{"name":"Global_Churn_Amount__c","type":"number","label":"Global Churn Amount"},{"name":"Regional_Churn_Amount__c","type":"number","label":"Regional Churn Amount"},{"name":"Regional_Manager_Amount__c","type":"number","label":"Regional Manager Amount"},{"name":"Sub_Regional_Churn_Amount__c","type":"number","label":"Sub-Regional Churn Amount"},{"name":"Sub_Regional_Manager_Amount__c","type":"number","label":"Sub-Regional Manager Amount"},{"name":"CVM_Churn_Amount__c","type":"number","label":"Churn Amount"},{"name":"Request_Referral_Fee__c","type":"text","label":"Request Referral Fee"},{"name":"Executive_Summary__c","type":"text","label":"Executive Summary"},{"name":"Reason_for_Additional_Hours__c","type":"text","label":"Reason for Additional Hours"},{"name":"imt_Is_Renewal_Opportunity__c","type":"boolean","label":"Is Make Renewal Opportunity"},{"name":"Cluster__c","type":"text","label":"Cluster"},{"name":"New_team__c","type":"text","label":"New team?"},{"name":"Sync_to_Partner_Community__c","type":"boolean","label":"Sync to Partner Community"},{"name":"Partner_Split__c","type":"number","label":"Partner Split %"},{"name":"Partner_Influenced_ACV_new__c","type":"number","label":"Partner Influenced ACV"},{"name":"Opportunity_Owner_L0__c","type":"text","label":"Opportunity Owner L0"},{"name":"Has_Legal_Object__c","type":"boolean","label":"Has Legal Object"},{"name":"Has_Lost_Deal_Debrief__c","type":"boolean","label":"Has Lost Deal Debrief"},{"name":"Deal_Type__c","type":"text","label":"Deal Type"},{"name":"Original_C4C_Deal_Annual_Budget_Voucher__c","type":"number","label":"Original C4C Deal Annual Budget/ Voucher"},{"name":"Remaining_Budget__c","type":"number","label":"Remaining Budget"},{"name":"Related_Oppy__c","type":"text","label":"Related Oppy"},{"name":"Forbes_2000_Greenfield__c","type":"text","label":"Forbes 2000 Greenfield"},{"name":"Non_Billable_Classification__c","type":"text","label":"Non-Billable Classification"}],"parameters":[{"name":"__IMTCONN__","type":"account:salesforce,salesforce2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":11059}},{"id":91,"filter":{"name":"GitLab","conditions":[[{"a":"{{90.Name}}","b":"gitlab","o":"text:startwith:ci"}]]},"mapper":{"record":"{{90.Id}}","sObject":"Opportunity"},"module":"salesforce:getARecord","version":3,"metadata":{"expect":[{"name":"sObject","type":"select","label":"Type","required":true},{"name":"record","type":"text","label":"Record ID","required":true}],"restore":{"expect":{"sObject":{"label":"Opportunity","nested":[{"rpc":{"url":"rpc://salesforce/3/listRecords","label":"Search Records","parameters":[{"name":"query","type":"text","label":"Search","required":true}]},"name":"record","type":"text","label":"Record ID","required":true}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"salesforce"},"label":"GTM-SE-Demo (celonis--makedev.sandbox.my.salesforce.com - Make gtm-se-demo)"}}},"designer":{"x":6000,"y":300},"interface":[{"name":"Id","type":"text","label":"Opportunity ID"},{"name":"IsDeleted","type":"boolean","label":"Deleted"},{"name":"AccountId","type":"text","label":"Account ID"},{"name":"RecordTypeId","type":"text","label":"Record Type ID"},{"name":"Name","type":"text","label":"Name"},{"name":"Description","type":"text","label":"Description"},{"name":"StageName","type":"text","label":"Stage"},{"name":"Amount","type":"number","label":"Amount"},{"name":"Probability","type":"number","label":"Probability (%)"},{"name":"ExpectedRevenue","type":"number","label":"Expected Amount"},{"name":"CloseDate","type":"date","label":"Close Date"},{"name":"Type","type":"text","label":"Opportunity Type"},{"name":"NextStep","type":"text","label":"Next Step"},{"name":"LeadSource","type":"text","label":"Lead Source"},{"name":"IsClosed","type":"boolean","label":"Closed"},{"name":"IsWon","type":"boolean","label":"Won"},{"name":"ForecastCategory","type":"text","label":"Forecast Category"},{"name":"ForecastCategoryName","type":"text","label":"Forecast Category"},{"name":"CurrencyIsoCode","type":"text","label":"Opportunity Currency"},{"name":"CampaignId","type":"text","label":"Campaign ID"},{"name":"HasOpportunityLineItem","type":"boolean","label":"Has Line Item"},{"name":"IsSplit","type":"boolean","label":"Is Split"},{"name":"OwnerId","type":"text","label":"Owner ID"},{"name":"CreatedDate","type":"date","label":"Created Date"},{"name":"CreatedById","type":"text","label":"Created By ID"},{"name":"LastModifiedDate","type":"date","label":"Last Modified Date"},{"name":"LastModifiedById","type":"text","label":"Last Modified By ID"},{"name":"SystemModstamp","type":"date","label":"System Modstamp"},{"name":"LastActivityDate","type":"date","label":"Last Activity"},{"name":"PushCount","type":"number","label":"Push Count"},{"name":"LastStageChangeDate","type":"date","label":"Last Stage Change Date"},{"name":"FiscalQuarter","type":"number","label":"Fiscal Quarter"},{"name":"FiscalYear","type":"number","label":"Fiscal Year"},{"name":"Fiscal","type":"text","label":"Fiscal Period"},{"name":"ContactId","type":"text","label":"Contact ID"},{"name":"LastViewedDate","type":"date","label":"Last Viewed Date"},{"name":"LastReferencedDate","type":"date","label":"Last Referenced Date"},{"name":"HasOpenActivity","type":"boolean","label":"Has Open Activity"},{"name":"HasOverdueTask","type":"boolean","label":"Has Overdue Task"},{"name":"LastAmountChangedHistoryId","type":"text","label":"Opportunity History ID"},{"name":"LastCloseDateChangedHistoryId","type":"text","label":"Opportunity History ID"},{"name":"AcceptedProposalsSoftwareServices__c","type":"number","label":"Accepted Proposals (Software/Services)"},{"name":"PartnerManager__c","type":"text","label":"Partner Manager"},{"name":"PartnerInfluenced__c","type":"boolean","label":"Partner Influenced old"},{"name":"PipedrivePipeline__c","type":"text","label":"Pipedrive Pipeline"},{"name":"LostReason__c","type":"text","label":"Lost Reason"},{"name":"Co_delivery_Services_Partner__c","type":"text","label":"Co-delivery Services Partner"},{"name":"ProcessOfInterest__c","type":"text","label":"Process Of Interest_old"},{"name":"TotalPOV__c","type":"number","label":"Total POV"},{"name":"TotalServices__c","type":"number","label":"Total Services"},{"name":"TotalSoftware__c","type":"number","label":"Total Software"},{"name":"NumberofSaaSproducts__c","type":"number","label":"Number of SaaS products"},{"name":"NumberOfOnPremiseProducts__c","type":"number","label":"Number of OnPremise products"},{"name":"PD_ID__c","type":"text","label":"PD ID"},{"name":"BDR__c","type":"text","label":"BDR"},{"name":"NumberofProducts__c","type":"number","label":"Number of Products"},{"name":"DeliveringPartner__c","type":"text","label":"Primary Partner"},{"name":"Qualificationquestions__c","type":"text","label":"Qualification questions Lead"},{"name":"ShareDeliveringOpportunity__c","type":"text","label":"Share Delivering Opportunity"},{"name":"imt_make_dispute_form__c","type":"text","label":"Make Dispute Form"},{"name":"ShareResellingOpportunity__c","type":"text","label":"Share Reselling Opportunity"},{"name":"BDRInfluenced__c","type":"boolean","label":"BDR Influenced"},{"name":"imt_1st_Use_Case_Activation_Confirmed__c","type":"date","label":"1st Use Case Activation Confirmed"},{"name":"Solution_In_Text__c","type":"text","label":"Solution In Text"},{"name":"US_ID__c","type":"text","label":"US ID"},{"name":"TSPC__CPDealCount__c","type":"number","label":"CP: ClosePlan Count"},{"name":"Follow_up_Opportunity__c","type":"text","label":"Follow up Opportunity"},{"name":"Celonis_Forecast_category__c","type":"text","label":"Celonis Forecast category"},{"name":"MEDDICC_Metrics__c","type":"text","label":"KPIs (with targets and current status)"},{"name":"MEDDIC_Economic_Buyer__c","type":"text","label":"Economic Buyer"},{"name":"MEDDIC_Decision_Criteria__c","type":"text","label":"Elaborate on Decision Criteria"},{"name":"MEDDIC_Decision_Process__c","type":"text","label":"Elaborate on Decision Process"},{"name":"MEDDIC_Identified_Pain__c","type":"text","label":"Business Pain Identified (if not, why?)"},{"name":"MEDDIC_Champion__c","type":"text","label":"Champion"},{"name":"RSI_Venture_Manager__c","type":"text","label":"RSI Venture Manager"},{"name":"CVM_Involved__c","type":"boolean","label":"CVM Involved"},{"name":"PM_Ranking__c","type":"number","label":"PM Ranking"},{"name":"Partner_referral_fee_until__c","type":"date","label":"Partner referral fee until"},{"name":"Price_indication__c","type":"text","label":"Price indication"},{"name":"OppSharingHelper__c","type":"boolean","label":"OppSharingHelper"},{"name":"Software_Opportunity__c","type":"text","label":"Software Opportunity"},{"name":"Deal_Briefing__c","type":"url","label":"Deal Briefing"},{"name":"Number_of_BVAs__c","type":"text","label":"Number of CVAs"},{"name":"SourcedbyUser__c","type":"boolean","label":"$SourcedbyUser"},{"name":"imt_Churn_Approval_Forced__c","type":"boolean","label":"Make Churn Approval Forced"},{"name":"Opportunity_Link__c","type":"text","label":"Opportunity Link"},{"name":"TPM_ID_Closed__c","type":"text","label":"TPM ID @Closed"},{"name":"Other_System__c","type":"text","label":"Other System"},{"name":"Safe_Harbor_Type__c","type":"text","label":"Safe Harbor Type"},{"name":"imt_Online_ARR_for_ACV__c","type":"number","label":"Online ARR for ACV (USD)"},{"name":"Implementation_Partner__c","type":"text","label":"Implementation Partner"},{"name":"BPM_Amount__c","type":"number","label":"Process Management Amount"},{"name":"Exec_Sponsorship_Program__c","type":"boolean","label":"Exec Sponsorship Program (opp)"},{"name":"Sales_Excellence_Level_Timestamp__c","type":"text","label":"Sales Excellence Level Timestamp"},{"name":"Implementation_Opportunity__c","type":"text","label":"Implementation Opportunity"},{"name":"imt_Commission_Payout_Process_Triggered__c","type":"boolean","label":"Make Commission Payout Process Triggered"},{"name":"OpportunityID__c","type":"text","label":"OpportunityID"},{"name":"PrimaryPresalesShareId__c","type":"text","label":"PrimaryPresalesShareId"},{"name":"SecondaryPresalesShareId__c","type":"text","label":"SecondaryPresalesShareId"},{"name":"NumberOfServicesProducts__c","type":"number","label":"Number Of Services Products"},{"name":"NumberofTrainingProducts__c","type":"number","label":"Number of Training Products"},{"name":"Request_Quote__c","type":"text","label":"Request Quote"},{"name":"FinOps_Influenced__c","type":"text","label":"FinOps Influenced"},{"name":"Opportunity_Owner_Sales_Region__c","type":"text","label":"Opportunity Owner Sales Region"},{"name":"imt_ICP_Category__c","type":"text","label":"Enterprise Plan Fit"},{"name":"imt_Customer_Apps__c","type":"text","label":"Customer Apps"},{"name":"imt_Follow_up_Call__c","type":"text","label":"Follow-up Call"},{"name":"imt_Non_Make_Customer_Apps__c","type":"text","label":"Non Make Customer Apps"},{"name":"imt_Customer_Apps_Form__c","type":"text","label":"Customer Tech Stack Form"},{"name":"Total_implementation_effort_scoped_Days__c","type":"number","label":"Total implementation effort scoped -Days"},{"name":"Exclude_from_Automation__c","type":"boolean","label":"Exclude from Automation"},{"name":"imt_Is_Opp_After_Renewal_Date__c","type":"boolean","label":"Is Opp After Renewal Date"},{"name":"RfX_Count__c","type":"number","label":"RfX Count"},{"name":"Software_ACV__c","type":"number","label":"Software ACV"},{"name":"Validated_by_Renewals_Management__c","type":"boolean","label":"Validated by Renewals Management"},{"name":"SAO_Date__c","type":"date","label":"SAO Date"},{"name":"gaconnector_City__c","type":"text","label":"City"},{"name":"gaconnector_Country__c","type":"text","label":"Country gaconnector"},{"name":"gaconnector_First_Click_Campaign__c","type":"text","label":"First Click Campaign"},{"name":"gaconnector_First_Click_Channel__c","type":"text","label":"First Click Channel"},{"name":"gaconnector_First_Click_Content__c","type":"text","label":"First Click Content"},{"name":"gaconnector_First_Click_Landing_Page__c","type":"text","label":"First Click Landing Page"},{"name":"gaconnector_First_Click_Medium__c","type":"text","label":"First Click Medium"},{"name":"gaconnector_First_Click_Referrer__c","type":"text","label":"First Click Referrer"},{"name":"gaconnector_First_Click_Source__c","type":"text","label":"First Click Source"},{"name":"gaconnector_First_Click_Term__c","type":"text","label":"First Click Term"},{"name":"gaconnector_Google_Analytics_Client_ID__c","type":"text","label":"Google Analytics Client ID"},{"name":"gaconnector_Google_Analytics_Link__c","type":"text","label":"Google Analytics Link"},{"name":"gaconnector_IP_Address__c","type":"text","label":"IP Address"},{"name":"gaconnector_Last_Click_Campaign__c","type":"text","label":"Last Click Campaign"},{"name":"gaconnector_Last_Click_Channel__c","type":"text","label":"Last Click Channel"},{"name":"gaconnector_Last_Click_Content__c","type":"text","label":"Last Click Content"},{"name":"gaconnector_Last_Click_Landing_Page__c","type":"text","label":"Last Click Landing Page"},{"name":"gaconnector_Last_Click_Medium__c","type":"text","label":"Last Click Medium"},{"name":"gaconnector_Last_Click_Referrer__c","type":"text","label":"Last Click Referrer"},{"name":"gaconnector_Last_Click_Source__c","type":"text","label":"Last Click Source"},{"name":"gaconnector_Last_Click_Term__c","type":"text","label":"Last Click Term"},{"name":"gaconnector_Latitude_from_IP__c","type":"text","label":"Latitude"},{"name":"gaconnector_Location_approx__c","type":"text","label":"Location (approx.)"},{"name":"gaconnector_Longitude__c","type":"text","label":"Longitude"},{"name":"gaconnector_Number_of_Website_Visits__c","type":"text","label":"Number of Website Visits"},{"name":"gaconnector_Pages_visited__c","type":"text","label":"Pages visited"},{"name":"gaconnector_Time_Spent_on_Website__c","type":"number","label":"Time Spent on Website"},{"name":"gaconnector_Time_Spent_on_Website_formul__c","type":"text","label":"Time Spent on Website"},{"name":"gaconnector_Time_Zone__c","type":"text","label":"Time Zone"},{"name":"Deal_Desk_Manager__c","type":"text","label":"Deal Desk Manager"},{"name":"Department__c","type":"text","label":"Department"},{"name":"Engagement_Type__c","type":"text","label":"Engagement Type"},{"name":"FlagBDRBatch__c","type":"boolean","label":"FlagBDRBatch"},{"name":"ECUSTOMS__RPS_RiskCountry_Status__c","type":"text","label":"Account Risk Country Status"},{"name":"ECUSTOMS__RPS_Status__c","type":"text","label":"Account RPS Status"},{"name":"CCO_Value__c","type":"number","label":"Global Amount"},{"name":"zqu__CurrentGenerators__c","type":"text","label":"Current Generator(s)"},{"name":"zqu__DeliveryInstallationStatus__c","type":"text","label":"Delivery/Installation Status"},{"name":"zqu__MainCompetitors__c","type":"text","label":"Main Competitor(s)"},{"name":"zqu__OrderNumber__c","type":"text","label":"Order Number"},{"name":"zqu__TrackingNumber__c","type":"text","label":"Tracking Number"},{"name":"Description_Partner_Influenced_Support__c","type":"text","label":"TCM Notes"},{"name":"E2__c","type":"text","label":"EB has confirmed the Blueprint"},{"name":"Opportunity_ID_Unique__c","type":"text","label":"Opportunity ID Unique"},{"name":"Renewal_Type__c","type":"text","label":"Renewal Type"},{"name":"Opportunity_Owner_Sales_Team__c","type":"text","label":"Opportunity Owner Sales Team"},{"name":"imt_First_Opportunity_Source__c","type":"text","label":"First Opportunity Source"},{"name":"imt_Influencing_Opportunity_Sources__c","type":"text","label":"Influencing Opportunity Sources"},{"name":"Sales_Region_Closed_Won__c","type":"text","label":"Sales Region @Closed"},{"name":"Renewal_Date__c","type":"date","label":"Renewal Date"},{"name":"RenewalAmountConvertedUSD__c","type":"number","label":"RenewalAmountConvertedUSD"},{"name":"Updates_Count__c","type":"number","label":"Updates Count"},{"name":"Date_of_Handover_Workshop__c","type":"date","label":"Date of Handover Workshop"},{"name":"Handover_to_Delivery_completed__c","type":"boolean","label":"Closed Deal Checklist Completed"},{"name":"Valid_for_handover_to_delivery__c","type":"text","label":"Valid for handover to delivery"},{"name":"Technology_Partner__c","type":"text","label":"Technology Partner"},{"name":"imt_Sub_Type__c","type":"text","label":"Sub-Type"},{"name":"imt_Challenges__c","type":"text","label":"Challenges"},{"name":"imt_Notes__c","type":"text","label":"Sales Risks/Gaps"},{"name":"E3__c","type":"text","label":"EB accepts close plan & success criteria"},{"name":"Strategic_Alliance_Manager__c","type":"text","label":"Regional Partner Leader"},{"name":"MEDDIC_Competition_new__c","type":"text","label":"Competition"},{"name":"Competition_specified__c","type":"text","label":"Competitor Specified"},{"name":"Rejection_Reason__c","type":"text","label":"Rejection Reason"},{"name":"imt_Small_Company_Size_Justification__c","type":"text","label":"Small Company Size Justification"},{"name":"Partner_Driven__c","type":"text","label":"Partner Driven"},{"name":"Executive_Alignment__c","type":"boolean","label":"Executive Alignment"},{"name":"MEDDPICC_Help__c","type":"text","label":"MEDDPICC Help"},{"name":"imt_Make_Sales_Region__c","type":"text","label":"Make Sales Region"},{"name":"Negotiation__c","type":"boolean","label":"Negotiation"},{"name":"Opportunity_sent_to_AE__c","type":"boolean","label":"Opportunity sent to AE"},{"name":"Pain_Confirmed__c","type":"boolean","label":"Pain Confirmed"},{"name":"Pain_Discovery__c","type":"boolean","label":"Pain Discovery"},{"name":"Customer_Type__c","type":"text","label":"Customer Type"},{"name":"Proof__c","type":"boolean","label":"Proof"},{"name":"Proof_conducted__c","type":"text","label":"Proof conducted"},{"name":"Technology_Partner_Manager__c","type":"text","label":"Technology Partner Manager"},{"name":"SalesLoft1__Most_Recent_Cadence_Name__c","type":"text","label":"Most Recent Cadence - Cadence Name"},{"name":"SalesLoft1__Most_Recent_Last_Completed_Step__c","type":"number","label":"Most Recent Cadence - Last Step Number"},{"name":"SalesLoft1__Primary_Contact__c","type":"text","label":"SalesLoft Primary Contact"},{"name":"Technology_Partner_Manager_Notes__c","type":"text","label":"Technology Partner Manager Notes"},{"name":"Influencing_Partner_Contact__c","type":"text","label":"Primary Partner Contact"},{"name":"Opportunity_Source__c","type":"text","label":"Opportunity Source"},{"name":"Partner_Influenced_ACV__c","type":"number","label":"Partner Influenced ACV old"},{"name":"imt_Is_Auto_Renewal_performed__c","type":"boolean","label":"Is Auto-Renewal performed"},{"name":"Created_by_BDR__c","type":"number","label":"Created by BDR"},{"name":"E4__c","type":"text","label":"Celonis Leadership met with Customer"},{"name":"Trigger__c","type":"boolean","label":"Trigger Update Opportunity Manager Email"},{"name":"Process_Of_Interest__c","type":"text","label":"Process Of Interest"},{"name":"E6__c","type":"text","label":"Compelling event created with EB & Champ"},{"name":"N11__c","type":"text","label":"Implementation Strat Set & SOW presented"},{"name":"N3__c","type":"text","label":"Celonis confirmed as vendor of choice"},{"name":"N4__c","type":"text","label":"Pricing Agreement Validated"},{"name":"N6__c","type":"text","label":"MSA and Legal terms are aligned"},{"name":"P1__c","type":"text","label":"We want to do business w/ this account"},{"name":"SAL_Date__c","type":"date","label":"SAL Date"},{"name":"Total_Contract_Value_TCV__c","type":"number","label":"Total Contract Value (TCV)"},{"name":"imt_Opportunity_Source__c","type":"text","label":"[OLD] Make Opportunity Source"},{"name":"Initial_Contact_Role__c","type":"text","label":"Initial Contact - Role"},{"name":"Initial_Contact__c","type":"text","label":"Initial Contact"},{"name":"Has_Z_Quote__c","type":"number","label":"# of Quotes"},{"name":"BDR_split__c","type":"text","label":"BDR split"},{"name":"Opportunity_Count__c","type":"number","label":"Opportunity Count"},{"name":"Churn_Reason_Helptext__c","type":"text","label":"Churn Reason Helptext"},{"name":"Implementation_Party_Reason__c","type":"text","label":"Implementation Party Reason"},{"name":"CHs__c","type":"number","label":"Champion Score"},{"name":"COs__c","type":"number","label":"Competition Score"},{"name":"DCs__c","type":"number","label":"Decision Criteria Score"},{"name":"DPs__c","type":"number","label":"Decision Process Score"},{"name":"imt_Active_Automation_Project_Exist__c","type":"text","label":"Active Automation Project Exists?"},{"name":"imt_Customer_Automation_Project_Note__c","type":"text","label":"Customer's Automation Project Note"},{"name":"imt_Estimated_Production_Timeline__c","type":"date","label":"Estimated Production Timeline"},{"name":"EAS__c","type":"number","label":"Executive Alignment Score"},{"name":"EBs__c","type":"number","label":"Economic Buyer Score"},{"name":"IPs__c","type":"number","label":"Identified Pain Score"},{"name":"Ms__c","type":"number","label":"Metrics Score"},{"name":"imt_Evaluation_Stakeholders_Confirmed__c","type":"text","label":"Evaluation Stakeholders Confirmed"},{"name":"imt_Implementation_Complexity__c","type":"text","label":"Implementation Complexity"},{"name":"imt_Is_Legal_Compliance_Security_OK__c","type":"text","label":"Is Legal & Compliance & Security OK?"},{"name":"imt_Key_Onboarding_Info__c","type":"text","label":"Key Onboarding Info"},{"name":"imt_Next_Step_Last_Update__c","type":"date","label":"Next-Step Last Update"},{"name":"imt_Automation_Success_Criteria_for_DM__c","type":"text","label":"Automation Success Criteria for DM"},{"name":"imt_C_Level_Sponsor__c","type":"text","label":"Decision Maker"},{"name":"imt_DM_Meeting_Notes__c","type":"text","label":"DM Meeting Notes"},{"name":"imt_DM_Meeting_Scheduled_Date__c","type":"date","label":"DM Meeting Scheduled Date"},{"name":"imt_Estimated_Budget__c","type":"number","label":"Estimated Budget"},{"name":"NS__c","type":"number","label":"Negotiation Score"},{"name":"Opportunity_Completion__c","type":"number","label":"Opportunity Completion Score"},{"name":"imt_Is_DM_Meeting_Delivered__c","type":"text","label":"Is DM Meeting Delivered?"},{"name":"imt_Is_Authority_Confirmed__c","type":"text","label":"Is Authority Confirmed?"},{"name":"Make_Bypass_VR_Backend__c","type":"boolean","label":"Make Bypass VR Backend"},{"name":"imt_Create_Opp_From_Account_Message__c","type":"text","label":"-"},{"name":"PC5__c","type":"boolean","label":"IT requirements are clear"},{"name":"Product_Feedback_Business_Domain__c","type":"text","label":"Product Feedback Business Domain"},{"name":"PCS__c","type":"number","label":"Pain Confirmed Score"},{"name":"PD2__c","type":"boolean","label":"Educated audience& built strong interest"},{"name":"PD8__c","type":"boolean","label":"Identified the internal influencers"},{"name":"PDS__c","type":"number","label":"Pain Discovery Score"},{"name":"PR4__c","type":"boolean","label":"EB confirmed all business requirements"},{"name":"PRS__c","type":"number","label":"Proof Score"},{"name":"PS__c","type":"number","label":"Profile Score"},{"name":"Stage_Completion_Score__c","type":"number","label":"Stage Completion Score"},{"name":"Approved_Pre_Sales_Requests__c","type":"number","label":"Approved Pre-Sales Requests"},{"name":"PreSales_Details_Count__c","type":"number","label":"PreSales Details Count"},{"name":"IBC_Conversion__c","type":"boolean","label":"IBC Conversion"},{"name":"has_Approved_Z_Quote__c","type":"number","label":"# of Approved Quotes"},{"name":"PAs__c","type":"number","label":"Partner Score"},{"name":"Go_to_Market__c","type":"text","label":"Go-to-Market"},{"name":"PreSales_Stage_Opp__c","type":"number","label":"PreSales Stage"},{"name":"Start_On_Site_Phase_new__c","type":"date","label":"Start On-Site Phase"},{"name":"Final_Presentation_new__c","type":"date","label":"Final Presentation"},{"name":"Manager_Forecast_Category__c","type":"text","label":"Manager Forecast Category"},{"name":"Contract_Notes__c","type":"text","label":"Contract Notes (if not, why?)"},{"name":"Previous_Stage_s_Score__c","type":"number","label":"Previous Stage(s) Score"},{"name":"New_Logo_Upsell__c","type":"text","label":"New Logo / Upsell"},{"name":"Opportunity_Mature_Date__c","type":"date","label":"Opportunity Mature Date"},{"name":"P2__c","type":"text","label":"We can impact prospect's business"},{"name":"Country__c","type":"text","label":"Country"},{"name":"Next_Step__c","type":"text","label":"NEXT STEP"},{"name":"P3__c","type":"text","label":"Engaged w/ people who understand process"},{"name":"Validated__c","type":"number","label":"Validated"},{"name":"LID__DeliveryInstallationStatus__c","type":"text","label":"Delivery/Installation Status"},{"name":"LID__MainCompetitors__c","type":"text","label":"Main Competitor(s)"},{"name":"LID__My_DateTime__c","type":"date","label":"My DateTime"},{"name":"LID__My_Geolocation__Latitude__s","type":"number","label":"My Geolocation (Latitude)"},{"name":"LID__My_Geolocation__Longitude__s","type":"number","label":"My Geolocation (Longitude)"},{"name":"LID__My_Geolocation__c","type":"number","label":"My Geolocation"},{"name":"LID__OrderNumber__c","type":"text","label":"Order Number"},{"name":"LID__TrackingNumber__c","type":"text","label":"Tracking Number"},{"name":"TSPC__CPStageAP_Enabled__c","type":"boolean","label":"CP: Stage Progression"},{"name":"TSPC__CPStageAP_EventBehavior__c","type":"text","label":"CP: Stage Progression Behavior"},{"name":"TSPC__CP_TemplateName__c","type":"text","label":"CP: Template Name"},{"name":"BDR_Manager__c","type":"text","label":"BDR Manager"},{"name":"P4__c","type":"text","label":"We’ve generated interest"},{"name":"P5__c","type":"text","label":"Customer scheduled Initial Discovery"},{"name":"Close_Day__c","type":"number","label":"Close Day"},{"name":"Close_Month_Year__c","type":"text","label":"Close Month Year"},{"name":"Close_Month__c","type":"text","label":"Close Month"},{"name":"CurrentMonth__c","type":"boolean","label":"$CurrentMonth"},{"name":"CurrentYear__c","type":"boolean","label":"$CurrentYear"},{"name":"Close_Fiscal_Quarter__c","type":"text","label":"Close Fiscal Quarter"},{"name":"SVP_Forecast_Judgement__c","type":"text","label":"SVP Forecast Judgement"},{"name":"AmountConvertedUSD__c","type":"number","label":"AmountConvertedUSD"},{"name":"Test_Record__c","type":"boolean","label":"Test Record"},{"name":"Primary_Partner_Role__c","type":"text","label":"Primary Partner Role"},{"name":"Secondary_Partner_Role__c","type":"text","label":"Secondary Partner Involvement"},{"name":"Secondary_Partner__c","type":"text","label":"Secondary Partner"},{"name":"Source_Systems__c","type":"text","label":"Source Systems"},{"name":"Use_Case__c","type":"text","label":"Use Case"},{"name":"ChurnConvertedUSD__c","type":"number","label":"Churn Amount USD"},{"name":"BDR_Cosource__c","type":"text","label":"BDR Co-source"},{"name":"Channel__c","type":"text","label":"Channel"},{"name":"MKT_Cosource__c","type":"text","label":"MKT Co-source"},{"name":"Partner_Cosource__c","type":"text","label":"Partner Co-source"},{"name":"Renewal_Amount__c","type":"number","label":"Renewal Amount"},{"name":"Churn_Reason__c","type":"text","label":"Primary Churn Reason"},{"name":"Churn_Reason_Description__c","type":"text","label":"Churn Reason Description"},{"name":"Renewal_Solution_Plan__c","type":"text","label":"Renewal Solution Plan"},{"name":"Winback_Status__c","type":"text","label":"Winback Status"},{"name":"Primary_Competitor__c","type":"text","label":"Primary Competitor"},{"name":"Renewal_Term__c","type":"number","label":"Renewal Term"},{"name":"Churn_Risk__c","type":"text","label":"Churn Risk"},{"name":"Partner_Implementation__c","type":"text","label":"Implementation Party"},{"name":"Opportunity_Owner_Role__c","type":"text","label":"Opportunity Owner Role"},{"name":"Renewal_Amount_Adjusted__c","type":"boolean","label":"Renewal Amount Adjusted"},{"name":"Contractual_Renewal_Date__c","type":"date","label":"Contractual Renewal Date"},{"name":"Latest_Cancellation_Date__c","type":"date","label":"Latest Cancellation Date"},{"name":"P6__c","type":"text","label":"Educational demo conducted"},{"name":"Product_Type__c","type":"text","label":"Product Type"},{"name":"PC11__c","type":"text","label":"Solution BluePrint Completed"},{"name":"BDRUser__c","type":"boolean","label":"$BDRUser"},{"name":"BDR_Team__c","type":"text","label":"BDR Team"},{"name":"Sourced_by__c","type":"text","label":"Sourced By"},{"name":"Has_Use_Cases__c","type":"number","label":"# of Processes"},{"name":"Opportunity_Owner_Sub_Region__c","type":"text","label":"Opportunity Owner Sub Region"},{"name":"AE_ID_Closed_Won__c","type":"text","label":"AE ID @Closed"},{"name":"AE_Sales_Team_Closed_Won__c","type":"text","label":"AE Sales Team @Closed"},{"name":"Deal_Desk_Manager_ID_Closed_Won__c","type":"text","label":"Deal Desk Manager ID @Closed"},{"name":"Owner_L2_Manager__c","type":"text","label":"Owner L2 Manager"},{"name":"ClosedAmountConvertedUSD__c","type":"number","label":"ClosedAmountConvertedUSD"},{"name":"PipeAmountConvertedUSD__c","type":"number","label":"PipeAmountConvertedUSD"},{"name":"CommitAmountConvertedUSD__c","type":"number","label":"CommitAmountConvertedUSD"},{"name":"Split_Opportunity__c","type":"text","label":"Split Opportunity"},{"name":"Duration_Days_Week__c","type":"text","label":"Duration, Days/Week"},{"name":"Expected_Start_Date__c","type":"date","label":"Expected Start Date"},{"name":"Relevant_Details__c","type":"text","label":"Relevant Details"},{"name":"Secondary_Churn_Reason__c","type":"text","label":"Secondary Churn Reason"},{"name":"SUBS_SH_DaysToClose__c","type":"number","label":"Days to Closure"},{"name":"BPO_Manager_Closed__c","type":"text","label":"BPO Manager @Closed"},{"name":"DCM_Closed__c","type":"text","label":"DCM @Closed"},{"name":"PMUser__c","type":"boolean","label":"$PMUser"},{"name":"ECUSTOMS__RPS_Date__c","type":"date","label":"Account RPS Date"},{"name":"Maintenance__c","type":"boolean","label":"Maintenance"},{"name":"number_of_Completed_Close_Plan_Tasks__c","type":"number","label":"# of Completed Close Plan Tasks"},{"name":"number_of_close_plan_tasks__c","type":"number","label":"# of Close Plan Tasks"},{"name":"contact_required__c","type":"number","label":"contact_required"},{"name":"Close_Plan_Completion_Progress__c","type":"number","label":"Close Plan Completion Progress"},{"name":"Account_Territory__c","type":"text","label":"Account Sales Territory"},{"name":"Carve_out_Service_Opportunity_3__c","type":"text","label":"Embedded Service Opportunity 3"},{"name":"Initiative__c","type":"text","label":"Initiative"},{"name":"SAMUser__c","type":"boolean","label":"$SAMUser"},{"name":"Scheduling_DemoDesk_Meeting__c","type":"text","label":"Scheduling DemoDesk Meeting"},{"name":"Valid_Referral_Fee__c","type":"boolean","label":"Valid Referral Fee"},{"name":"Partner_Influenced_ACV_Converted_USD__c","type":"number","label":"Partner Influenced ACV Converted USD"},{"name":"Partner_Sourced__c","type":"text","label":"Partner Sourced"},{"name":"ACV_Comp__c","type":"number","label":"ACV Comp_tbd"},{"name":"Weighted_Pipeline__c","type":"number","label":"Weighted Pipeline"},{"name":"Close_FIscal_Year__c","type":"number","label":"Close FIscal Year"},{"name":"Big_Bet__c","type":"boolean","label":"Big Bet"},{"name":"Best_Case_Amount__c","type":"number","label":"Best Case Amount"},{"name":"Account_Industry__c","type":"text","label":"Account Industry"},{"name":"Sales_Programs__c","type":"text","label":"Sales Programs & Promotions"},{"name":"Territory_Channel_Manager__c","type":"text","label":"Territory Channel Manager"},{"name":"FY23_Hold_Opportunity__c","type":"boolean","label":"New Fiscal Hold Opportunity"},{"name":"MagentrixOne__PartnerAccount_mgtrx__c","type":"text","label":"Partner Account"},{"name":"CVG_Point_of_View__c","type":"text","label":"CVG Point of View"},{"name":"Conversion_from_C4C__c","type":"text","label":"Conversion from C4C"},{"name":"UVB__c","type":"boolean","label":"UVB"},{"name":"BestCaseAmountConvertedUSD__c","type":"number","label":"BestCaseAmountConvertedUSD"},{"name":"Cloud_Partner__c","type":"text","label":"Cloud Partner"},{"name":"Cloud_Partner_Manager__c","type":"text","label":"Cloud Partner Manager"},{"name":"PC13__c","type":"text","label":"Mutual Close Plan Aligned with Champion"},{"name":"CVG_Account_Territory__c","type":"text","label":"CVG Opportunity Territory"},{"name":"Pipeline_Age__c","type":"number","label":"Pipeline Age"},{"name":"Special_Program__c","type":"text","label":"Special Program"},{"name":"Opportunity_Owner_District__c","type":"text","label":"Opportunity Owner District"},{"name":"Services_Forecast_Category__c","type":"text","label":"Services Forecast Category"},{"name":"Deal_Registration_Number__c","type":"text","label":"Deal Registration Number"},{"name":"Price_Increase_after_Initial_Term__c","type":"text","label":"Price Increase after Initial Term"},{"name":"Price_Increase_in__c","type":"number","label":"Price Increase in %"},{"name":"ffps_cext__Create_Project__c","type":"boolean","label":"Create Project"},{"name":"Change_Order_Opportunity__c","type":"boolean","label":"Change Order Opportunity"},{"name":"F_F_Campaign__c","type":"text","label":"F&F Campaign Use Case"},{"name":"Deal_Sponsor_s__c","type":"text","label":"Deal Sponsor(s)"},{"name":"imt_Key_Stakeholder_s__c","type":"text","label":"Authority"},{"name":"imt_Pre_Sales_Next_Steps__c","type":"text","label":"VE Next Steps"},{"name":"PD13__c","type":"text","label":"Discovery Workshop has been scheduled"},{"name":"PD1__c","type":"text","label":"The Business Pain has been identified"},{"name":"PD6__c","type":"text","label":"Mutual NDA in place"},{"name":"PD7__c","type":"text","label":"Champion EB&Executive Sponsor Identified"},{"name":"PD9__c","type":"text","label":"Proof with success criteria positioned"},{"name":"PR2__c","type":"text","label":"EB confirms alignment on Demand Plan"},{"name":"PR3__c","type":"text","label":"Proof executed and completed"},{"name":"Public_Sector_Distributor__c","type":"text","label":"Public Sector Distributor"},{"name":"Celonis_Business_Unit__c","type":"text","label":"Celonis Business Unit"},{"name":"databooklabs__Last_Sync__c","type":"date","label":"Last Sync (Databook)"},{"name":"Reignition_Campaign__c","type":"boolean","label":"Reignition Campaign"},{"name":"Executive_Alignment_Date__c","type":"date","label":"Executive Alignment Date"},{"name":"LastModifiedDate_Yesterday__c","type":"boolean","label":"LastModifiedDate = Yesterday"},{"name":"Related_Project__c","type":"text","label":"Related Project"},{"name":"Roll_Up_Carving_Account__c","type":"text","label":"Roll Up Carving Account"},{"name":"Sustainability__c","type":"boolean","label":"Sustainability"},{"name":"Connected_Solution__c","type":"boolean","label":"Connected Solution"},{"name":"ffps_cext__Create_RR__c","type":"boolean","label":"Create RR"},{"name":"Primary_Partner_Segment__c","type":"text","label":"Primary Partner Segment"},{"name":"Date_of_EBC__c","type":"text","label":"Date of Executive Briefing Center"},{"name":"Executive_Briefing_Center__c","type":"boolean","label":"Executive Briefing Center"},{"name":"Date_of_last_Exec_Meeting__c","type":"date","label":"Date of last Exec Meeting"},{"name":"Exec_Meeting_has_taken_place__c","type":"boolean","label":"Exec Meeting has taken place"},{"name":"Credits_utilized__c","type":"number","label":"Credits utilized"},{"name":"End_Date__c","type":"date","label":"End Date"},{"name":"Operation__c","type":"text","label":"Operation"},{"name":"Other_Unknown_Reason__c","type":"text","label":"Other Unknown Reason"},{"name":"Reason_for_Unknown_End_Customer__c","type":"text","label":"Reason for Unknown End-Customer"},{"name":"Process_Master__c","type":"text","label":"Process Master"},{"name":"GPM_ID_Closed__c","type":"text","label":"GPL ID @Closed"},{"name":"Global_Partner_Manager__c","type":"text","label":"Global Partner Leader"},{"name":"Team_provisioned__c","type":"boolean","label":"Team provisioned"},{"name":"Team_provisioned_date__c","type":"date","label":"Team provisioned date"},{"name":"imt_Make_LifeCycle__c","type":"text","label":"Make Organization"},{"name":"Hub_Requestor_Email__c","type":"email","label":"Hub Requestor Email"},{"name":"Process_Mining_Type__c","type":"text","label":"Process Mining Type"},{"name":"imt_Churn_Request_Details__c","type":"text","label":"Make Churn Request Details"},{"name":"imt_Trigger_Flow_with_Action__c","type":"text","label":"Trigger Flow with Action"},{"name":"Legacy_C4C_PartnerModel__c","type":"text","label":"Legacy C4C + Partner Model"},{"name":"imt_Commission_Payout_To_Initiate__c","type":"boolean","label":"Make Commission Payout To Initiate"},{"name":"imt_Make_Excluded_From_Commission_Payout__c","type":"boolean","label":"Is Excluded From Make Commission Payout"},{"name":"imt_Total_Referral_Fee_Amount_On_Oppy__c","type":"number","label":"Make Total Referral Fee Amount On Oppy"},{"name":"Upside_Opportunity__c","type":"boolean","label":"Upside Opportunity"},{"name":"PR5__c","type":"text","label":"IT Supportive and INFOSEC completed"},{"name":"PR6__c","type":"text","label":"Confirm if Legal engagement is required"},{"name":"Decision_Criteria_Process_identified__c","type":"text","label":"Decision Criteria & Process identified"},{"name":"E9__c","type":"text","label":"[EMEA] Sign Proof Order Form"},{"name":"N13__c","type":"text","label":"The decision maker is fully supportive"},{"name":"PC15__c","type":"text","label":"Confirmed access to budget"},{"name":"PR10__c","type":"text","label":"Business Case / Proof customer sign-off"},{"name":"We_know_the_KPIs__c","type":"text","label":"We know the KPIs"},{"name":"External_Advisor_new__c","type":"text","label":"External Advisor"},{"name":"TPMUser__c","type":"boolean","label":"$TPMUser"},{"name":"Handover_to_Delivery_Required__c","type":"boolean","label":"Closed Deal Checklist Required"},{"name":"BDR_Split_Defined__c","type":"text","label":"BDR Split Defined"},{"name":"EMVP_Required__c","type":"boolean","label":"EMVP Required"},{"name":"Close_Quarter_Year__c","type":"text","label":"Close Quarter Year"},{"name":"Main_Deployment_Option__c","type":"text","label":"Main Deployment Option"},{"name":"Secondary_Deployment_Option__c","type":"text","label":"Secondary Deployment Option"},{"name":"Lenses_Competition__c","type":"text","label":"Lenses Competition"},{"name":"Lenses_Pricing_Plan__c","type":"text","label":"Lenses Pricing Plan"},{"name":"Budget_for_Lenses__c","type":"text","label":"Budget for Lenses"},{"name":"Timeline__c","type":"text","label":"Timeline"},{"name":"Kafka_Experience__c","type":"text","label":"Kafka Experience"},{"name":"Kafka_Use_Case__c","type":"text","label":"Kafka Use Case"},{"name":"Number_of_Kafka_Engineers__c","type":"number","label":"Number of Kafka Engineers"},{"name":"Number_of_Decision_Makers__c","type":"number","label":"Number of Decision Makers"},{"name":"Need_for_Lenses__c","type":"text","label":"Need for Lenses"},{"name":"Authority__c","type":"text","label":"Authority"},{"name":"Competitor_Tracking__c","type":"text","label":"Competitor Tracking"},{"name":"Added_to_10M_challenge__c","type":"date","label":"Added to 10M challenge"},{"name":"Other_specified__c","type":"text","label":"Other specified"},{"name":"Process_more_than_X_in_the_last_12_mos__c","type":"text","label":"Process more than X in the last 12 mos?"},{"name":"Process_responsible_for__c","type":"text","label":"Process responsible for"},{"name":"Total_x_more_than_y_in_last_12_mos__c","type":"text","label":"Total x more than y in last 12 mos?"},{"name":"RecordTypeName__c","type":"text","label":"RecordTypeName"},{"name":"GCLID__c","type":"text","label":"GCLID"},{"name":"AE_Split__c","type":"boolean","label":"AE Split"},{"name":"imt_Lead_Source_Type__c","type":"text","label":"Lead Source Type"},{"name":"Notes__c","type":"text","label":"Notes"},{"name":"Amount_Last_Modified_Date__c","type":"date","label":"Amount Last Modified Date"},{"name":"Global_Churn_Amount__c","type":"number","label":"Global Churn Amount"},{"name":"Regional_Churn_Amount__c","type":"number","label":"Regional Churn Amount"},{"name":"Regional_Manager_Amount__c","type":"number","label":"Regional Manager Amount"},{"name":"Sub_Regional_Churn_Amount__c","type":"number","label":"Sub-Regional Churn Amount"},{"name":"Sub_Regional_Manager_Amount__c","type":"number","label":"Sub-Regional Manager Amount"},{"name":"CVM_Churn_Amount__c","type":"number","label":"Churn Amount"},{"name":"Request_Referral_Fee__c","type":"text","label":"Request Referral Fee"},{"name":"Executive_Summary__c","type":"text","label":"Executive Summary"},{"name":"Reason_for_Additional_Hours__c","type":"text","label":"Reason for Additional Hours"},{"name":"imt_Is_Renewal_Opportunity__c","type":"boolean","label":"Is Make Renewal Opportunity"},{"name":"Cluster__c","type":"text","label":"Cluster"},{"name":"New_team__c","type":"text","label":"New team?"},{"name":"Sync_to_Partner_Community__c","type":"boolean","label":"Sync to Partner Community"},{"name":"Partner_Split__c","type":"number","label":"Partner Split %"},{"name":"Partner_Influenced_ACV_new__c","type":"number","label":"Partner Influenced ACV"},{"name":"Opportunity_Owner_L0__c","type":"text","label":"Opportunity Owner L0"},{"name":"Has_Legal_Object__c","type":"boolean","label":"Has Legal Object"},{"name":"Has_Lost_Deal_Debrief__c","type":"boolean","label":"Has Lost Deal Debrief"},{"name":"Deal_Type__c","type":"text","label":"Deal Type"},{"name":"Original_C4C_Deal_Annual_Budget_Voucher__c","type":"number","label":"Original C4C Deal Annual Budget/ Voucher"},{"name":"Remaining_Budget__c","type":"number","label":"Remaining Budget"},{"name":"Related_Oppy__c","type":"text","label":"Related Oppy"},{"name":"Forbes_2000_Greenfield__c","type":"text","label":"Forbes 2000 Greenfield"},{"name":"Non_Billable_Classification__c","type":"text","label":"Non-Billable Classification"}],"parameters":[{"name":"__IMTCONN__","type":"account:salesforce,salesforce2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":11059}},{"id":93,"module":"salesforce:getARecord","version":3,"metadata":{"designer":{"x":6300,"y":300}}},{"id":92,"mapper":{"limit":"10","query":"SELECT Id, Subject, Account.Name\nFROM Task \nWHERE What.Type = 'Opportunity'\nAND What.AccountId != NULL \nAND WhatId = '0069V00000b2sJxQAI'","searchType":"soql","disableLimit":false,"disableOffset":false},"module":"salesforce:listRecordsInAnObject","version":3,"metadata":{"expect":[{"name":"searchType","type":"select","label":"Search By","required":true,"validate":{"enum":["simple","soql"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"query","type":"text","label":"SOQL Query","required":true},{"name":"disableLimit","type":"boolean","label":"Disable Limit on Query","required":true},{"name":"disableOffset","type":"boolean","label":"Disable Offset on Query","required":true}],"restore":{"expect":{"searchType":{"label":"Using SOQL (Salesforce Object Query Language)"},"disableLimit":{"mode":"chose"},"disableOffset":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"salesforce"},"label":"GTM-SE-Demo (celonis--makedev.sandbox.my.salesforce.com - Make gtm-se-demo)"}}},"designer":{"x":6600,"y":300},"parameters":[{"name":"__IMTCONN__","type":"account:salesforce,salesforce2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":11059}}],"disabled":true}],"version":1,"metadata":{"designer":{"x":5400,"y":150}}}],"name":"Gong - Create Calls","metadata":{"instant":false,"version":1,"designer":{"orphans":[],"samples":{"38":{"body":{"callId":"1108380384560221145","requestId":"6ho2t2he80sozlmfrpw"},"headers":{"date":"Fri, 28 Nov 2025 16:32:18 GMT","vary":"accept-encoding","cf-ray":"9a5b42b0bc4c995f-DUB","server":"cloudflare","x-traceid":"6ho2t2he80sozlmfrpw","connection":"close","set-cookie":["AWSALBTG=P82AnJzPEuOtNX+j/PDpnT8JKXzoRoDrSF7udP/FocqiP3DMlhveU8vrsBMqdv8E5Ke2VZBw0UcN4GwRr/nlBSbDkLk..."],"content-type":"application/json;charset=UTF-8","cf-cache-status":"DYNAMIC","transfer-encoding":"chunked"},"statusCode":200},"39":{"body":{"users":[{"id":"7289637502456140377","title":"Account Manager","active":true,"created":"2022-07-18T08:13:02.949+02:00","lastName":"Make","settings":{"emailsImported":true,"gongConnectEnabled":true,"preventEmailImport":null,"telephonyCallsImported":true,"webConferencesRecorded":true,"nonRecordedMeetingsImported":true,"preventWebConferenceRecording":null},"extension":null,"firstName":"Development","managerId":null,"phoneNumber":null,"emailAddress":"development@make.com","emailAliases":[],"spokenLanguages":[{"primary":true,"language":"en-GB"}],"personalMeetingUrls":[],"trustedEmailAddress":null,"meetingConsentPageUrl":null}],"records":{"totalRecords":5,"currentPageSize":5,"currentPageNumber":0},"requestId":"4b609k4c5ct0pipxggz"},"headers":{"date":"Mon, 01 Dec 2025 14:58:56 GMT","vary":"accept-encoding","cf-ray":"9a73720df826b94d-DUB","server":"cloudflare","x-traceid":"4b609k4c5ct0pipxggz","connection":"close","set-cookie":["AWSALBTG=5Sd8j9hDvIo/CJCLn67NHQL2VuFhqruMDOhbIrD1tlC2py5UMa8DknxLQryooTPTRKtTE/D/fYw1xK13uVp5sjVWLg5..."],"content-type":"application/json;charset=UTF-8","cf-cache-status":"DYNAMIC","transfer-encoding":"chunked"},"statusCode":200},"40":{"body":{"requestId":"47ij0539u49zrdjgh62","workspaces":[{"id":"8394372397595903646","name":"Initial workspace","description":"The built-in workspace"}]},"headers":{"date":"Mon, 01 Dec 2025 14:58:57 GMT","vary":"accept-encoding","cf-ray":"9a737214698a79dd-DUB","server":"cloudflare","x-traceid":"47ij0539u49zrdjgh62","connection":"close","set-cookie":["AWSALBTG=bx6WN7TVY5pwVCaOXH2kO3WM1k0wPndhfYPKvRQ7ovKNDTdoNWrlIcqOTZ3gT1KD7MBPAP4xmnY7xZufxx+V8NxUgGT..."],"content-type":"application/json;charset=UTF-8","cf-cache-status":"DYNAMIC","transfer-encoding":"chunked"},"statusCode":200},"41":{"Id":"0019V00001KqKDHQA3","Fax":null,"Sic":null,"Name":"GitLab","Site":null,"Type":null,"Phone":null,"BDR__c":null,"CCF__c":null,"CID__c":null,"CSM__c":false,"CoE__c":null,"G2K__c":null,"Jigsaw":null,"Rating":null,"CSAT__c":null,"OwnerId":"00507000003b0GkAAI","SicDesc":null,"Website":"www.gitlab.com","Industry":"Information Technology","Notes__c":null,"PD_ID__c":null,"ParentId":null,"PhotoUrl":"/services/images/photo/0019V00001KqKDHQA3","Stage__c":null,"US_ID__c":null,"IsDeleted":false,"IsPartner":false,"Ownership":null,"Quotes__c":null,"Region__c":"Europe","ARR_USD__c":null,"CRMName__c":"GitLab","Cluster__c":null,"Company__c":"GitLab Inc.","PAMUser__c":false,"Program__c":null,"Subtype__c":null,"Summary__c":null,"Systems__c":null,"BillingCity":"CLANTON","CoE_Lead__c":null,"CreatedById":"00507000004S3rRAAS","CreatedDate":"2025-11-27T18:35:42.000Z","Description":null,"Logo_PNG__c":null,"New_Logo__c":false,"PP_Logos__c":null,"Pipeline__c":0,"Sum_CSAT__c":0,"BillingState":null,"CSM_Level__c":null,"CVM_email__c":null,"Collector__c":null,"Expansion__c":"0","Next_step__c":null,"PP_Assets__c":null,"Processes__c":null,"ROI_Score__c":null,"RecordTypeId":"0121v000000lXC1AAM","ShippingCity":null,"TickerSymbol":null,"__IMTINDEX__":1,"ACV_Target__c":0,"AccountNumber":null,"AccountSource":null,"ActiveOpps__c":2,"AnnualRevenue":null,"BillingStreet":"2400 COUNTY ROAD, 49","Closed_ACV__c":0,"G2K_Landed__c":null,"PAFnow_ARR__c":null,"PPA_signed__c":false,"ParentId_2__c":null,"ShippingState":null,"Symbio_ARR__c":null,"Zuora__SLA__c":null,"__IMTLENGTH__":1,"AS_Quadrant__c":null,"Account_TAM__c":null,"BDR_User_ID__c":0,"BDR_changed__c":false,"BPO_Manager__c":null,"BillingAddress":{"city":"CLANTON","state":null,"street":"2400 COUNTY ROAD, 49","country":"United Kingdom","latitude":null,"longitude":null,"stateCode":null,"postalCode":"35045-6421","countryCode":"GB","geocodeAccuracy":null},"BillingCountry":"United Kingdom","CTD_Engaged__c":null,"LastViewedDate":null,"LegalEntity__c":null,"LensesOwner__c":null,"MasterRecordId":null,"Match_Grade__c":null,"Match_Score__c":null,"ShippingStreet":null,"SystemModstamp":"2025-12-01T13:43:13.000Z","Test_Record__c":false,"Top_Account__c":false,"Touchpoints__c":null,"AS_Score_USD__c":null,"Account_Type__c":null,"BillingLatitude":null,"Bonus_Points__c":0,"C4C_E_Points__c":0,"CCF_Priority__c":null,"CurrencyIsoCode":"GBP","D_B_Industry__c":null,"Health_Score__c":null,"JigsawCompanyId":null,"Margin_value__c":null,"Owner_Active__c":true,"PP_New_Level__c":null,"Parent_Owner__c":null,"ShippingAddress":null,"ShippingCountry":null,"Signing_date__c":null,"Spokesperson__c":null,"Sub_industry__c":null,"Subscription__c":null,"WACC_or_ROIC__c":null,"AccountNumber__c":"0503244","AccountStatus__c":null,"BillingLongitude":null,"BillingStateCode":null,"CoE_Hosted_in__c":null,"CoE_Team_Size__c":null,"Customer_Type__c":null,"Demo_Team_URL__c":null,"Dummy_Account__c":false,"Exec_Document__c":null,"Familiar_Name__c":null,"General_Email__c":null,"IsCustomerPortal":false,"Land_Value_FY__c":null,"Landed_Amount__c":null,"LastActivityDate":null,"LastModifiedById":"00507000004S3rRAAS","LastModifiedDate":"2025-12-01T13:43:13.000Z","Legal_Counsel__c":"00507000000giLXAAY","New_Logo_Date__c":null,"Opportunities__c":2,"Overall_Score__c":null,"Partner_Stage__c":null,"Revenue_Bands__c":"Sub100m","ShippingLatitude":null,"Support_Level__c":null,"Total_Credits__c":null,"Zuora__Active__c":null,"AS_Probability__c":null,"Account_Folder__c":null,"Adoption_Score__c":null,"BillingPostalCode":"35045-6421","Customer_Score__c":null,"Customers_Size__c":null,"D_U_N_S_Number__c":null,"G2K_Greenfield__c":false,"GlobalAlliance__c":"No","Health_Updated__c":false,"Lead_Architect__c":null,"Lenses_ARR_USD__c":null,"Logo_Hierarchy__c":false,"NumberOfEmployees":null,"Overall_Health__c":"<img src=\"https://celonis--c.eu17.visual.force.com/resource/1538657327000/Hexagon_transparent\" alt=\"...","PP_Logo_Amount__c":null,"Recommendation__c":null,"RecordTypeName__c":"A01","Sales_Approach__c":null,"ShippingLongitude":null,"ShippingStateCode":null,"TAM_Calculator__c":"<a href=\"https://docs.google.com/spreadsheets/d/1S0f8EhD3FJNalhe-QqUbM3BRB88t8tMEdM7mTU-QMkQ/edit#gi...","TSPC__PhotoUrl__c":null,"iSell__OSKeyID__c":null,"imt_Make_OrgId__c":null,"Account_Level_2__c":null,"Account_Sponsor__c":null,"Approval_Status__c":null,"BillingCountryCode":"GB","Celonis_ARR_USD__c":null,"ChannelProgramName":null,"Expand_Value_FY__c":null,"Flagged_Account__c":null,"Global_Alliance__c":false,"Holding_Company__c":null,"Industry_Lenses__c":null,"LastReferencedDate":null,"On_Prem_ARR_USD__c":null,"Operating_Model__c":null,"PP_Asset_Points__c":0,"PP_Total_Points__c":null,"Partner_Manager__c":null,"Partner_Segment__c":"Partner-Led","Pipeline_Target__c":0,"Plattform_Users__c":0,"Product_Sponsor__c":null,"Reporting_Chain__c":"476846-","Sales_Territory__c":null,"Sentiment_Score__c":null,"ShareCSMAccount__c":null,"ShippingPostalCode":null,"Signed_Date_MSA__c":null,"imt_BI_org_name__c":null,"imt_Is_From_PQA__c":false,"AS_Potential_USD__c":null,"Account_Owner_ID__c":"00507000003b0GkAAI","Account_Priority__c":"B","Cloud_Commitment__c":null,"Countries_Served__c":null,"Deployment_Score__c":null,"Engagement_Score__c":null,"External_Advisor__c":null,"Industry_Next_FY__c":null,"Integromat_Owner__c":"00507000000hXUzAAM","Is_Make_Reseller__c":false,"Legacy_C4C_Model__c":null,"MSA_PSA_accepted__c":null,"On_prem_Customer__c":false,"Open_Pipeline_IN__c":0,"Open_Pipeline_UP__c":0,"PP_Direct_Amount__c":null,"PP_Direct_Points__c":null,"PP_Resell_Amount__c":null,"PP_Resell_Points__c":null,"Partnership_type__c":null,"Partnerships_new__c":null,"ROI_Score_Colour__c":null,"Reference_Status__c":null,"Sandbox_Team_URL__c":null,"Service_Offering__c":null,"ShippingCountryCode":null,"Signing_Date_NDA__c":null,"Special_Handling__c":false,"User_Territory_c__c":null,"gaconnector_City__c":null,"imt_Company_Size__c":"1001-5000","imt_Partner_Tier__c":null,"Account_ID_Unique__c":"0019V00001KqKDHQA3","Available_Credits__c":null,"Clear_Targets_Set__c":null,"Converted_Lead_Id__c":null,"Created_from_Lead__c":false,"Current_User_Team__c":false,"D_B_Industry_Name__c":null,"Deal_Desk_Manager__c":"00507000000gktzAAA","ECUSTOMS__IM_Date__c":null,"Executive_Summary__c":null,"Fortune_1000_Rank__c":null,"Landed_Close_Date__c":null,"Logo_Use_External__c":null,"Name_Use_External__c":null,"New_Customer_Date__c":null,"New_Logo_Approved__c":null,"New_Logo_Owner_ID__c":null,"Next_Renewal_Date__c":null,"NumberofEmployees__c":null,"PP_Last_Data_Load__c":null,"PP_Next_Data_Load__c":"Feb-01-2024","Qualified_Contact__c":false,"Reason_for_no_CoE__c":null,"Reporting_Account__c":null,"Type_of_Customers__c":null,"Value_Proposition__c":null,"Annual_Revenue_USD__c":1000000,"Business_Ownership__c":null,"Customers_Industry__c":null,"ECUSTOMS__RPS_Date__c":null,"End_Of_Fiscal_Year__c":null,"Fortune_500_Global__c":null,"Handover_CVM_to_VE__c":false,"Integromat_ARR_USD__c":40000,"Interim_Lenses_CVM__c":null,"Internal_Promotion__c":"0","LMS_Enrollment_Key__c":null,"Landed_Fiscal_year__c":null,"Match_Data_Profile__c":null,"PP_Success_Stories__c":null,"Roll_Up_Account_ID__c":"0019V00001KqKDHQA3","Top_Account_Landed__c":"Yes","UltimateParent_new__c":"GitLab","Use_Case_Expertise__c":null,"User_is_Active_BDR__c":false,"WACC_or_ROIC_value__c":null,"adelAnyLab__Labels__c":null,"gaconnector_Device__c":null,"imt_Company_Domain__c":"gitlab.com","imt_Is_In_Make_ENT__c":false,"imt_Is_PQL_Related__c":false,"imt_Make_PA_Signed__c":null,"imt_Partner_Source__c":null,"imt_Partner_Status__c":null,"safebase__NDA_Done__c":false,"Account_Segment_New__c":"<500M","All_Traffic_Sources__c":null,"App_Partner_Contact__c":null,"Apps_Specialization__c":null,"BillingGeocodeAccuracy":null,"C4C_Project_Hub_APC__c":null,"Company_Description__c":null,"Contractual_Account__c":false,"Customers_Reference__c":null,"DOZISF__ZoomInfo_Id__c":null,"Direct_Mail_Opt_Out__c":false,"ECUSTOMS__AOS_Error__c":null,"ECUSTOMS__IM_Status__c":null,"ECUSTOMS__RPSString__c":null,"ECUSTOMS__RPS_Error__c":null,"LD_USE_DnB_Optimize__c":true,"Last_Validated_Date__c":null,"Lead_Data_Scientist__c":null,"PP_ACV_Total_Amount__c":null,"PP_ACV_Total_Points__c":null,"PP_Asset_components__c":null,"PP_Transform_Points__c":0,"Partner_Engaged_CoE__c":null,"PicklistNameDisplay__c":"GitLab, United Kingdom","Reach_Max_of_Admins__c":true,"Referenceable_legal__c":null,"SourceSystemIdentifier":null,"Strategic_Relevance__c":null,"Total_Expert_Badges__c":null,"User_Territory_User__c":null,"dnb_Exclude_Company__c":true,"gaconnector_Browser__c":null,"gaconnector_Country__c":null,"imt_Language_Locale__c":null,"imt_Partner_Link_Id__c":null,"imt_Synced_To_BI_DB__c":false,"Access_to_Trust_Page__c":false,"Account_Owner_Region__c":"EMEA Growth","App_Partnership_Type__c":null,"Benchmarking_Allowed__c":null,"CaaS_Addendum_signed__c":false,"ChannelProgramLevelName":null,"Company_Social_Media__c":null,"ECUSTOMS__AOS_String__c":null,"ECUSTOMS__RPS_Status__c":"Pending","Functional_Expertise__c":null,"LinkedIn_Company_URL__c":null,"Next_FY_ownership_L1__c":null,"Overall_Score_Colour__c":null,"PP_Co_selling_Amount__c":null,"PP_Co_selling_Points__c":null,"PP_Logo_Total_Points__c":null,"Reference_Exceptions__c":null,"Regional_Restriction__c":"Global","ShippingGeocodeAccuracy":null,"UltimateParentId_new__c":"0019V00001KqKDHQA3","UltimateParent_Owner__c":"00507000003b0Gk","fferpcore__VatStatus__c":null,"imt_Is_Make_Customer__c":false,"imt_Org_Nb_Employees__c":null,"safebase__SafeBaseId__c":null,"Account_ARR_Hierarchy__c":null,"Account_Owner_Manager__c":"Remy Lazarovici","Account_Owner_changed__c":false,"Account_Sales_Cluster__c":null,"Account_Source_Lenses__c":null,"Adoption_Score_Colour__c":null,"CVG_Account_Subregion__c":null,"CVG_Account_Territory__c":null,"Celonis_Business_Unit__c":"Integromat/Make","Countries_Operated_in__c":null,"D_B_Sales_Revenue_USD__c":0,"ECUSTOMS__AOS_Results__c":null,"ECUSTOMS__Add_IM_Date__c":null,"ECUSTOMS__RPS_Results__c":null,"Implemented_Processes__c":null,"Include_in_D_B_Update__c":true,"Languages_Operated_in__c":null,"Make_Enriched_Account__c":false,"Make_PA_Notified_Date__c":null,"Open_Pipeline_UPminus__c":0,"PP_Masterclass_Points__c":0,"Part_of_G2K_hierarchy__c":null,"Partner_Portal_Admins__c":0,"Partnerships_if_Other__c":null,"Reference_Willingness__c":"No","Schedule_Meeting_Link__c":null,"gaconnector_Longitude__c":null,"gaconnector_Time_Zone__c":null,"imt_Business_Function__c":"Information Technology","imt_Force_Sync_To_PRM__c":false,"Account_Owner_Assigned__c":true,"Account_Owner_District__c":"EMEA Growth Central","Change_Management_Lead__c":null,"Critical_Celonis_Owner__c":0,"CustomerSuccessManager__c":null,"Data_Science_Potential__c":null,"Days_since_Last_Update__c":null,"Eligible_for_Reselling__c":"Not Eligible","Latest_Synchronization__c":null,"Lenses_Partner_Manager__c":null,"Make_Bypass_VR_Backend__c":false,"New_Logo_Approved_Date__c":null,"Overall_Health_Comment__c":null,"PP_Create_Total_Points__c":null,"PP_Market_Total_Points__c":null,"Recommendation_Comment__c":null,"RollUp_Carving_Account__c":null,"Sales_Excellence_Level__c":null,"TSPC__CPLastUpdateDate__c":null,"Zuora__SLASerialNumber__c":null,"gaconnector_IP_Address__c":null,"imt_Account_Sub_Status__c":null,"imt_Last_Activity_Date__c":null,"imt_Last_Activity_Type__c":null,"imt_Make_Creation_Type__c":null,"imt_Partner_1_N_Motion__c":false,"imt_Partner_Sales_Tier__c":null,"safebase__NDA_Provider__c":null,"Account_Owner_Full_Name__c":"EMEA Uncovered","Account_Sales_Cluster_2__c":null,"Adoption_Org_Fit_Health__c":"<img src=\"https://celonis--c.eu17.visual.force.com/resource/1538657327000/Hexagon_transparent\" alt=\"...","Certification_completed__c":false,"Credits_expiration_date__c":null,"DNBConnect__matchedDuns__c":null,"Data_based_Health_Score__c":null,"Delivery_Score_Celocore__c":null,"Deployment_Score_Colour__c":null,"ECUSTOMS__Add_IM_Status__c":null,"Engagement_Score_Colour__c":null,"Forbes_2000_Rank_Global__c":null,"Has_won_BDR_source_opps__c":0,"Industry_Classification__c":"Information Technology","Masterclass_graduations__c":null,"Overall_Health_Picklist__c":null,"PP_Success_Story_Points__c":null,"Partner_Delivery_Rating__c":null,"Specific_Sales_Strategy__c":null,"Ultimate_Parent_Account__c":"0019V00001KqKDHQA3","Zuora__CustomerPriority__c":null,"databooklabs__Last_Sync__c":null,"imt_First_Activity_Date__c":null,"imt_First_Activity_Type__c":null,"imt_Partner_Company_Bio__c":null,"imt_Partner_Main_Org_Id__c":null,"imt_Record_Type_Updated__c":false,"industry_specialization__c":null,"Access_to_Partner_Portal__c":null,"Account_Eexec_Sponsor_v2__c":null,"Account_Hierarchy_Report__c":"<a href=\"/lightning/r/Report/00O1v000008BGIkEAO/view?fv0=476846-\" target=\"_blank\">Account Hierarchy ...","Account_Owner_Sales_Team__c":"none","Account_Owner_Sub_Region__c":"EMEA Growth","Account_Reporting_Number__c":"476846","Adoption_Org_Fit_Comment__c":null,"Allow_List_Email_Domains__c":null,"DNBConnect__dunsTradedUp__c":false,"D_B_Global_Ultimate_DUNS__c":null,"ECUSTOMS__DS_Alert_Level__c":null,"ECUSTOMS__Distributed_ID__c":null,"Exec_Sponsorship_Program__c":false,"Flagged_Account_Checkbox__c":false,"Industry_mapped_to_NAICS__c":null,"Is_Make_Connector_Exists__c":false,"LID__LinkedIn_Company_Id__c":null,"Late_Stage_Software_Opps__c":0,"Make_Global_Score_RollUp__c":null,"POV_Enablement_Conducted__c":false,"PP_Certifications_Points__c":0,"PP_Delivery_Total_Points__c":null,"PP_Implemented_Processes__c":null,"Parent_Account_Unique_ID__c":null,"Partner_Certified_Status__c":null,"Partner_Delivery_Manager__c":null,"Service_Delivery_Manager__c":null,"Service_Excellence_Level__c":null,"Special_Handling_Details__c":null,"Suggested_Parent_Account__c":null,"Value_Realization_Health__c":"<img src=\"https://celonis--c.eu17.visual.force.com/resource/1538657327000/Hexagon_transparent\" alt=\"...","Zuora__NumberofLocations__c":null,"Zuora__SLAExpirationDate__c":null,"Zuora__UpsellOpportunity__c":null,"imt_Industry_Bulk_Update__c":false,"Adoption_Org_Fit_Picklist__c":null,"Critical_Support_Contacts__c":0,"Department_Specialization__c":null,"Initial_Meeting_conducted__c":false,"Partner_Priority_Research__c":null,"Renewal_Likelihood_Health__c":"<img src=\"https://celonis--c.eu17.visual.force.com/resource/1538657327000/Hexagon_transparent\" alt=\"...","Reporting_Sales_Territory__c":null,"Suggested_Ultimate_Parent__c":null,"Territory_Channel_Manager__c":null,"Value_Realization_Comment__c":null,"fferpcore__SalesTaxStatus__c":null,"fferpcore__TaxCountryCode__c":null,"gaconnector_Pages_visited__c":null,"imt_Forced_Sync_Requested__c":false,"imt_Org_CXP_Creation_Date__c":null,"imt_Org_Planned_Sync_Date__c":null,"imt_Partner_Main_Services__c":null,"Access_to_global_demo_team__c":false,"Annual_Revenue_USD_Next_FY__c":null,"Asset_Library_Segmentation__c":null,"CVG_Account_Territory_Name__c":null,"Critical_Executive_Sponsor__c":0,"Customers_Industry_Cluster__c":null,"DNBConnect__D_B_Match_Type__c":null,"Digital_Consulting_Manager__c":null,"EMS_readiness_hold_Account__c":false,"Framed_PnL_Benefit_Roll_up__c":null,"Level5_ParentId_Collection__c":"NONE-NONE-NONE-NONE-NONE","Number_of_Survey_Responses__c":0,"PP_Asset_Components_Points__c":null,"PP_External_Stories_Points__c":0,"PP_Total_Enablement_Points__c":0,"PartnerManagementattention__c":null,"Renewal_Likelihood_Comment__c":null,"SalesLoft1__Active_Account__c":0,"Signing_Date_CaaS_Addendum__c":null,"Strategic_Alliance_Manager__c":null,"Value_Realization_Picklist__c":null,"imt_Is_In_Make_Selfservice__c":false,"imt_Last_Make_Execution_Id__c":null,"imt_Make_Enterprise_Status__c":"Never customer","imt_Make_Tech_Partner_Tier__c":null,"imt_Partner_Affiliate_Link__c":null,"DNBConnect__D_B_Match_Grade__c":null,"DOZISF__ZoomInfo_InboxAI_ID__c":null,"ECUSTOMS__Screening_Trigger__c":false,"ECUSTOMS__add_DistributedID__c":null,"Global_Headquarters_Address__c":false,"HasOpenBDRSourceOpportunity__c":0,"Onprem_pending_to_safeguard__c":false,"PP_Academic_Alliance_Points__c":0,"PP_Anonymous_Stories_Points__c":0,"Renewal_Likelihood_Picklist__c":null,"Signing_Date_DCP_Order_Form__c":null,"Today_less_Signing_Date_NDA__c":null,"gaconnector_Last_Click_Term__c":null,"gaconnector_Location_approx__c":"<a href=\"https://maps.google.com/maps?q=loc:,\" target=\"_blank\">Open in Google Maps</a>","imt_Make_Selfservice_Status__c":"Never customer","imt_Partner_Service_Package__c":null,"imt_Tech_Partner_Monday_URL__c":null,"ECUSTOMS__AOS_DistID_Cleared__c":null,"ECUSTOMS__Compliance_History__c":null,"ECUSTOMS__RPS_DistID_Cleared__c":null,"ECUSTOMS__Schedule_Screening__c":false,"Number_of_Certified_Analysts__c":null,"PP_Project_Engagement_Points__c":null,"Part_of_Top_Account_Hierarcy__c":"Yes","Realized_PnL_Benefit_Roll_up__c":null,"SalesLoft1__SalesLoft_Domain__c":"www.gitlab.com?0019V00001KqKDHQA3","databooklabs__Databook_Score__c":null,"gaconnector_First_Click_Term__c":null,"gaconnector_Latitude_from_IP__c":null,"gaconnector_Operating_System__c":null,"imt_Partner_Partnership_Type__c":null,"safebase__Account_Share_Link__c":null,"Critical_Contractual_Contacts__c":0,"Customer_Success_Manager_Role__c":null,"Customer_provided_Cost_Factor__c":"Yes","DOZISF__ZoomInfo_Last_Updated__c":null,"ECUSTOMS__Current_Opportunity__c":null,"Latest_Update_Customer_Health__c":null,"gaconnector_Last_Click_Medium__c":null,"gaconnector_Last_Click_Source__c":null,"imt_Last_Form_Submission_Date__c":null,"imt_Partner_Automation_Resold__c":null,"imt_Partner_Number_Of_Clients__c":null,"imt_Tech_Partner_Monday_Valid__c":false,"Certification_Requirements_Met__c":false,"Credits_usable_by_subsidiaries__c":null,"Customer_Handling_Instructions__c":null,"DOZISF__ZoomInfo_Enrich_Status__c":null,"DOZISF__ZoomInfo_First_Updated__c":null,"Integration_Partner_Specialist__c":null,"Local_Process_Mining_Expertise__c":null,"databooklabs__Databook_LogoUrl__c":null,"gaconnector_First_Click_Medium__c":null,"gaconnector_First_Click_Source__c":null,"gaconnector_Last_Click_Channel__c":null,"gaconnector_Last_Click_Content__c":null,"imt_Company_Domain_Country_Key__c":"gitlab.com_United Kingdom","imt_Creation_Make_Execution_Id__c":null,"imt_Partner_Additional_Domains__c":null,"imt_Partner_Elimination_Reason__c":null,"pse__ERP_Worker_Correlation_Id__c":null,"ActiveCustomerSuccessEngagement__c":false,"Enterprise_Value_Projection_EVP__c":null,"Number_of_Processes_implemented__c":null,"Number_of_Snap_users_in_account__c":null,"Recommendation_Partner_Delivery__c":null,"Technical_Implementation_Health__c":"<img src=\"https://celonis--c.eu17.visual.force.com/resource/1538657327000/Hexagon_transparent\" alt=\"...","fferpcore__ExemptionCertificate__c":null,"fferpcore__ValidatedBillingCity__c":null,"gaconnector_First_Click_Channel__c":null,"gaconnector_First_Click_Content__c":null,"gaconnector_Last_Click_Campaign__c":null,"gaconnector_Last_Click_Referrer__c":null,"imt_Make_Company_Annual_Revenue__c":null,"imt_Partner_Apps_Specialization__c":null,"imt_Partner_External_Co_Selling__c":"https://f.make.com/co-selling-link-not-available.","imt_Partner_Joint_Business_Plan__c":null,"imt_Partner_Sales_Tier_Last_Mon__c":null,"Account_condition_other_comments__c":null,"Customers_Primary_Industry_Focus__c":null,"DNBConnect__D_B_Name_Match_Score__c":null,"ECUSTOMS__Address_Screening_Date__c":null,"ECUSTOMS__RPS_RiskCountry_Status__c":"Pending","Has_open_BDR_sourced_opportunity__c":0,"MasterClass_Completed_Post_sales__c":false,"PP_BPO_C4C_Implementation_Points__c":0,"PP_Process_Implementation_Points__c":0,"Requested_Account_for_Submission__c":false,"Requested_Partner_for_Submission__c":false,"Technical_Implementation_Comment__c":null,"fferpcore__ValidatedBillingState__c":null,"fferpcore__ValidatedShippingCity__c":null,"fferpcore__VatRegistrationNumber__c":null,"gaconnector_First_Click_Campaign__c":null,"gaconnector_First_Click_Referrer__c":null,"imt_Partner_Sales_Tier_Last_Year__c":null,"MasterClass_successful_Completion__c":false,"Technical_Implementation_Picklist__c":null,"databooklabs__Databook_Company_ID__c":null,"fferpcore__ValidatedBillingStreet__c":null,"fferpcore__ValidatedShippingState__c":null,"gaconnector_Google_Analytics_Link__c":"<a href=\"https://analytics.google.com/analytics/web/#report/visitors-user-activity/a72840801w1106174...","gaconnector_Time_Spent_on_Website__c":null,"imt_Partner_Is_Integromat_Partner__c":false,"imt_Partner_Last_Year_Revenue_USD__c":null,"imt_Partner_Resell_Network_Exists__c":null,"pse__Add_BEIs_To_Existing_Batches__c":false,"DNBConnect__D_B_Match_Data_Profile__c":null,"ECUSTOMS__Address_Screening_Status__c":"Pending","Number_of_Certified_Data_Engineers__c":null,"Parent_Owner_same_as_Account_Owner__c":false,"Potential_Short_term_Opportunities__c":null,"databooklabs__Databook_Score_Trend__c":null,"fferpcore__ValidatedBillingCountry__c":null,"fferpcore__ValidatedShippingStreet__c":null,"imt_Partner_Other_Apps_Partnership__c":null,"Number_of_Influenced_Oppys_FY_18_19__c":0,"databooklabs__Databook_Company_Name__c":null,"fferpcore__ValidatedShippingCountry__c":null,"gaconnector_Last_Click_Landing_Page__c":null,"imt_Is_User_Org_Relationship_synced__c":false,"PoV_framework_Agreement_Signing_date__c":null,"fferpcore__IsBillingAddressValidated__c":false,"gaconnector_First_Click_Landing_Page__c":null,"gaconnector_Number_of_Website_Visits__c":null,"imt_Tech_Partner_Monday_URL_Added_At__c":null,"safebase__Number_of_Invited_Contacts__c":null,"DNBConnect__D_B_Match_Confidence_Code__c":null,"Date_of_first_POV_Opportunity_closure__c":null,"ECUSTOMS__Address_Risk_Country_Status__c":"Pending","Relationship_Executive_Support_Health__c":"<img src=\"https://celonis--c.eu17.visual.force.com/resource/1538657327000/Hexagon_transparent\" alt=\"...","fferpcore__IsShippingAddressValidated__c":false,"fferpcore__ValidatedBillingPostalCode__c":null,"imt_Partner_Pro_Service_Tier_Last_Mon__c":null,"imt_Partner_Professional_Service_Tier__c":null,"imt_Partner_Use_Cases_Success_Stories__c":null,"MagentrixOne__TrackSecurityGroup_mgtrx__c":false,"Prototype_Products_Disclaimer_Checkbox__c":false,"Prototype_Products_Disclaimer_accepted__c":null,"Relationship_Executive_Support_Comment__c":null,"Signing_Date_Partner_Program_Agreement__c":null,"fferpcore__ValidatedShippingPostalCode__c":null,"gaconnector_Google_Analytics_Client_ID__c":null,"pse__Services_Billing_Time_Period_Type__c":null,"DNBConnect__D_B_Connect_Company_Profile__c":null,"Number_of_Certified_Sales_Professionals__c":null,"Relationship_Executive_Support_Picklist__c":null,"imt_Make_SubscriptionPlanUpgraded_count__c":null,"gaconnector_Time_Spent_on_Website_formul__c":"0:0","fferpcore__MaterializedBillingAddressValidated__c":false,"fferpcore__MaterializedShippingAddressValidated__c":false,"safebase__Contact_Required_for_Account_Creation__c":false},"42":{"Id":"0039V00001TyBSbQAN","Fax":null,"Name":"Simon Mansfield","Email":"m.skinner+simongitlab@make.com","Phone":null,"Title":"Senior Manager, Solutions Architecture","Jigsaw":null,"MQL__c":false,"Suffix":null,"OwnerId":"00507000004S3rRAAS","Type__c":null,"Dials__c":null,"LastName":"Mansfield","Notes__c":null,"PD_ID__c":null,"PhotoUrl":"/services/images/photo/0039V00001TyBSbQAN","US_ID__c":null,"gclid__c":null,"AccountId":"0019V00001KqKDHQA3","Birthdate":null,"DoNotCall":false,"FirstName":"Simon","HomePhone":null,"IsDeleted":false,"Lofted__c":false,"OtherCity":null,"Region__c":null,"Stages__c":null,"Status__c":"Assigned","Company__c":null,"Country__c":null,"Department":null,"LeadSource":"IMT AE Prospecting","MiddleName":null,"OtherPhone":null,"OtherState":null,"Persona__c":"Process Excellence","Salutation":"Mr.","Subtype__c":null,"pi__url__c":null,"App_Name__c":null,"Approved__c":false,"Approver__c":null,"CreatedById":"00507000004S3rRAAS","CreatedDate":"2025-11-28T09:52:06.000Z","Description":null,"LOGO_png__c":null,"Language__c":"EN","MailingCity":null,"MobilePhone":null,"Opted_In__c":false,"OtherStreet":null,"Priority__c":null,"ReportsToId":null,"UTM_Term__c":null,"Authority__c":null,"CRM_Score__c":0,"Challenge__c":null,"CountryIP__c":null,"Full_Name__c":"Simon Mansfield","MailingState":null,"OtherAddress":null,"OtherCountry":null,"OwnerId_2__c":null,"Pardot_Id__c":null,"RecordTypeId":"01207000000bqxvAAA","Seniority__c":"Manager","Snap_User__c":false,"__IMTINDEX__":1,"is_change__c":false,"pi__grade__c":null,"pi__score__c":null,"AssistantName":null,"CurrentDCM__c":false,"Department__c":"Information Technology","Initiative__c":null,"LID__Level__c":null,"MailingStreet":null,"OtherLatitude":null,"UTM_Medium__c":null,"UTM_Source__c":null,"__IMTLENGTH__":2,"AgreeToTsCs__c":false,"AssistantPhone":null,"Bombora_MQL__c":false,"Count_field__c":1,"EU_Resident__c":false,"First_Login__c":null,"IsEmailBounced":false,"LastViewedDate":null,"MailingAddress":{"city":null,"state":null,"street":null,"country":"United Kingdom","latitude":null,"longitude":null,"stateCode":null,"postalCode":null,"countryCode":"GB","geocodeAccuracy":null},"MailingCountry":"United Kingdom","MasterRecordId":null,"OtherLongitude":null,"OtherStateCode":null,"Part_of_G2K__c":false,"Reset_Score__c":false,"SystemModstamp":"2025-11-28T09:52:07.000Z","Test_Record__c":false,"Total_Score__c":0,"UTM_Content__c":null,"WebinarTime__c":null,"Welcome_Kit__c":false,"zqu__County__c":null,"Avoid_Reason__c":null,"Contact_Link__c":"<a href=\"0039V00001TyBSb\" target=\"_blank\">Simon Mansfield</a>","Contact_Role__c":null,"CurrencyIsoCode":"USD","Email_Domain__c":"make.com","Email_Opt_In__c":false,"JigsawContactId":null,"MailingLatitude":null,"OtherPostalCode":null,"PardotDelete__c":false,"Related_User__c":false,"Social_Media__c":null,"UTM_Campaign__c":null,"imt_MQL_Type__c":null,"imt_PQL_Type__c":null,"pi__comments__c":null,"Account_Owner__c":"EMEA Uncovered","Approval_Date__c":null,"Avoid_Comment__c":null,"BDR_Qualified__c":false,"Business_Unit__c":null,"Central_Phone__c":null,"Change_by_BDR__c":null,"CreatedByUser__c":false,"EmailBouncedDate":null,"Expert_Badges__c":null,"LastActivityDate":null,"LastCUUpdateDate":null,"LastModifiedById":"00507000004S3rRAAS","LastModifiedDate":"2025-11-28T09:52:07.000Z","MQL_Nurturing__c":false,"MailingLongitude":null,"MailingStateCode":null,"OtherCountryCode":null,"Account_Status__c":null,"C4C_Fast_Track__c":false,"Certifications__c":null,"Community_Type__c":null,"Contact_Source__c":"Direct Sales Outbound","Do_Not_Contact__c":false,"Is_BDR_Contact__c":false,"LID__Languages__c":null,"LastCURequestDate":null,"MailingPostalCode":null,"PartnerAccount__c":null,"RecordTypeName__c":"C10","Sales_Programs__c":null,"Survey_Opt_out__c":null,"TSPC__HasPower__c":false,"TSPC__IsMapped__c":false,"TSPC__PhotoUrl__c":null,"C4C_User_Status__c":null,"Celonis_Contact__c":"No","Created_by_Role__c":"Make - CRO","DiscourseUserId__c":null,"EmailBouncedReason":null,"Email_Reference__c":5,"Goal_of_Meeting__c":null,"HasOptedOutOfEmail":false,"LID__Session_Id__c":"00D9V00000GJK8J!AQEAQMgqD6GPz183rm.lNbRrUMFj7YLV1mVK6N_1nDJ6rGR1GOC6Piqslfeo6sQ40nHunoUPx9lUEoG0QsSw...","LastReferencedDate":null,"Lusha_Seniority__c":null,"MailingCountryCode":"GB","Meaningful_KPIS__c":null,"Related_Contact__c":null,"Workday_Manager__c":null,"Account_Industry__c":"Information Technology","Account_Priority__c":"B","Asset_Downloaded__c":null,"Contact_Number_2__c":"2246306","Implied_Interest__c":false,"Line_Of_Business__c":null,"Lusha_Enrichment__c":"No","Number_of_Logins__c":0,"Nurture_Interest__c":"Process Excellence","Rejection_Reason__c":null,"TSPC__TwitterUrl__c":null,"Type_of_Customer__c":null,"imt_Company_Size__c":null,"AE_Ownership_Lock__c":false,"Business_Function__c":null,"Community_SubType__c":null,"Contact_ID_Unique__c":"0039V00001TyBSbQAN","Count_of_Activity__c":null,"Created_from_Lead__c":false,"ECUSTOMS__IM_Date__c":null,"LinkedIn_campaign__c":null,"MQL_Score_reached__c":null,"Most_Recent_Login__c":null,"OtherGeocodeAccuracy":null,"Reassign_Approver__c":false,"Reselling_Partner__c":null,"TSPC__FacebookUrl__c":null,"TSPC__LinkedInUrl__c":null,"imt_Business_Role__c":null,"pi__last_activity__c":null,"safebase__Invited__c":false,"Account_Owner_Name__c":"EMEA Uncovered","Account_Owner_Role__c":"CEO","Contact_Owner_Role__c":"Make - CRO","Delivering_Partner__c":null,"Drift_Conversation__c":null,"ECUSTOMS__RPS_Date__c":null,"HasConvertedLeadID__c":0,"Lusha_Last_Updated__c":null,"Pardot_Form_Opt_In__c":false,"Supplemental_Email__c":null,"Value_proposal_URL__c":null,"gaconnector_Device__c":null,"iSell__Avention_ID__c":null,"imt_Nurture_Reason__c":null,"pi__first_activity__c":null,"Account_Record_Type__c":"A01: Customer","All_Traffic_Sources__c":null,"Contact_in_Approval__c":false,"Contractual_Contact__c":false,"Created_by_Function__c":"Solution Engineer","DOZISF__ZoomInfo_Id__c":null,"ECUSTOMS__AOS_Error__c":null,"ECUSTOMS__IM_Status__c":null,"ECUSTOMS__RPSString__c":null,"ECUSTOMS__RPS_Error__c":null,"Last_Responded_Date__c":null,"MQL_Date_From_Today__c":null,"MailingGeocodeAccuracy":null,"Marketing_Suspended__c":false,"Process_of_Interest__c":null,"Registration_Status__c":null,"Star_Increased_Date__c":null,"imt_Nurture_Comment__c":null,"imt_Touchpoint_Name__c":null,"AE_BDR_Communication__c":null,"Contact_Owner_Active__c":true,"ECUSTOMS__AOS_String__c":null,"ECUSTOMS__RPS_Status__c":"Pending","Is_Make_Task_Created__c":false,"Pardot_Email_Clicked__c":false,"Partner_Comm_License__c":false,"Partner_Contact_Role__c":null,"Partner_Portal_Admin__c":false,"Project_Role_Rollout__c":null,"imt_Lead_Source_Type__c":"AE Prospecting","Account_Familiar_Name__c":null,"Account_Sales_Cluster__c":null,"Auto_Import_from_SFDC__c":null,"Celonis_Business_Unit__c":"Integromat/Make","ContactMigrationPhone__c":null,"Converted_from_LeadID__c":null,"Countries_Operated_In__c":null,"ECUSTOMS__AOS_Results__c":null,"ECUSTOMS__Add_IM_Date__c":null,"ECUSTOMS__RPS_Results__c":null,"Languages_Operated_in__c":null,"Third_Party_Seniority__c":null,"Total_Score_Timestamp__c":null,"Uploaded_data_to_Snap__c":false,"ZoomInfo_Company_Name__c":null,"Zoominfo_Job_Function__c":null,"gaconnector_Longitude__c":null,"imt_Force_Sync_To_PRM__c":false,"imt_Make_Sales_Region__c":null,"imt_Proficiency_Level__c":null,"imt_Task_Trigger_Type__c":null,"Company_Annual_Revenue__c":null,"ISV_Apps_requested_URL__c":null,"Make_Bypass_VR_Backend__c":false,"Masterclass_graduation__c":null,"Salesloft_Cadence_Name__c":null,"TSPC__SiblingSortOrder__c":null,"imt_Last_Activity_Date__c":null,"imt_Last_Activity_Type__c":null,"Approval_Submitter_Name__c":null,"C4C_Registration_Status__c":null,"DNBConnect__matchedDuns__c":null,"ECUSTOMS__Add_IM_Status__c":null,"Lead_Source_Description__c":"n/a","Qualification_Questions__c":null,"Salesloft_Cadence_stage__c":null,"Snap_Data_Limit_Reached__c":false,"imt_Company_Size_Fomula__c":"1001-5000","imt_First_Activity_Date__c":null,"imt_First_Activity_Type__c":null,"Access_to_Partner_Portal__c":"Yes","Account_Owner_Sub_Region__c":"EMEA Growth","Account_Owner_is_changed__c":null,"Approval_Submitter_email__c":null,"Days_since_Last_Activity__c":null,"ECUSTOMS__DS_Alert_Level__c":null,"ECUSTOMS__Distributed_ID__c":null,"ISV_Apps_requested_SF_ID__c":null,"Ready_to_MQL_Pardot_Only__c":false,"Requested_1_on_1_meeting__c":false,"Technical_Contact_Person__c":false,"Third_Party_Job_Function__c":null,"Administrative_Privileges__c":null,"Date_of_Last_Demo_Request__c":null,"LID__No_longer_at_Company__c":null,"ZoomInfo_Person_Has_Moved__c":null,"Account_Company_Legal_Name__c":"GitLab Inc.","App_Partner_Contact_Person__c":false,"Contact_s_Previous_Company__c":null,"Customer_Community_Updates__c":null,"DNBConnect__D_B_Match_Type__c":null,"SalesLoft1__Active_Contact__c":0,"DNBConnect__D_B_Match_Grade__c":null,"DOZISF__ZoomInfo_Company_ID__c":null,"ECUSTOMS__Screening_Trigger__c":false,"IBC_Demo_and_Sandbox_access__c":false,"Influencing_Partner_Contact__c":null,"Integromat_Experience_Level__c":null,"MQL_score_reached_reporting__c":null,"MagentrixOne__LastLoginDate__c":null,"ZoomInfo_Employment_History__c":null,"Active_Team_Cadence_Campaign__c":null,"Consultants_Partners_Systems__c":null,"ECUSTOMS__AOS_DistID_Cleared__c":null,"ECUSTOMS__Compliance_History__c":null,"ECUSTOMS__RPS_DistID_Cleared__c":null,"ECUSTOMS__Schedule_Screening__c":false,"ECUSTOMS__add_DistributedIDs__c":null,"Marketing_Nurturing_Use_Case__c":null,"Pardot_Last_Marketing_Action__c":null,"Public_Webinar_Date_and_Time__c":null,"gaconnector_Latitude_from_IP__c":null,"imt_Make_Partner_Portal_User__c":false,"Active_BDR_SalesLoft_Campaign__c":null,"DOZISF__ZoomInfo_Last_Updated__c":null,"Information_from_Contact_Form__c":null,"Number_of_Snap_demos_analysed__c":0,"DOZISF__ZoomInfo_First_Updated__c":null,"Integromat_Actual_Service_Plan__c":null,"Marketing_Suspended_Time_Stamp__c":null,"Most_Recent_Cadence_Cadence_ID__c":null,"Date_of_Last_Trial_Registration__c":null,"DNBConnect__D_B_Name_Match_Score__c":null,"ECUSTOMS__Address_Screening_Date__c":null,"ECUSTOMS__RPS_RiskCountry_Status__c":"Pending","Qualification_requested_by_Sales__c":false,"imt_Celonis_to_Make_Referral_Log__c":null,"Date_of_Last_Webinar_Registration__c":null,"DNBConnect__D_B_Match_Data_Profile__c":null,"ECUSTOMS__Address_Screening_Status__c":"Pending","imt_Make_Partner_Portal_User_Group__c":null,"Last_Updated_Info_from_Contact_Form__c":null,"DNBConnect__D_B_Contact_Match_Driver__c":null,"SalesLoft1__Most_Recent_Cadence_Name__c":null,"not_used_imt_Trigger_Duplicate_Check__c":false,"DNBConnect__D_B_Match_Confidence_Code__c":null,"Date_of_Last_Nurturing_Status_Changed__c":null,"ECUSTOMS__Address_Risk_Country_Status__c":"Pending","Scoring_and_Grading_Star_Rating_Stars__c":"<img src=\"/img/samples/stars_000.gif\" alt=\"Scoring and Grading Star Rating Stars\" border=\"0\"/>","imt_Trigger_3rd_party_duplicate_check__c":false,"Experience_with_other_Automation_tools__c":null,"Scoring_and_Grading_Star_Rating_Number__c":null,"DNBConnect__D_B_Connect_Company_Profile__c":null,"DNBConnect__D_B_Connect_Contact_Profile__c":null,"imt_Create_Contact_From_Account_Message__c":"You must create the contact from the Account, using the button [New Make Contact]","SalesLoft1__Most_Recent_Last_Completed_Step__c":null,"safebase__Contact_Required_for_Account_Creation__c":false,"SalesLoft1__Most_Recent_Cadence_Next_Step_Due_Date__c":null},"44":{"id":"3rjl2cn03vo29ks43ntk71rnak","end":"2025-11-17T17:00:00.000Z","etag":"\"3528648797636318\"","kind":"calendar#event","start":"2025-11-17T16:00:00.000Z","status":"confirmed","colorId":"11","created":"2025-11-27T17:29:58.000Z","creator":{"self":true,"email":"gtm-se-demo@make.com"},"iCalUID":"3rjl2cn03vo29ks43ntk71rnak@google.com","summary":"Gitlab | Make | Use-Case Definition & Criteria","updated":"2025-11-28T10:06:38.818Z","htmlLink":"https://www.google.com/calendar/event?eid=M3JqbDJjbjAzdm8yOWtzNDNudGs3MXJuYWsgZ3RtLXNlLWRlbW9AbWFrZS...","sequence":0,"attendees":[{"self":true,"email":"n.boltz@make.com","organizer":true,"responseStatus":"needsAction"}],"eventType":"default","organizer":{"self":true,"email":"gtm-se-demo@make.com"},"reminders":{"useDefault":true},"attachments":null,"description":"addressing a remaining legal component and offering further architectural clarification with Nisha's...","__IMTINDEX__":1,"__IMTLENGTH__":5},"46":{"Id":"01M9V00000RlYMwUAN","Title":"Account Manager","UserId":"00507000000hXUzAAM","PhotoUrl":"/profilephoto/005/T","AccountId":"0019V00001KqKDHQA3","IsDeleted":false,"CreatedById":"00507000004S3rRAAS","CreatedDate":"2025-11-27T18:35:54.000Z","__IMTINDEX__":1,"__IMTLENGTH__":2,"SystemModstamp":"2025-11-27T18:35:54.000Z","TeamMemberRole":"Integromat Owner","CaseAccessLevel":"Read","CurrencyIsoCode":"USD","LastModifiedById":"00507000004S3rRAAS","LastModifiedDate":"2025-11-27T18:35:54.000Z","AccountAccessLevel":"Edit","ContactAccessLevel":"Edit","OpportunityAccessLevel":"Edit"},"48":{"array":[{"Id":"01M9V00000RnByrUAF","UserId":"00507000004S3rRAAS","TeamMemberRole":"Integromat Solution Engineer"}],"__IMTKEY__":"0019V00001KqKDHQA3"},"53":{"id":"942982434555972255","title":null,"active":true,"created":"2022-08-11T09:28:08.442+02:00","lastName":"Make","settings":{"emailsImported":false,"gongConnectEnabled":false,"preventEmailImport":false,"telephonyCallsImported":false,"webConferencesRecorded":false,"nonRecordedMeetingsImported":false,"preventWebConferenceRecording":false},"extension":null,"firstName":"Production","managerId":null,"phoneNumber":null,"__IMTINDEX__":1,"emailAddress":"production@make.com","emailAliases":[],"__IMTLENGTH__":5,"spokenLanguages":[],"personalMeetingUrls":[],"trustedEmailAddress":null,"meetingConsentPageUrl":null},"58":{"json":"[{\"gongUser\":[{\"name\":\"Nick Boltz\",\"userId\":\"5696811018771656508\",\"emailAddress\":\"n.boltz@make.com\"}..."},"59":{"usersArray":[{"name":"Nick Boltz","userId":"5696811018771656508","emailAddress":"n.boltz@make.com"}]},"60":{"gongUser":[{"name":"Nick Boltz","userId":"5696811018771656508","emailAddress":"n.boltz@make.com"}]},"64":{"array":[{"Name":"Jonathan Fullam","Email":"m.skinner+jonathangitlab@make.com"}],"__IMTAGGLENGTH__":2},"66":{"Name":"Simon Mansfield","Email":"m.skinner+simongitlab@make.com","__IMTINDEX__":1,"__IMTLENGTH__":2},"67":{"json":"[{\"gongUser\":[{\"name\":\"Simon Mansfield\",\"userId\":null,\"emailAddress\":\"m.skinner+simongitlab@make.com..."},"68":{"gongUser":[{"name":"Simon Mansfield","userId":null,"emailAddress":"m.skinner+simongitlab@make.com"}]},"70":{"name":"Simon Mansfield","userId":null,"__IMTINDEX__":1,"emailAddress":"m.skinner+simongitlab@make.com","__IMTLENGTH__":1},"71":{"array":[{"name":"Jonathan Fullam","emailAddress":"m.skinner+jonathangitlab@make.com"}],"__IMTAGGLENGTH__":2},"72":{"json":"{\"title\":\"Gitlab | Make | Use-Case Definition & Criteria\",\"parties\":[{\"name\":\"Simon Mansfield\",\"emai..."},"90":{"Id":"0069V00000RXjoSQAT","Name":"Make - Make - ENT - Land","Type":"Land","E2__c":null,"E3__c":null,"E4__c":null,"E6__c":null,"E9__c":null,"IsWon":false,"Ms__c":0,"N3__c":null,"N4__c":null,"N6__c":null,"NS__c":0,"P1__c":null,"P2__c":null,"P3__c":null,"P4__c":null,"P5__c":null,"P6__c":null,"PS__c":0,"Amount":10000,"BDR__c":null,"CHs__c":0,"COs__c":5,"DCs__c":0,"DPs__c":0,"EAS__c":0,"EBs__c":0,"Fiscal":"2026 2","IPs__c":0,"N11__c":null,"N13__c":null,"PAs__c":0,"PC5__c":false,"PCS__c":0,"PD1__c":null,"PD2__c":false,"PD6__c":null,"PD7__c":null,"PD8__c":false,"PD9__c":null,"PDS__c":25,"PR2__c":null,"PR3__c":null,"PR4__c":false,"PR5__c":null,"PR6__c":null,"PRS__c":0,"UVB__c":false,"IsSplit":true,"OwnerId":"00507000000gmm5AAA","PC11__c":null,"PC13__c":null,"PC15__c":null,"PD13__c":null,"PR10__c":null,"GCLID__c":null,"IsClosed":false,"NextStep":null,"Notes__c":null,"PD_ID__c":null,"Proof__c":false,"US_ID__c":null,"AccountId":"0019V00000vpZkQQAU","CloseDate":"2025-06-08T22:00:00.000Z","ContactId":"0039V000010Zj1rQAC","IsDeleted":false,"PMUser__c":false,"PushCount":0,"StageName":"Discovery","BDRUser__c":false,"Big_Bet__c":false,"CampaignId":null,"Channel__c":"Direct","Cluster__c":null,"Country__c":null,"FiscalYear":2026,"LeadSource":"IMT AE Prospecting","SAMUser__c":false,"TPMUser__c":false,"Trigger__c":false,"ACV_Comp__c":null,"AE_Split__c":false,"BDR_Team__c":null,"CreatedById":"00507000000gmm5AAA","CreatedDate":"2025-05-09T15:57:43.000Z","Description":null,"End_Date__c":null,"New_team__c":null,"Probability":0,"SAL_Date__c":"2025-05-08T22:00:00.000Z","SAO_Date__c":null,"Timeline__c":null,"TotalPOV__c":0,"Use_Case__c":null,"Authority__c":null,"BDR_split__c":null,"CCO_Value__c":null,"Close_Day__c":9,"Deal_Type__c":null,"Next_Step__c":null,"Operation__c":null,"RecordTypeId":"01207000000bpeJAAQ","RfX_Count__c":0,"Validated__c":0,"__IMTINDEX__":1,"imt_Notes__c":null,"BPM_Amount__c":null,"Churn_Risk__c":null,"DCM_Closed__c":null,"Department__c":null,"FiscalQuarter":2,"Initiative__c":null,"LostReason__c":null,"PM_Ranking__c":null,"Sourced_by__c":null,"__IMTLENGTH__":4,"BDR_Manager__c":null,"Close_Month__c":"05June","CurrentYear__c":true,"Date_of_EBC__c":null,"HasOverdueTask":false,"Has_Z_Quote__c":0,"LastViewedDate":null,"Maintenance__c":false,"Negotiation__c":false,"SystemModstamp":"2025-05-09T15:59:06.000Z","Test_Record__c":false,"BDR_Cosource__c":null,"CVM_Involved__c":false,"Churn_Reason__c":null,"CurrencyIsoCode":"USD","CurrentMonth__c":false,"ExpectedRevenue":0,"F_F_Campaign__c":null,"FlagBDRBatch__c":false,"Go_to_Market__c":"Co-Selling","HasOpenActivity":false,"MKT_Cosource__c":null,"Other_System__c":null,"Pipeline_Age__c":206,"Product_Type__c":null,"Related_Oppy__c":null,"Renewal_Date__c":null,"Renewal_Term__c":null,"Renewal_Type__c":"n/a","Software_ACV__c":null,"imt_Sub_Type__c":"Regular","BDRInfluenced__c":false,"Cloud_Partner__c":null,"Customer_Type__c":"New Customer","Deal_Briefing__c":null,"EMVP_Required__c":false,"ForecastCategory":"Pipeline","GPM_ID_Closed__c":null,"Has_Use_Cases__c":0,"LastActivityDate":null,"LastModifiedById":"00507000000gmm5AAA","LastModifiedDate":"2025-05-09T15:59:06.000Z","MEDDPICC_Help__c":"<a href=\"https://docs.google.com/spreadsheets/d/1b5W5ZfN3E042cMfHhk5pS8yFuUGe-mKVQzK8cEjDzxo/edit?us...","OpportunityID__c":"0069V00000RXjoS","Partner_Split__c":100,"Request_Quote__c":null,"SourcedbyUser__c":false,"TPM_ID_Closed__c":null,"TotalServices__c":0,"TotalSoftware__c":0,"Updates_Count__c":0,"Contract_Notes__c":null,"Created_by_BDR__c":0,"Deal_Sponsor_s__c":null,"IBC_Conversion__c":false,"Kafka_Use_Case__c":null,"Number_of_BVAs__c":null,"Pain_Confirmed__c":false,"Pain_Discovery__c":false,"PartnerManager__c":null,"Partner_Driven__c":null,"Process_Master__c":null,"RecordTypeName__c":"O04","Renewal_Amount__c":null,"Sales_Programs__c":null,"Source_Systems__c":null,"Sustainability__c":false,"Winback_Status__c":null,"imt_Challenges__c":"RGRGRG","Engagement_Type__c":null,"Initial_Contact__c":null,"LastReferencedDate":null,"MEDDICC_Metrics__c":null,"MEDDIC_Champion__c":null,"Need_for_Lenses__c":null,"New_Logo_Upsell__c":null,"Other_specified__c":null,"Partner_Sourced__c":"No","Proof_conducted__c":"No","Related_Project__c":null,"Special_Program__c":null,"AE_ID_Closed_Won__c":null,"Account_Industry__c":null,"Best_Case_Amount__c":null,"CVM_Churn_Amount__c":-10000,"Close_Month_Year__c":"June 2025","Credits_utilized__c":null,"Has_Legal_Object__c":false,"Kafka_Experience__c":null,"LID__My_DateTime__c":null,"LID__OrderNumber__c":null,"LastStageChangeDate":null,"NumberofProducts__c":0,"OppSharingHelper__c":false,"Opportunity_Link__c":"https://celonis.lightning.force.com/0069V00000RXjoSQAT","Owner_L2_Manager__c":"Unassigned","Partner_Cosource__c":"No","Price_indication__c":null,"Rejection_Reason__c":null,"Relevant_Details__c":null,"Remaining_Budget__c":null,"Safe_Harbor_Type__c":null,"Solution_In_Text__c":null,"Team_provisioned__c":false,"We_know_the_KPIs__c":null,"contact_required__c":0,"gaconnector_City__c":null,"imt_ICP_Category__c":"RGRGRG","zqu__OrderNumber__c":null,"Account_Territory__c":null,"BDR_Split_Defined__c":null,"Budget_for_Lenses__c":null,"CVG_Point_of_View__c":null,"ChurnConvertedUSD__c":-10000,"Close_FIscal_Year__c":2026,"Deal_Desk_Manager__c":"Tom Haydon","DeliveringPartner__c":null,"Executive_Summary__c":null,"FinOps_Influenced__c":null,"ForecastCategoryName":"Pipeline","Opportunity_Count__c":1,"PartnerInfluenced__c":false,"PipedrivePipeline__c":null,"Price_Increase_in__c":null,"ProcessOfInterest__c":null,"Secondary_Partner__c":null,"Split_Opportunity__c":null,"TSPC__CPDealCount__c":0,"Weighted_Pipeline__c":1000,"imt_Customer_Apps__c":null,"AmountConvertedUSD__c":10000,"BPO_Manager_Closed__c":null,"Close_Quarter_Year__c":"FY26 Q2","Connected_Solution__c":false,"Duration_Days_Week__c":null,"ECUSTOMS__RPS_Date__c":null,"Lenses_Competition__c":null,"Opportunity_Source__c":null,"PreSales_Stage_Opp__c":0,"Primary_Competitor__c":null,"Technology_Partner__c":null,"Upside_Opportunity__c":false,"Valid_Referral_Fee__c":false,"imt_Follow_up_Call__c":null,"imt_Make_LifeCycle__c":null,"Competitor_Tracking__c":null,"Conversion_from_C4C__c":null,"Executive_Alignment__c":false,"Expected_Start_Date__c":null,"Global_Churn_Amount__c":0,"HasOpportunityLineItem":false,"Hub_Requestor_Email__c":null,"LID__My_Geolocation__c":null,"LID__TrackingNumber__c":null,"Lenses_Pricing_Plan__c":null,"Process_Mining_Type__c":null,"Process_Of_Interest__c":null,"RSI_Venture_Manager__c":null,"Reignition_Campaign__c":false,"SUBS_SH_DaysToClose__c":-175,"gaconnector_Country__c":null,"imt_C_Level_Sponsor__c":null,"zqu__TrackingNumber__c":null,"Close_Fiscal_Quarter__c":"Q2","ECUSTOMS__RPS_Status__c":"Pending","External_Advisor_new__c":null,"Initial_Contact_Role__c":"Decision Maker","LID__MainCompetitors__c":null,"NumberofSaaSproducts__c":0,"Opportunity_Owner_L0__c":"Unassigned","Other_Unknown_Reason__c":null,"Primary_Partner_Role__c":null,"Request_Referral_Fee__c":null,"Software_Opportunity__c":null,"ffps_cext__Create_RR__c":false,"has_Approved_Z_Quote__c":0,"imt_DM_Meeting_Notes__c":null,"imt_Estimated_Budget__c":null,"imt_Lead_Source_Type__c":"AE Prospecting","zqu__MainCompetitors__c":null,"CVG_Account_Territory__c":null,"Celonis_Business_Unit__c":"Integromat/Make","Churn_Reason_Helptext__c":"<a href=\"https://docs.google.com/document/d/1zu1SMTDaP-BCKyaFZFGAjEJrXhmjoAXq8Bi7bg2IIcE/edit\" targe...","Cloud_Partner_Manager__c":null,"Competition_specified__c":null,"FY23_Hold_Opportunity__c":false,"Follow_up_Opportunity__c":null,"Has_Lost_Deal_Debrief__c":false,"MEDDIC_Economic_Buyer__c":null,"Opportunity_ID_Unique__c":"0069V00000RXjoSQAT","Regional_Churn_Amount__c":0,"Renewal_Solution_Plan__c":null,"TSPC__CP_TemplateName__c":null,"Team_provisioned_date__c":null,"gaconnector_Longitude__c":null,"gaconnector_Time_Zone__c":null,"imt_Key_Stakeholder_s__c":"RRG","imt_Make_Sales_Region__c":null,"imt_make_dispute_form__c":"Not Available","Added_to_10M_challenge__c":null,"Final_Presentation_new__c":null,"Forbes_2000_Greenfield__c":"No","Global_Partner_Manager__c":null,"Implementation_Partner__c":null,"MEDDIC_Competition_new__c":null,"MEDDIC_Identified_Pain__c":null,"Main_Deployment_Option__c":null,"Make_Bypass_VR_Backend__c":false,"Opportunity_Completion__c":4,"Opportunity_Owner_Role__c":"Make - Operations & Data","Opportunity_sent_to_AE__c":false,"Partner_Implementation__c":null,"Partner_Influenced_ACV__c":null,"PipeAmountConvertedUSD__c":10000,"PreSales_Details_Count__c":0,"Previous_Stage_s_Score__c":0,"PrimaryPresalesShareId__c":null,"Qualificationquestions__c":"1. What is the business problem to be addressed?\n\n2. Is there a project/initiative where process min...","SVP_Forecast_Judgement__c":null,"Secondary_Churn_Reason__c":null,"Secondary_Partner_Role__c":null,"Stage_Completion_Score__c":0,"gaconnector_IP_Address__c":null,"imt_Customer_Apps_Form__c":"<a href=\"https://airtable.com/appj6g8cr1gBHgeCS/pagu9nH15WFVoCOVH/form?prefill_account_id=0019V00000...","imt_Online_ARR_for_ACV__c":null,"imt_Opportunity_Source__c":null,"zqu__CurrentGenerators__c":null,"Exclude_from_Automation__c":false,"LastAmountChangedHistoryId":null,"Legacy_C4C_PartnerModel__c":null,"MEDDIC_Decision_Process__c":null,"Opportunity_Mature_Date__c":null,"Primary_Partner_Segment__c":null,"Process_responsible_for__c":null,"Regional_Manager_Amount__c":null,"Renewal_Amount_Adjusted__c":false,"Roll_Up_Carving_Account__c":"0019V00000vpZkQQAU","Sales_Region_Closed_Won__c":null,"Start_On_Site_Phase_new__c":null,"TSPC__CPStageAP_Enabled__c":false,"databooklabs__Last_Sync__c":null,"imt_Key_Onboarding_Info__c":null,"AE_Sales_Team_Closed_Won__c":null,"Change_Order_Opportunity__c":false,"Churn_Reason_Description__c":null,"ClosedAmountConvertedUSD__c":0,"CommitAmountConvertedUSD__c":0,"Contractual_Renewal_Date__c":null,"Deal_Registration_Number__c":null,"Exec_Sponsorship_Program__c":false,"Executive_Alignment_Date__c":null,"Latest_Cancellation_Date__c":null,"MEDDIC_Decision_Criteria__c":null,"NumberOfServicesProducts__c":0,"NumberofTrainingProducts__c":0,"SecondaryPresalesShareId__c":null,"Total_Contract_Value_TCV__c":null,"imt_Pre_Sales_Next_Steps__c":null,"Amount_Last_Modified_Date__c":null,"Celonis_Forecast_category__c":"Pipeline","Date_of_Handover_Workshop__c":null,"Date_of_last_Exec_Meeting__c":null,"Executive_Briefing_Center__c":false,"Manager_Forecast_Category__c":"Omitted","NumberOfOnPremiseProducts__c":0,"Number_of_Decision_Makers__c":null,"Number_of_Kafka_Engineers__c":null,"Public_Sector_Distributor__c":null,"RenewalAmountConvertedUSD__c":0,"ShareResellingOpportunity__c":null,"Sub_Regional_Churn_Amount__c":0,"Sync_to_Partner_Community__c":false,"Territory_Channel_Manager__c":null,"ffps_cext__Create_Project__c":false,"gaconnector_Pages_visited__c":null,"imt_Churn_Approval_Forced__c":false,"imt_Churn_Request_Details__c":null,"imt_Next_Step_Last_Update__c":null,"BestCaseAmountConvertedUSD__c":0,"Implementation_Opportunity__c":null,"LastCloseDateChangedHistoryId":null,"LastModifiedDate_Yesterday__c":false,"Opportunity_Owner_District__c":null,"Partner_Influenced_ACV_new__c":10000,"Partner_referral_fee_until__c":null,"Services_Forecast_Category__c":"Omitted","ShareDeliveringOpportunity__c":null,"Strategic_Alliance_Manager__c":null,"Technology_Partner_Manager__c":null,"imt_Is_Authority_Confirmed__c":null,"imt_Is_Renewal_Opportunity__c":false,"imt_Non_Make_Customer_Apps__c":null,"number_of_close_plan_tasks__c":0,"Approved_Pre_Sales_Requests__c":0,"Implementation_Party_Reason__c":null,"Influencing_Partner_Contact__c":null,"Non_Billable_Classification__c":null,"Reason_for_Additional_Hours__c":null,"SalesLoft1__Primary_Contact__c":null,"Scheduling_DemoDesk_Meeting__c":"<a href=\"https://demodesk.com/manage/schedule?objectType=Opportunity&amp;objectId=0069V00000RXjoS\" t...","Secondary_Deployment_Option__c":null,"Sub_Regional_Manager_Amount__c":null,"gaconnector_Last_Click_Term__c":null,"gaconnector_Location_approx__c":"<a href=\"https://maps.google.com/maps?q=loc:,\" target=\"_blank\">Open in Google Maps</a>","imt_Is_DM_Meeting_Delivered__c":null,"Co_delivery_Services_Partner__c":null,"Exec_Meeting_has_taken_place__c":false,"Opportunity_Owner_Sales_Team__c":"Unassigned","Opportunity_Owner_Sub_Region__c":"Unassigned","gaconnector_First_Click_Term__c":null,"gaconnector_Latitude_from_IP__c":null,"imt_First_Opportunity_Source__c":"AE Prospecting","imt_Trigger_Flow_with_Action__c":null,"Handover_to_Delivery_Required__c":false,"LID__My_Geolocation__Latitude__s":null,"TSPC__CPStageAP_EventBehavior__c":null,"gaconnector_Last_Click_Medium__c":null,"gaconnector_Last_Click_Source__c":null,"imt_DM_Meeting_Scheduled_Date__c":null,"imt_Implementation_Complexity__c":null,"imt_Is_Auto_Renewal_performed__c":false,"imt_Is_Opp_After_Renewal_Date__c":false,"Close_Plan_Completion_Progress__c":0,"Handover_to_Delivery_completed__c":false,"LID__My_Geolocation__Longitude__s":null,"Opportunity_Owner_Sales_Region__c":"Unassigned","Valid_for_handover_to_delivery__c":"Required fields are missing, please add: Date of Handover Workshop, Opportunity stage must be Closed...","gaconnector_First_Click_Medium__c":null,"gaconnector_First_Click_Source__c":null,"gaconnector_Last_Click_Channel__c":null,"gaconnector_Last_Click_Content__c":null,"Carve_out_Service_Opportunity_3__c":null,"Deal_Desk_Manager_ID_Closed_Won__c":null,"LID__DeliveryInstallationStatus__c":null,"Reason_for_Unknown_End_Customer__c":null,"gaconnector_First_Click_Channel__c":null,"gaconnector_First_Click_Content__c":null,"gaconnector_Last_Click_Campaign__c":null,"gaconnector_Last_Click_Referrer__c":null,"zqu__DeliveryInstallationStatus__c":null,"ECUSTOMS__RPS_RiskCountry_Status__c":"Pending","Product_Feedback_Business_Domain__c":null,"Sales_Excellence_Level_Timestamp__c":null,"Technology_Partner_Manager_Notes__c":null,"Validated_by_Renewals_Management__c":false,"gaconnector_First_Click_Campaign__c":null,"gaconnector_First_Click_Referrer__c":null,"AcceptedProposalsSoftwareServices__c":0,"Price_Increase_after_Initial_Term__c":null,"gaconnector_Google_Analytics_Link__c":"<a href=\"https://analytics.google.com/analytics/web/#report/visitors-user-activity/a72840801w1106174...","gaconnector_Time_Spent_on_Website__c":null,"imt_Commission_Payout_To_Initiate__c":false,"imt_Estimated_Production_Timeline__c":null,"MagentrixOne__PartnerAccount_mgtrx__c":null,"Total_x_more_than_y_in_last_12_mos__c":null,"gaconnector_Last_Click_Landing_Page__c":null,"imt_Active_Automation_Project_Exist__c":"Yes","imt_Create_Opp_From_Account_Message__c":"You must create the Opportunity from the Account, using the button [New Make Land Opportunity]","imt_Influencing_Opportunity_Sources__c":"AE Prospecting","imt_Is_Legal_Compliance_Security_OK__c":null,"Decision_Criteria_Process_identified__c":null,"Partner_Influenced_ACV_Converted_USD__c":10000,"SalesLoft1__Most_Recent_Cadence_Name__c":null,"gaconnector_First_Click_Landing_Page__c":null,"gaconnector_Number_of_Website_Visits__c":null,"imt_Customer_Automation_Project_Note__c":null,"imt_Small_Company_Size_Justification__c":null,"number_of_Completed_Close_Plan_Tasks__c":0,"imt_1st_Use_Case_Activation_Confirmed__c":null,"imt_Evaluation_Stakeholders_Confirmed__c":null,"imt_Total_Referral_Fee_Amount_On_Oppy__c":null,"Description_Partner_Influenced_Support__c":null,"Process_more_than_X_in_the_last_12_mos__c":null,"gaconnector_Google_Analytics_Client_ID__c":null,"imt_Automation_Success_Criteria_for_DM__c":null,"Original_C4C_Deal_Annual_Budget_Voucher__c":null,"Total_implementation_effort_scoped_Days__c":null,"imt_Commission_Payout_Process_Triggered__c":false,"gaconnector_Time_Spent_on_Website_formul__c":"0:0","imt_Make_Excluded_From_Commission_Payout__c":false,"SalesLoft1__Most_Recent_Last_Completed_Step__c":null},"91":{"Id":"0069V00000b2sJxQAI","Name":"GitLab - Make - ENT - Land","Type":"Land","E2__c":null,"E3__c":null,"E4__c":null,"E6__c":null,"E9__c":null,"IsWon":false,"Ms__c":0,"N3__c":null,"N4__c":null,"N6__c":null,"NS__c":0,"P1__c":null,"P2__c":null,"P3__c":null,"P4__c":null,"P5__c":null,"P6__c":null,"PS__c":0,"Amount":10000,"BDR__c":null,"CHs__c":0,"COs__c":5,"DCs__c":0,"DPs__c":0,"EAS__c":0,"EBs__c":0,"Fiscal":"2026 4","IPs__c":0,"N11__c":null,"N13__c":null,"PAs__c":0,"PC5__c":false,"PCS__c":0,"PD1__c":null,"PD2__c":false,"PD6__c":null,"PD7__c":null,"PD8__c":false,"PD9__c":null,"PDS__c":25,"PR2__c":null,"PR3__c":null,"PR4__c":false,"PR5__c":null,"PR6__c":null,"PRS__c":0,"UVB__c":false,"IsSplit":true,"OwnerId":"00507000004S3rRAAS","PC11__c":null,"PC13__c":null,"PC15__c":null,"PD13__c":null,"PR10__c":null,"GCLID__c":null,"IsClosed":false,"NextStep":null,"Notes__c":null,"PD_ID__c":null,"Proof__c":false,"US_ID__c":null,"AccountId":"0019V00001KqKDHQA3","CloseDate":"2025-12-31T23:00:00.000Z","ContactId":"0039V00001TyyhzQAB","IsDeleted":false,"PMUser__c":false,"PushCount":0,"StageName":"Discovery","BDRUser__c":false,"Big_Bet__c":false,"CampaignId":null,"Channel__c":"Direct","Cluster__c":null,"Country__c":"United Kingdom","FiscalYear":2026,"LeadSource":"IMT AE Prospecting","SAMUser__c":false,"TPMUser__c":false,"Trigger__c":false,"ACV_Comp__c":null,"AE_Split__c":false,"BDR_Team__c":null,"CreatedById":"00507000004S3rRAAS","CreatedDate":"2025-12-01T13:23:49.000Z","Description":null,"End_Date__c":null,"New_team__c":null,"Probability":0,"SAL_Date__c":"2025-11-30T23:00:00.000Z","SAO_Date__c":null,"Timeline__c":null,"TotalPOV__c":0,"Use_Case__c":null,"Authority__c":null,"BDR_split__c":null,"CCO_Value__c":null,"Close_Day__c":1,"Deal_Type__c":null,"Next_Step__c":null,"Operation__c":null,"RecordTypeId":"01207000000bpeJAAQ","RfX_Count__c":0,"Validated__c":0,"imt_Notes__c":null,"BPM_Amount__c":null,"Churn_Risk__c":null,"DCM_Closed__c":null,"Department__c":null,"FiscalQuarter":4,"Initiative__c":null,"LostReason__c":null,"PM_Ranking__c":null,"Sourced_by__c":null,"BDR_Manager__c":null,"Close_Month__c":"12January","CurrentYear__c":false,"Date_of_EBC__c":null,"HasOverdueTask":false,"Has_Z_Quote__c":null,"LastViewedDate":null,"Maintenance__c":false,"Negotiation__c":false,"SystemModstamp":"2025-12-01T13:24:10.000Z","Test_Record__c":false,"BDR_Cosource__c":null,"CVM_Involved__c":false,"Churn_Reason__c":null,"CurrencyIsoCode":"GBP","CurrentMonth__c":false,"ExpectedRevenue":0,"F_F_Campaign__c":null,"FlagBDRBatch__c":false,"Go_to_Market__c":"Co-Selling","HasOpenActivity":true,"MKT_Cosource__c":null,"Other_System__c":null,"Pipeline_Age__c":0,"Product_Type__c":null,"Related_Oppy__c":null,"Renewal_Date__c":null,"Renewal_Term__c":null,"Renewal_Type__c":"n/a","Software_ACV__c":null,"imt_Sub_Type__c":"Regular","BDRInfluenced__c":false,"Cloud_Partner__c":null,"Customer_Type__c":"New Customer","Deal_Briefing__c":null,"EMVP_Required__c":false,"ForecastCategory":"Pipeline","GPM_ID_Closed__c":null,"Has_Use_Cases__c":0,"LastActivityDate":null,"LastModifiedById":"00507000004S3rRAAS","LastModifiedDate":"2025-12-01T13:24:10.000Z","MEDDPICC_Help__c":"<a href=\"https://docs.google.com/spreadsheets/d/1b5W5ZfN3E042cMfHhk5pS8yFuUGe-mKVQzK8cEjDzxo/edit?us...","OpportunityID__c":"0069V00000b2sJx","Partner_Split__c":100,"Request_Quote__c":null,"SourcedbyUser__c":false,"TPM_ID_Closed__c":null,"TotalServices__c":0,"TotalSoftware__c":0,"Updates_Count__c":0,"Contract_Notes__c":null,"Created_by_BDR__c":0,"Deal_Sponsor_s__c":null,"IBC_Conversion__c":false,"Kafka_Use_Case__c":null,"Number_of_BVAs__c":null,"Pain_Confirmed__c":false,"Pain_Discovery__c":false,"PartnerManager__c":null,"Partner_Driven__c":null,"Process_Master__c":null,"RecordTypeName__c":"O04","Renewal_Amount__c":null,"Sales_Programs__c":null,"Source_Systems__c":null,"Sustainability__c":false,"Winback_Status__c":null,"imt_Challenges__c":"Hours wasted manually creating Tasks in a SFDC opportunity from transcripts in Gong and/or Google Do...","Engagement_Type__c":null,"Initial_Contact__c":null,"LastReferencedDate":null,"MEDDICC_Metrics__c":null,"MEDDIC_Champion__c":null,"Need_for_Lenses__c":null,"New_Logo_Upsell__c":null,"Other_specified__c":null,"Partner_Sourced__c":"No","Proof_conducted__c":"No","Related_Project__c":null,"Special_Program__c":null,"AE_ID_Closed_Won__c":null,"Account_Industry__c":"Information Technology","Best_Case_Amount__c":null,"CVM_Churn_Amount__c":-10000,"Close_Month_Year__c":"January 2026","Credits_utilized__c":null,"Has_Legal_Object__c":false,"Kafka_Experience__c":null,"LID__My_DateTime__c":null,"LID__OrderNumber__c":null,"LastStageChangeDate":null,"NumberofProducts__c":0,"OppSharingHelper__c":false,"Opportunity_Link__c":"https://celonis.lightning.force.com/0069V00000b2sJxQAI","Owner_L2_Manager__c":null,"Partner_Cosource__c":"No","Price_indication__c":null,"Rejection_Reason__c":null,"Relevant_Details__c":null,"Remaining_Budget__c":null,"Safe_Harbor_Type__c":null,"Solution_In_Text__c":null,"Team_provisioned__c":false,"We_know_the_KPIs__c":null,"contact_required__c":0,"gaconnector_City__c":null,"imt_ICP_Category__c":"Company size","zqu__OrderNumber__c":null,"Account_Territory__c":null,"BDR_Split_Defined__c":null,"Budget_for_Lenses__c":null,"CVG_Point_of_View__c":null,"ChurnConvertedUSD__c":-12399.26,"Close_FIscal_Year__c":2026,"Deal_Desk_Manager__c":"Tom Haydon","DeliveringPartner__c":null,"Executive_Summary__c":null,"FinOps_Influenced__c":null,"ForecastCategoryName":"Pipeline","Opportunity_Count__c":1,"PartnerInfluenced__c":false,"PipedrivePipeline__c":null,"Price_Increase_in__c":null,"ProcessOfInterest__c":null,"Secondary_Partner__c":null,"Split_Opportunity__c":null,"TSPC__CPDealCount__c":0,"Weighted_Pipeline__c":1000,"imt_Customer_Apps__c":null,"AmountConvertedUSD__c":12399.26,"BPO_Manager_Closed__c":null,"Close_Quarter_Year__c":"FY26 Q4","Connected_Solution__c":false,"Duration_Days_Week__c":null,"ECUSTOMS__RPS_Date__c":null,"Lenses_Competition__c":null,"Opportunity_Source__c":null,"PreSales_Stage_Opp__c":0,"Primary_Competitor__c":null,"Technology_Partner__c":null,"Upside_Opportunity__c":false,"Valid_Referral_Fee__c":false,"imt_Follow_up_Call__c":null,"imt_Make_LifeCycle__c":null,"Competitor_Tracking__c":null,"Conversion_from_C4C__c":null,"Executive_Alignment__c":false,"Expected_Start_Date__c":null,"Global_Churn_Amount__c":0,"HasOpportunityLineItem":false,"Hub_Requestor_Email__c":null,"LID__My_Geolocation__c":null,"LID__TrackingNumber__c":null,"Lenses_Pricing_Plan__c":null,"Process_Mining_Type__c":null,"Process_Of_Interest__c":null,"RSI_Venture_Manager__c":null,"Reignition_Campaign__c":false,"SUBS_SH_DaysToClose__c":31,"gaconnector_Country__c":null,"imt_C_Level_Sponsor__c":null,"zqu__TrackingNumber__c":null,"Close_Fiscal_Quarter__c":"Q4","ECUSTOMS__RPS_Status__c":"Pending","External_Advisor_new__c":null,"Initial_Contact_Role__c":"Economic Buyer","LID__MainCompetitors__c":null,"NumberofSaaSproducts__c":0,"Opportunity_Owner_L0__c":null,"Other_Unknown_Reason__c":null,"Primary_Partner_Role__c":null,"Request_Referral_Fee__c":null,"Software_Opportunity__c":null,"ffps_cext__Create_RR__c":false,"has_Approved_Z_Quote__c":null,"imt_DM_Meeting_Notes__c":null,"imt_Estimated_Budget__c":null,"imt_Lead_Source_Type__c":"AE Prospecting","zqu__MainCompetitors__c":null,"CVG_Account_Territory__c":null,"Celonis_Business_Unit__c":"Integromat/Make","Churn_Reason_Helptext__c":"<a href=\"https://docs.google.com/document/d/1zu1SMTDaP-BCKyaFZFGAjEJrXhmjoAXq8Bi7bg2IIcE/edit\" targe...","Cloud_Partner_Manager__c":null,"Competition_specified__c":null,"FY23_Hold_Opportunity__c":false,"Follow_up_Opportunity__c":null,"Has_Lost_Deal_Debrief__c":false,"MEDDIC_Economic_Buyer__c":null,"Opportunity_ID_Unique__c":"0069V00000b2sJxQAI","Regional_Churn_Amount__c":0,"Renewal_Solution_Plan__c":null,"TSPC__CP_TemplateName__c":null,"Team_provisioned_date__c":null,"gaconnector_Longitude__c":null,"gaconnector_Time_Zone__c":null,"imt_Key_Stakeholder_s__c":"Jonathan","imt_Make_Sales_Region__c":null,"imt_make_dispute_form__c":"Not Available","Added_to_10M_challenge__c":null,"Final_Presentation_new__c":null,"Forbes_2000_Greenfield__c":"No","Global_Partner_Manager__c":null,"Implementation_Partner__c":null,"MEDDIC_Competition_new__c":null,"MEDDIC_Identified_Pain__c":null,"Main_Deployment_Option__c":null,"Make_Bypass_VR_Backend__c":false,"Opportunity_Completion__c":4,"Opportunity_Owner_Role__c":"Make - CRO","Opportunity_sent_to_AE__c":false,"Partner_Implementation__c":null,"Partner_Influenced_ACV__c":null,"PipeAmountConvertedUSD__c":12399.26,"PreSales_Details_Count__c":0,"Previous_Stage_s_Score__c":0,"PrimaryPresalesShareId__c":null,"Qualificationquestions__c":"1. What is the business problem to be addressed?\n\n2. Is there a project/initiative where process min...","SVP_Forecast_Judgement__c":null,"Secondary_Churn_Reason__c":null,"Secondary_Partner_Role__c":null,"Stage_Completion_Score__c":0,"gaconnector_IP_Address__c":null,"imt_Customer_Apps_Form__c":"<a href=\"https://airtable.com/appj6g8cr1gBHgeCS/pagu9nH15WFVoCOVH/form?prefill_account_id=0019V00001...","imt_Online_ARR_for_ACV__c":null,"imt_Opportunity_Source__c":null,"zqu__CurrentGenerators__c":null,"Exclude_from_Automation__c":false,"LastAmountChangedHistoryId":null,"Legacy_C4C_PartnerModel__c":null,"MEDDIC_Decision_Process__c":null,"Opportunity_Mature_Date__c":null,"Primary_Partner_Segment__c":null,"Process_responsible_for__c":null,"Regional_Manager_Amount__c":null,"Renewal_Amount_Adjusted__c":false,"Roll_Up_Carving_Account__c":"0019V00001KqKDHQA3","Sales_Region_Closed_Won__c":null,"Start_On_Site_Phase_new__c":null,"TSPC__CPStageAP_Enabled__c":false,"databooklabs__Last_Sync__c":null,"imt_Key_Onboarding_Info__c":null,"AE_Sales_Team_Closed_Won__c":null,"Change_Order_Opportunity__c":false,"Churn_Reason_Description__c":null,"ClosedAmountConvertedUSD__c":0,"CommitAmountConvertedUSD__c":0,"Contractual_Renewal_Date__c":null,"Deal_Registration_Number__c":null,"Exec_Sponsorship_Program__c":false,"Executive_Alignment_Date__c":null,"Latest_Cancellation_Date__c":null,"MEDDIC_Decision_Criteria__c":null,"NumberOfServicesProducts__c":0,"NumberofTrainingProducts__c":0,"SecondaryPresalesShareId__c":null,"Total_Contract_Value_TCV__c":null,"imt_Pre_Sales_Next_Steps__c":null,"Amount_Last_Modified_Date__c":null,"Celonis_Forecast_category__c":"Pipeline","Date_of_Handover_Workshop__c":null,"Date_of_last_Exec_Meeting__c":null,"Executive_Briefing_Center__c":false,"Manager_Forecast_Category__c":"Omitted","NumberOfOnPremiseProducts__c":0,"Number_of_Decision_Makers__c":null,"Number_of_Kafka_Engineers__c":null,"Public_Sector_Distributor__c":null,"RenewalAmountConvertedUSD__c":0,"ShareResellingOpportunity__c":null,"Sub_Regional_Churn_Amount__c":0,"Sync_to_Partner_Community__c":false,"Territory_Channel_Manager__c":null,"ffps_cext__Create_Project__c":false,"gaconnector_Pages_visited__c":null,"imt_Churn_Approval_Forced__c":false,"imt_Churn_Request_Details__c":null,"imt_Next_Step_Last_Update__c":null,"BestCaseAmountConvertedUSD__c":0,"Implementation_Opportunity__c":null,"LastCloseDateChangedHistoryId":null,"LastModifiedDate_Yesterday__c":false,"Opportunity_Owner_District__c":null,"Partner_Influenced_ACV_new__c":10000,"Partner_referral_fee_until__c":null,"Services_Forecast_Category__c":"Omitted","ShareDeliveringOpportunity__c":null,"Strategic_Alliance_Manager__c":null,"Technology_Partner_Manager__c":null,"imt_Is_Authority_Confirmed__c":null,"imt_Is_Renewal_Opportunity__c":false,"imt_Non_Make_Customer_Apps__c":null,"number_of_close_plan_tasks__c":0,"Approved_Pre_Sales_Requests__c":0,"Implementation_Party_Reason__c":null,"Influencing_Partner_Contact__c":null,"Non_Billable_Classification__c":null,"Reason_for_Additional_Hours__c":null,"SalesLoft1__Primary_Contact__c":null,"Scheduling_DemoDesk_Meeting__c":"<a href=\"https://demodesk.com/manage/schedule?objectType=Opportunity&amp;objectId=0069V00000b2sJx\" t...","Secondary_Deployment_Option__c":null,"Sub_Regional_Manager_Amount__c":null,"gaconnector_Last_Click_Term__c":null,"gaconnector_Location_approx__c":"<a href=\"https://maps.google.com/maps?q=loc:,\" target=\"_blank\">Open in Google Maps</a>","imt_Is_DM_Meeting_Delivered__c":null,"Co_delivery_Services_Partner__c":null,"Exec_Meeting_has_taken_place__c":false,"Opportunity_Owner_Sales_Team__c":"none","Opportunity_Owner_Sub_Region__c":null,"gaconnector_First_Click_Term__c":null,"gaconnector_Latitude_from_IP__c":null,"imt_First_Opportunity_Source__c":"AE Prospecting","imt_Trigger_Flow_with_Action__c":null,"Handover_to_Delivery_Required__c":false,"LID__My_Geolocation__Latitude__s":null,"TSPC__CPStageAP_EventBehavior__c":null,"gaconnector_Last_Click_Medium__c":null,"gaconnector_Last_Click_Source__c":null,"imt_DM_Meeting_Scheduled_Date__c":null,"imt_Implementation_Complexity__c":null,"imt_Is_Auto_Renewal_performed__c":false,"imt_Is_Opp_After_Renewal_Date__c":false,"Close_Plan_Completion_Progress__c":0,"Handover_to_Delivery_completed__c":false,"LID__My_Geolocation__Longitude__s":null,"Opportunity_Owner_Sales_Region__c":null,"Valid_for_handover_to_delivery__c":"Required fields are missing, please add: Date of Handover Workshop, Opportunity stage must be Closed...","gaconnector_First_Click_Medium__c":null,"gaconnector_First_Click_Source__c":null,"gaconnector_Last_Click_Channel__c":null,"gaconnector_Last_Click_Content__c":null,"Carve_out_Service_Opportunity_3__c":null,"Deal_Desk_Manager_ID_Closed_Won__c":null,"LID__DeliveryInstallationStatus__c":null,"Reason_for_Unknown_End_Customer__c":null,"gaconnector_First_Click_Channel__c":null,"gaconnector_First_Click_Content__c":null,"gaconnector_Last_Click_Campaign__c":null,"gaconnector_Last_Click_Referrer__c":null,"zqu__DeliveryInstallationStatus__c":null,"ECUSTOMS__RPS_RiskCountry_Status__c":"Pending","Product_Feedback_Business_Domain__c":null,"Sales_Excellence_Level_Timestamp__c":null,"Technology_Partner_Manager_Notes__c":null,"Validated_by_Renewals_Management__c":false,"gaconnector_First_Click_Campaign__c":null,"gaconnector_First_Click_Referrer__c":null,"AcceptedProposalsSoftwareServices__c":0,"Price_Increase_after_Initial_Term__c":null,"gaconnector_Google_Analytics_Link__c":"<a href=\"https://analytics.google.com/analytics/web/#report/visitors-user-activity/a72840801w1106174...","gaconnector_Time_Spent_on_Website__c":null,"imt_Commission_Payout_To_Initiate__c":false,"imt_Estimated_Production_Timeline__c":null,"MagentrixOne__PartnerAccount_mgtrx__c":null,"Total_x_more_than_y_in_last_12_mos__c":null,"gaconnector_Last_Click_Landing_Page__c":null,"imt_Active_Automation_Project_Exist__c":"No","imt_Create_Opp_From_Account_Message__c":"You must create the Opportunity from the Account, using the button [New Make Land Opportunity]","imt_Influencing_Opportunity_Sources__c":"AE Prospecting","imt_Is_Legal_Compliance_Security_OK__c":null,"Decision_Criteria_Process_identified__c":null,"Partner_Influenced_ACV_Converted_USD__c":12399.26,"SalesLoft1__Most_Recent_Cadence_Name__c":null,"gaconnector_First_Click_Landing_Page__c":null,"gaconnector_Number_of_Website_Visits__c":null,"imt_Customer_Automation_Project_Note__c":"Solution Architect's sales calls","imt_Small_Company_Size_Justification__c":null,"number_of_Completed_Close_Plan_Tasks__c":0,"imt_1st_Use_Case_Activation_Confirmed__c":null,"imt_Evaluation_Stakeholders_Confirmed__c":null,"imt_Total_Referral_Fee_Amount_On_Oppy__c":null,"Description_Partner_Influenced_Support__c":null,"Process_more_than_X_in_the_last_12_mos__c":null,"gaconnector_Google_Analytics_Client_ID__c":null,"imt_Automation_Success_Criteria_for_DM__c":null,"Original_C4C_Deal_Annual_Budget_Voucher__c":null,"Total_implementation_effort_scoped_Days__c":null,"imt_Commission_Payout_Process_Triggered__c":false,"gaconnector_Time_Spent_on_Website_formul__c":"0:0","imt_Make_Excluded_From_Commission_Payout__c":false,"SalesLoft1__Most_Recent_Last_Completed_Step__c":null}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}