28309_Blueprinter.json
{"flow":[{"id":1,"mapper":{"id":"2508881924","get-draft":false,"body-format":"storage"},"module":"confluence:getPage","version":1,"metadata":{"expect":[{"name":"id","type":"text","label":"Page ID","required":true},{"name":"version","type":"uinteger","label":"Version"},{"name":"get-draft","type":"boolean","label":"Draft"},{"name":"body-format","type":"select","label":"Body Returning Format"}],"restore":{"expect":{"id":{"rpcSearch":{"label":"[Insert Scenario Name]","value":"2508881924"}},"get-draft":{"mode":"chose"},"body-format":{"mode":"chose","label":"Storage"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"confluence"},"label":"confluence_Kellan (integromat <k.strobel@make.com>)"}}},"advanced":true,"designer":{"x":0,"y":0,"name":"Fetch Template"},"parameters":[{"name":"__IMTCONN__","type":"account:confluence","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2781}},{"id":5,"mapper":{"team":80,"limit":"1","folder":1864,"organization":658333,"customProperties":[[{"a":"Project","b":"Demo","o":"text:contains"}]]},"module":"make:searchScenarios","version":1,"metadata":{"expect":[{"name":"organization","type":"select","label":"Organization"},{"name":"islinked","type":"boolean","label":"Only active scenarios"},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"team","type":"select","label":"Team"},{"name":"defaultProperties","type":"filter","label":"Filter by default scenario properties","options":{"logic":"and","store":[{"label":"Created by user name (Text)","value":"createdByUserName"},{"label":"Last edited by user name (Text)","value":"updatedByUserName"},{"label":"Scenario ID (Number)","value":"id"},{"label":"Incomplete executions (Number)","value":"incompleteExecutions"}],"operators":[{"label":"Text","options":[{"label":"Contains","value":"contains"}]},{"label":"Number","options":[{"label":"Equals","value":"equals"}]}]}},{"name":"customProperties","type":"filter","label":"Filter by custom scenario properties","options":{"logic":"and","store":[{"label":"[AUTOMATED] Auto-generated ID Atlassian Confluence (number)","value":"ScenarioStandardIDAtlassianConfluence"},{"label":"[AUTOMATED] Auto-generated scenario description (longText)","value":"ScenarioStandardDescription"},{"label":"[AUTOMATED] Auto-generated scenario documentation URL (shortText)","value":"ScenarioStandardDocumentationURL"},{"label":"[AUTOMATED] Scenario name based on naming conventions (shortText)","value":"ScenarioStandardName"},{"label":"[AUTOMATED] Weight Score for Scenario Optimisation (shortText)","value":"WeightScore"},{"label":"isTest (boolean)","value":"isTest"},{"label":"isCritical (boolean)","value":"isCritical"},{"label":"Backup (shortText)","value":"BackupOfScenario"},{"label":"Description (longText)","value":"Description"},{"label":"Project (shortText)","value":"Project"},{"label":"Status (dropdown)","value":"Status"},{"label":"Sub Team (longText)","value":"SubTeam"},{"label":"Documentation URL (longText)","value":"DocumentationURL"},{"label":"Owner (shortText)","value":"OwnerOfScenario"}],"operators":[{"label":"Text","options":[{"label":"Contains","value":"text:contains"}]},{"label":"Number","options":[{"label":"Equals","value":"number:equals"}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:equals"}]},{"label":"Dropdown","options":[{"label":"Equals","value":"dropdown:equals"}]},{"label":"Multiselect","options":[{"label":"Equals","value":"multiselect:equals"}]}]}},{"name":"folder","type":"select","label":"Folder"}],"restore":{"expect":{"team":{"mode":"chose","label":"SALES_VE_GTM_Test & QA"},"folder":{"mode":"chose","label":"Mark Demos"},"islinked":{"mode":"chose"},"organization":{"mode":"chose","label":"🔥_Make_Global_ORG_🔥"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"My Make (API key) connection (j.vanmaanen.ext@celonis.de)"}}},"designer":{"x":300,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:make2,make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":8149}},{"id":11,"mapper":{"to":"{{now}}","from":"{{addDays(now; -29)}}","limit":"10","scenario":"{{5.id}}","showCheckRuns":false},"module":"make:listScenarioLogs","version":1,"metadata":{"expect":[{"name":"scenario","type":"text","label":"Scenario ID","required":true},{"name":"from","time":true,"type":"date","label":"From"},{"name":"to","time":true,"type":"date","label":"To"},{"name":"status","type":"select","label":"Status","validate":{"enum":["1","2","3"]}},{"name":"showCheckRuns","type":"boolean","label":"Show check runs"},{"name":"limit","type":"uinteger","label":"Limit"}],"restore":{"expect":{"status":{"mode":"chose","label":"Empty"},"showCheckRuns":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"My Make (API key) connection (j.vanmaanen.ext@celonis.de)"}}},"designer":{"x":600,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:make2,make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":8149}},{"id":12,"mapper":{"id":"{{11.id}}","type":"{{11.type}}","error":"{{11.error}}","imtId":"{{11.imtId}}","detail":"{{11.detail}}","status":"{{11.status}}","teamId":"{{11.teamId}}","instant":"{{11.instant}}","authorId":"{{11.authorId}}","duration":"{{11.duration}}","transfer":"{{11.transfer}}","eventType":"{{11.eventType}}","timestamp":"{{11.timestamp}}","operations":"{{11.operations}}","scenarioId":"{{11.scenarioId}}","statusLabel":"{{11.statusLabel}}","centicredits":"{{11.centicredits}}","isReplayable":"{{11.isReplayable}}","scenarioName":"{{11.scenarioName}}","organizationId":"{{11.organizationId}}","replayOfExecutionId":"{{11.replayOfExecutionId}}","replayOfExecutionName":"{{11.replayOfExecutionName}}"},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"Make - List scenario logs [11]"},"target":{"label":"Custom"}}},"designer":{"x":900,"y":0}},"parameters":{"feeder":11}},{"id":6,"mapper":{"select":"file","scenario":"{{5.id}}"},"module":"make:getAScenarioBlueprint","version":1,"metadata":{"expect":[{"name":"scenario","type":"text","label":"Scenario ID","required":true},{"name":"draft","type":"boolean","label":"Draft"},{"name":"select","type":"select","label":"Return a blueprint","required":true,"validate":{"enum":["json","string","file"]}}],"restore":{"expect":{"draft":{"mode":"chose"},"select":{"mode":"chose","label":"In a JSON file"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"My Make (API key) connection (j.vanmaanen.ext@celonis.de)"}}},"designer":{"x":1200,"y":0},"interface":[{"name":"blueprint","type":"buffer","label":"Blueprint data","semantic":"file:data"},{"name":"filename","type":"filename","label":"File name","semantic":"file:name"},{"name":"gitSHA","type":"text","label":"GitHub SHA"},{"name":"scheduling","spec":[{"name":"type","type":"text","label":"Type"},{"name":"between","spec":{"type":"date"},"type":"array","label":"Between"},{"name":"interval","type":"number","label":"Interval"},{"name":"restrict","spec":{"spec":[{"name":"days","spec":{"type":"number"},"type":"array","label":"Days"},{"name":"time","spec":{"type":"text"},"type":"array","label":"Time"},{"name":"months","spec":{"type":"number"},"type":"array","label":"Months"}],"type":"collection"},"type":"array","label":"Restrict"},{"name":"date","time":true,"type":"date","label":"Date"},{"name":"time","type":"text","label":"Time"},{"name":"days","type":"array","label":"Days"},{"name":"months","type":"array","label":"Months"}],"type":"collection","label":"Scheduling"},{"name":"concept","type":"boolean","label":"Concept"},{"name":"idSequence","type":"uinteger","label":"ID Sequence"},{"name":"created","time":true,"type":"date","label":"Created"},{"name":"last_edit","time":true,"type":"date","label":"Last edit"},{"name":"metadata","spec":[{"name":"input_spec","type":"any","label":"Input spec"},{"name":"output_spec","type":"any","label":"Output spec"}],"type":"collection","label":"Metadata"},{"name":"length","type":"number","label":"Length"}],"parameters":[{"name":"__IMTCONN__","type":"account:make2,make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":8149}},{"id":3,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":4,"mapper":{"agent":"b06cde3c-c1fb-4d28-8d70-a4bf48594720","timeout":"","messages":["**THE BLUEPRINT (JSON):** \n{{toString(6.blueprint)}}","**SOURCE TEMPLATE (HTML):** \n{{1.body.storage.value}}","**OWNER ID:**\n{{1.ownerId}}","**SCENARIO_LOGS:**\n{{12.array}}"],"threadID":"","outputType":"","additionalSystemPrompt":""},"module":"ai-agent:RunAnAIAgent","version":0,"metadata":{"expect":[{"name":"agent","type":"aiagent","label":"Agent","required":true},{"name":"threadID","type":"text","label":"Thread ID","validate":{"max":256}},{"name":"additionalSystemPrompt","type":"text","label":"Additional system instructions"},{"name":"messages","spec":{"name":"value","type":"text","label":"Message"},"type":"array","label":"Messages"},{"name":"timeout","type":"number","label":"Timeout","validate":{"max":600,"min":120}},{"name":"outputType","type":"select","label":"Output schema","validate":{"enum":["text","make-schema"]}}],"restore":{"expect":{"agent":{"label":"Blueprint Librarian"},"messages":{"mode":"chose","items":[null,null,null,null]},"outputType":{"label":"Empty"}}},"designer":{"x":1800,"y":0}},"parameters":{}},{"id":7,"mapper":{"gfm":true,"data":"{{4.response}}","sanitize":false},"module":"markdown:Compile","version":2,"metadata":{"expect":[{"name":"data","type":"text","label":"Markdown"},{"name":"gfm","type":"boolean","label":"GitHub Flavored Markdown","required":true},{"name":"sanitize","type":"boolean","label":"Sanitize","required":true}],"restore":{"expect":{"gfm":{"mode":"chose"},"sanitize":{"mode":"chose"}}},"designer":{"x":2100,"y":0}},"parameters":{}},{"id":8,"mapper":{"title":"{{5.name}}","value":"<p class=\"auto-cursor-target\">\n    <ac:structured-macro ac:name=\"info\" ac:schema-version=\"1\">\n        <ac:rich-text-body>\n            <p><strong>AI Generated Documentation:</strong> This page was reverse-engineered from the technical blueprint. Please review the \"AI Analysis Notes\" section at the bottom for any inferred logic.</p>\n        </ac:rich-text-body>\n    </ac:structured-macro>\n</p>\n\n<ac:layout>\n  <ac:layout-section type=\"single\">\n    <ac:layout-cell>\n\n{{replace(replace(7.data; \"[[OWNER_PLACEHOLDER]]\"; \"<ac:link><ri:user ri:account-id=\"\"\" + 1.version.authorId + \"\"\" /></ac:link>\"); \"[[SCENARIO_LINK_PLACEHOLDER]]\"; \"<a href=\"\"https://we.make.com/\" + 12.array[1].teamId + \"/scenarios/\" + 12.array[1].scenarioId + \"\"\">\" + 12.array[1].scenarioId + \"</a>\")}}\n\n    </ac:layout-cell>\n  </ac:layout-section>\n</ac:layout>","status":"current","private":false,"spaceId":"{{1.spaceId}}","embedded":false,"parentId":"{{1.parentId}}","searchMethod":"select","representation":"storage"},"module":"confluence:createPage","version":1,"metadata":{"expect":[{"name":"searchMethod","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","manually"]}},{"name":"status","type":"select","label":"Status","required":true,"validate":{"enum":["current","draft"]}},{"name":"title","type":"text","label":"Title","required":true},{"name":"representation","type":"select","label":"Content Format","required":true,"validate":{"enum":["atlas_doc_format","storage","wiki"]}},{"name":"value","type":"text","label":"Content","required":true},{"name":"private","type":"boolean","label":"Private","required":true},{"name":"embedded","type":"boolean","label":"Embedded","required":true},{"name":"parentId","type":"text","label":"Parent ID"},{"name":"spaceId","type":"select","label":"Space ID","required":true}],"restore":{"expect":{"status":{"mode":"chose","label":"Published"},"private":{"mode":"chose"},"spaceId":{"mode":"edit"},"embedded":{"mode":"chose"},"searchMethod":{"label":"Select from the list"},"representation":{"mode":"chose","label":"Confluence Storage Format"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"confluence"},"label":"confluence_Kellan (integromat <k.strobel@make.com>)"}}},"advanced":true,"designer":{"x":2400,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:confluence","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2781}}]}],"version":1,"metadata":{"designer":{"x":1500,"y":0}}}],"name":"Blueprinter","metadata":{"instant":false,"version":1,"designer":{"orphans":[],"samples":{"1":{"id":"2508881924","body":{"storage":{"value":"<h1 local-id=\"ffe374f1-b765-4883-821c-09636218c56b\">Scenario Documentation: [Insert Scenario Name]</...","representation":"storage"}},"title":"[Insert Scenario Name]","_links":{"base":"https://make.atlassian.net/wiki","webui":"/spaces/~7120201e43e6108a2e4ccb967b54d16e0757f3/pages/2508881924/Insert+Scenario+Name","editui":"/pages/resumedraft.action?draftId=2508881924","tinyui":"/x/BICKlQ","edituiv2":"/spaces/~7120201e43e6108a2e4ccb967b54d16e0757f3/pages/edit-v2/2508881924"},"status":"current","ownerId":"712020:1e43e610-8a2e-4ccb-967b-54d16e0757f3","spaceId":"2509045773","version":{"number":1,"message":"","authorId":"712020:1e43e610-8a2e-4ccb-967b-54d16e0757f3","createdAt":"2025-12-15T16:46:45.750Z","minorEdit":false,"ncsStepVersion":"7"},"authorId":"712020:1e43e610-8a2e-4ccb-967b-54d16e0757f3","parentId":"2509602834","position":856,"createdAt":"2025-12-15T16:45:43.974Z","parentType":"folder","lastOwnerId":null},"4":{"response":"# Scenario Documentation: Slack Modal\n\n## 1. Scenario Metadata\n| Attribute | Value |\n| :--- | :--- |...","threadId":"c8082ba3-f958-4ecc-ad70-449cf04e0615","executionSteps":[{"id":"msg_0de638d4220909b901694147596824819bbe30a33ec0165a49","role":"assistant","content":"# Scenario Documentation: Slack Modal\n\n## 1. Scenario Metadata\n| Attribute | Value |\n| :--- | :--- |...","reasoning":"**Filling template with data**\n\nI need to fill in the template using data from the blueprint and log...","tokenUsage":{"totalTokens":23472,"promptTokens":21086,"completionTokens":2386},"executionTimeMs":18748,"agentIterationId":"dc17244c-bdef-40dc-b7f2-f3914a0d5e55"}],"executionTimeMs":18864,"tokenUsageSummary":{"totalTokens":23472,"promptTokens":21086,"completionTokens":2386},"lastAgentIterationId":"dc17244c-bdef-40dc-b7f2-f3914a0d5e55"},"5":{"id":23406,"name":"slackbot [slack modal]","hookId":8197,"teamId":80,"created":"2025-11-27T12:07:27.332Z","deviceId":null,"dlqCount":0,"folderId":1864,"isPaused":false,"islinked":true,"islocked":false,"lastEdit":"2025-12-03T16:01:08.566Z","nextExec":null,"isinvalid":false,"iswaiting":false,"scheduling":{"type":"immediately"},"description":"","deviceScope":null,"__IMTINDEX__":1,"usedPackages":["gateway"],"__IMTLENGTH__":1,"createdByUser":{"id":1519946,"name":"GTM SE Demo","email":"gtm-se-demo@make.com"},"updatedByUser":{"id":930790,"name":"Mark Skinner","email":"m.skinner@make.com"},"customProperties":{"Status":"Development","isTest":true,"Project":"Demo","SubTeam":null,"isCritical":false,"Description":null,"WeightScore":"1.8 🟢","OwnerOfScenario":"gtm-se-demo@make.com","BackupOfScenario":"m.skinner@make.com","DocumentationURL":null,"ScenarioStandardName":"MARK_DEMOS_slack_modal_20251127_G","ScenarioStandardDescription":null,"ScenarioStandardDocumentationURL":null,"ScenarioStandardIDAtlassianConfluence":null}},"6":{"gitSHA":"cc22353f2be60b488b113f98e513842363ab46d4","length":52599,"concept":false,"created":"2025-11-27T12:07:27.332Z","filename":"blueprint.json","metadata":{"input_spec":[],"output_spec":[]},"blueprint":"IMTBuffer(52599, binary, 1c3cf12475aaf2471579780a418ab500cbdde722): 7b22666c6f77223a5b7b226964223a31...","last_edit":"2025-12-03T16:01:08.566Z","idSequence":35,"scheduling":{"type":"immediately"}},"7":{"data":"<h1 id=\"scenario-documentation-slack-modal\">Scenario Documentation: Slack Modal</h1>\n<h2 id=\"1-scena..."},"8":{"id":"2514092037","body":{"storage":{"value":"<p class=\"auto-cursor-target\">\n    <ac:structured-macro ac:name=\"info\" ac:schema-version=\"1\" ac:macr...","representation":"storage"}},"title":"slackbot [slack modal]","_links":{"base":"https://make.atlassian.net/wiki","webui":"/spaces/~7120201e43e6108a2e4ccb967b54d16e0757f3/pages/2514092037/slackbot+slack+modal","editui":"/pages/resumedraft.action?draftId=2514092037","tinyui":"/x/BQDalQ","edituiv2":"/spaces/~7120201e43e6108a2e4ccb967b54d16e0757f3/pages/edit-v2/2514092037"},"status":"current","ownerId":"62b8e329d8658e0d4917f56d","spaceId":"2509045773","version":{"number":1,"message":"","authorId":"62b8e329d8658e0d4917f56d","createdAt":"2025-12-16T11:49:47.069Z","minorEdit":false,"ncsStepVersion":null},"authorId":"62b8e329d8658e0d4917f56d","parentId":"2509602834","position":1400,"createdAt":"2025-12-16T11:49:47.069Z","parentType":"folder","lastOwnerId":null},"11":{"id":"1ae2da8a735040d397ab23352e56b483","type":"auto","error":null,"imtId":"1764781767021_scenario.23406.auto.1ae2da8a735040d397ab23352e56b483","detail":null,"status":1,"teamId":80,"instant":true,"authorId":null,"duration":114562,"transfer":22405,"eventType":"EXECUTION_END","timestamp":"2025-12-03T17:09:27.021Z","operations":10,"scenarioId":23406,"statusLabel":"Success","__IMTINDEX__":1,"centicredits":1177,"isReplayable":true,"scenarioName":"slack modal","__IMTLENGTH__":10,"organizationId":658333,"replayOfExecutionId":null,"replayOfExecutionName":null},"12":{"array":[{"id":"654859d27df0401b91212c893bb7dd13","type":"auto","error":{"name":"RuntimeError","message":"[400] Related To ID: id value of incorrect type: [OPPORTUNITY_ID]","causeModule":{"name":"createAResponsibleRecord","appName":"salesforce"}},"imtId":"1764772526541_scenario.23406.auto.654859d27df0401b91212c893bb7dd13","detail":{"author":{"name":"Mark Skinner","staff":true}},"status":1,"teamId":80,"instant":true,"authorId":930790,"duration":616,"transfer":11936,"eventType":"EXECUTION_END","timestamp":"2025-12-03T14:35:26.541Z","operations":6,"scenarioId":23406,"statusLabel":"Success","centicredits":600,"isReplayable":true,"scenarioName":"slack modal","organizationId":658333,"replayOfExecutionId":null,"replayOfExecutionName":null}],"__IMTAGGLENGTH__":10}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}